//Section Maintenance
section.section-height.bg-image.bg-image-1.section-middle
  .container.z-index
    .row
      .col-xl-8
        .jumbotron.jumbotron-mod-2.text-center.text-md-left.well-1
          h1 The Website<br> Is In Maintenance Mode
          p Custom maintenance mode page. In an ideal world this website wouldn't exist, a client would acknowledge the importance of having web copy before the design starts. Needless to say it's very important, content is king and people are beginning to understand.
          // RD Mailform
          form.rd-mailform.rd-mailform-mod-2(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input#login-email-3.form-input(type='email' name='email' data-constraints='@Email @Required')
              label.form-label(for='login-email-3') Your e-mail
            button.btn.btn-primary.btn-sm be the 1st notify

