//Section 404
section.section-height.section-height-1.bg-image.bg-image-1.section-middle
  .container.z-index
    .jumbotron.jumbotron-mod-1.text-center.text-md-left
      h1 404. Page Not Found
      a(href="index.html").btn.btn-transparent.btn-md back to home page

