//Section Login
section.section-height-mod-1.bg-image.bg-image-1.section-middle
  .container.text-white.text-center.text-lg-left.z-index
    h1 Create an Account
    .row.justify-content-center.justify-content-lg-start
      .col-sm-12.col-md-8.col-xl-4
        .jumbotron.jumbotron-mod-1.text-center.text-lg-left
            // Rd Mailform result field
            .rd-mailform-validate
            // RD Mailform
            form.rd-mailform.rd-mailform-mod-1

              .form-wrap
                input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
                label.form-label(for='contact-name') Your Name

              .form-wrap
                input#contact-username.form-input(type='text' name='name' data-constraints='@Required')
                label.form-label(for='contact-username') Your username

              .form-wrap
                input#login-email.form-input(type='email' name='email' data-constraints='@Email')
                label.form-label(for='login-email') Your e-mail

              .form-wrap
                input#login-password.form-input(type='password' name='password' data-constraints='@Required')
                label.form-label Password

              button.btn.btn-primary.btn-md(type='submit') Create an account

            p Or enter with
            .btn-group-mod-2
              a(href="#").btn.btn-sm.btn-info
                span.fa-facebook
              a(href="#").btn.btn-sm.btn-info-2
                span.fa-twitter
              a(href="#").btn.btn-sm.btn-danger
                span.fa-google-plus

