//Section Login
section.section-height.bg-image.bg-image-1.section-middle
  .container.z-index
    .text-white.text-center.text-lg-left
      h1 Coming Soon
      .row.row-30.offset-top-0
        .col-md-12
          .countdown-wrap
            // Countdown
            .DateCountdown(data-type='until' data-date='2018-12-31 00:00:00' data-format='wdhms' data-color='#eb3751' data-bg='rgba(245, 245, 245, 1)' data-width='0.02')
        .col-lg-9.col-xl-7
          p Enter your email address to receive all news, updates on new arrivals, special offers and other information.
          // RD Mailform
          form.rd-mailform.rd-mailform-mod-3(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input#login-email-3.form-input(type='email' name='email' data-constraints='@Email @Required')
              label.form-label(for='login-email-3') Your e-mail
            button.btn.btn-primary.btn-sm(type="submit") be the 1st to notify