//Section Login
section.section-height-mod-1.bg-image.bg-image-1.section-middle
  .container.z-index
    .row.justify-content-center.justify-content-lg-start
      .col-sm-12.col-md-8.col-xl-4
        .jumbotron.jumbotron-mod-1.text-center.text-lg-left
          h1 Login
          include ../../elements/_login-form

