// Section Catalog
section.section-sm
  .container
    .row.row-45.row-md-60
      .col-sm-12.col-xl-8
        .row.row-45.row-md-60.clearleft-custom-5
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-6.jpg", "$4,339.00/","Building: 123 on the Park", "Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-7.jpg", "$2,229.00/","225 Maywood Dr, San Francisco, CA 94127", "One of the original homes built at Ocean Beach.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-8.jpg", "$1,339.00/","2266 48th Ave", "Classic architectural detail, truly superb floor plan & strong upside potential for the next steward to restore this forever home to greatness.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-9.jpg", "$4,339.00/","1336 N Occidental Blvd", "Located in the heart of Silver Lake, this magnificently re-imagined Spanish bungalow is not to be missed.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-10.jpg", "$2,229.00/","650 Kelton Ave #201", "Front-facing, single level, well-designed floor plan. Secure building in a highly DESIRABLE location!")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-11.jpg", "$1,339.00/","1735 N Fuller Ave #124", "This charming 2 bed and 2 bath townhome has been beautifully renovated and ready for its next owners.")
          .col-sm-12.text-center.text-md-left
            +pagination()
      .col-sm-12.col-xl-4
        +section-gmap({})
