// Section Catalog Single Right
section.section-sm.bg-default
  .container.text-center.text-lg-left
    h2 Similar Properties
    hr
    .row.row-45.row-md-60.clearleft-custom.text-left
      .col-sm-12.col-md-6.col-lg-4
        + thumbnail ( "images/index-6.jpg", "$4,339.00/","Building: 123 on the Park", "Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.")
      .col-sm-12.col-md-6.col-lg-4
        + thumbnail ( "images/index-7.jpg", "$2,229.00/","225 Maywood Dr, San Francisco, CA 94127", "One of the original homes built at Ocean Beach.")
      .col-sm-12.col-md-6.col-lg-4
        + thumbnail ( "images/index-8.jpg", "$1,339.00/","2266 48th Ave", "Classic architectural detail, truly superb floor plan & strong upside potential for the next steward to restore this forever home to greatness.")