// Section Sorting
section.section-xs
  .container.sort-panel-between
    // RD SelectMenu
    .sort-input.pull-xs-left
      label.small.text-regular(for='sort-1') Sort
        select#sort-1.rd-mailform-select(name='select')
          option(value="By Price" selected) By Price
          option(value="By Date") By Date
          option(value="By Square") By Square
          option(value="By Location") By Location
    .btn-group-mod-3.sorting.text-left.pull-xs-right
      a(href="property-catalog-list.html").btn.btn-primary.btn-sm List
      a(href="property-catalog-grid.html").btn.btn-primary.btn-sm.active Grid