// Section Catalog Single Left
section.section-sm.bg-default
  .container
    h2 7758 Laguna Heights Court, Boston, MA 02127
    hr
    .row.row-45.row-md-60
      .col-sm-12.col-lg-8
        .product-carousel(data-lightbox="gallery")
          // Slick Carousel
          .slick-slider.slider.carousel-parent(data-arrows="true", data-loop="false", data-dots='false', data-swipe="true", data-items="1" data-child="#child-carousel", data-for="#child-carousel")
            .item
              a(href="images/catalog_single-1_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-1.jpg" alt="" width="770" height="520")
            .item
              a(href="images/catalog_single-2_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-2.jpg" alt="" width="770" height="520")
            .item
              a(href="images/catalog_single-3_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-3.jpg" alt="" width="770" height="520")
            .item
              a(href="images/catalog_single-4_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-4.jpg" alt="" width="770" height="520")
            .item
              a(href="images/catalog_single-5_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-5.jpg" alt="" width="770" height="520")
            .item
              a(href="images/catalog_single-6_original.jpg" data-lightbox="image")
                img(src="images/catalog_single-6.jpg" alt="" width="770" height="520")

          .carousel-thumbnail.slider.slick-slider#child-carousel(data-for=".carousel-parent", data-arrows="true",
          data-loop="false", data-dots='false', data-swipe="false",
          data-items="3", data-sm-items="3", data-md-items="5", data-lg-items="5", data-xl-items="5", data-slide-to-scroll="1" data-md-vertical='true')
            .item
              img(src="images/catalog_single-1.jpg" alt="" width="770" height="520")
            .item
              img(src="images/catalog_single-2.jpg" alt="" width="770" height="520")
            .item
              img(src="images/catalog_single-3.jpg" alt="" width="770" height="520")
            .item
              img(src="images/catalog_single-4.jpg" alt="" width="770" height="520")
            .item
              img(src="images/catalog_single-5.jpg" alt="" width="770" height="520")
            .item
              img(src="images/catalog_single-6.jpg" alt="" width="770" height="520")

        .row.row-60.d-lg-none
          .col-sm-12.col-md-6
            .text-left
              ul.list-unstyled.small
                li
                  span.text-darker Created:
                  time(datetime="2015") 5 months 7 days ago
                li
                  span.text-darker Updated:
                  time(datetime="2015") 1 month 18 days ago


              ul.describe-1.list-unstyled
                li
                  span.icon-square
                    svg(x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
                      g
                        path(d='M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6\
                          H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5\
                          c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z')
                        path(d='M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4\
                          C37,79.3,38.1,78.2,38.1,76.9')
                        path(d='M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4\
                          C37,53.1,38.1,52.1,38.1,50.7')
                        path(d='M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4\
                          C0,37.8,1.1,38.8,2.4,38.8')
                        path(d='M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4\
                          C33.3,44.9,34.4,46,35.7,46')
                        path(d='M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4\
                          C76.2,44.9,77.3,46,78.6,46')
                        path(d='M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4\
                          C76.2,44.9,77.3,46,78.6,46')
                        path(d='M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4\
                          C79.9,46,81,44.9,81,43.6')
                        path(d='M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4\
                          C79.9,46,81,44.9,81,43.6')
                  | 1200 sq ft
                li
                  span.icon.icon-sm.icon-darker.hotel-icon-10
                  | 2 bathrooms
              ul.describe-2.list-unstyled.preffix-2
                li
                  span.icon.icon-sm.icon-darker.hotel-icon-05
                  | 4 bedrooms
                li
                  span.icon.icon-sm.icon-darker.hotel-icon-26
                  | 2 garages

          .sidebar-module.col-sm-12.col-md-6
            .price
              p.small Price
              p
                span.h4 $342.00/day
                span.h6.text-darker: del $402.00/day
              .btn-group-isotope
                a(href="contact_us.html").btn.btn-primary.btn-primary-transparent.btn-md.btn-min-width-lg contact an agent
                a(href="contact_us.html").btn.btn-primary.btn-primary-transparent.btn-md.btn-min-width-lg request a showing

        .row
          .col-sm-12
            h4 Description
            p 405 Canyon Vista Dr Spectacular mountain view, sublime privacy & endless flexibility converge right here on 1 of Mt Washington's favorite streets. Sunrise breakfast vistas, discreet gated entry & the luxury of an open loft office/den plus the 2/2 practicality let you love it just as it is or spend happy veranda hours contemplating expansive Dwell or HGTV dreams. Cars to pamper or creative space high on your list? The enclosed carport is ready and waiting. Longing to build some raised garden beds? The generous Meyer lemon will dress your fresh veggies in style. Contemplating happy gatherings? The indoor ope...n flow welcomes cozy dinners or that long summer feast under the stars. Lovingly cared for, wonderfully sited for all that brings you to Mt Washington, handy to NELA & beyond.
            .table-responsive
              table.table
                thead
                  tr.bg-gray
                    th(colspan='2') Property Amenities
                tbody
                  tr
                    td Features
                    td Lawn, Sprinkler System, Marble Floors
                  tr
                    td MLS Listing ID
                    td 12345678
                  tr
                    td Year Built
                    td 1868
                  tr
                    td Lot Size
                    td 5.45
                  tr
                    td School District
                    td Boston Glen (925) 862-2026
                  tr
                    td High School
                    td Call School District
                  tr
                    td Middle School
                    td Call School District
                  tr
                    td Elementary School
                    td Call School District
                  tr
                    td Parking Type
                    td Garage - Attached
                  tr
                    td Room Count
                    td 6
                  tr
                    td Roof Type
                    td Tile
                  tr
                    td View Type
                    td Mountain
                  tr
                    td Exterior Type
                    td Stucco
            .table-responsive
              table.table
                thead
                  tr.bg-gray
                    th(colspan='3') Nearby Schools
                tbody
                  tr
                    td St Andrew's Cathedral School
                    td Combined
                    td 0.16 km
                  tr
                    td Macquarie Grammar School
                    td Secondary
                    td 0.45 km
                  tr
                    td Holmes Secondary College
                    td Secondary
                    td 0.52 km
                  tr
                    td Grammar School
                    td Secondary
                    td 0.82 km
      .col-sm-12.col-lg-4
        .catalog-sidebar.row.row-60
          .sidebar-module.col-lg-12.text-left.order-lg-0
            ul.list-unstyled.small
              li
                span.text-darker Created:
                time(datetime="2015") 5 months 7 days ago
              li
                span.text-darker Updated:
                time(datetime="2015") 1 month 18 days ago

          .sidebar-module.col-md-6.col-lg-12.order-lg-2
            ul.describe-1.list-unstyled
              li
                span.icon-square
                  svg(x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
                    g
                      path(d='M3.6,75.7h3.6V7.3l85.7-0.1v85.3l-16.7-0.1l0-16.7c0-0.9-0.4-1.9-1-2.5c-0.7-0.7-1.6-1-2.5-1h-69V75.7h3.6\
                      H3.6v3.6H69L69,96c0,2,1.6,3.6,3.6,3.6l23.8,0.1c1,0,1.9-0.4,2.5-1c0.7-0.7,1-1.6,1-2.5V3.6c0-1-0.4-1.9-1-2.5\
                      c-0.7-0.7-1.6-1-2.5-1L3.6,0.1C1.6,0.2,0,1.7,0,3.7v72c0,0.9,0.4,1.9,1,2.5c0.7,0.7,1.6,1,2.5,1V75.7z')
                      path(d='M38.1,76.9v-9.5c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v9.5c0,1.3,1.1,2.4,2.4,2.4\
                      C37,79.3,38.1,78.2,38.1,76.9')
                      path(d='M38.1,50.7V15c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v35.7c0,1.3,1.1,2.4,2.4,2.4\
                      C37,53.1,38.1,52.1,38.1,50.7')
                      path(d='M2.4,38.8h33.3c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H2.4c-1.3,0-2.4,1.1-2.4,2.4\
                      C0,37.8,1.1,38.8,2.4,38.8')
                      path(d='M35.7,46h31c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-31c-1.3,0-2.4,1.1-2.4,2.4\
                      C33.3,44.9,34.4,46,35.7,46')
                      path(d='M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4\
                      C76.2,44.9,77.3,46,78.6,46')
                      path(d='M78.6,46h16.7c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4H78.6c-1.3,0-2.4,1.1-2.4,2.4\
                      C76.2,44.9,77.3,46,78.6,46')
                      path(d='M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4\
                      C79.9,46,81,44.9,81,43.6')
                      path(d='M81,43.6v-7.1c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4v7.1c0,1.3,1.1,2.4,2.4,2.4\
                      C79.9,46,81,44.9,81,43.6')
                | 1200 sq ft
              li
                span.icon.icon-sm.icon-darker.hotel-icon-10
                | 2 bathrooms
            ul.describe-2.list-unstyled.preffix-2
              li
                span.icon.icon-sm.icon-darker.hotel-icon-05
                | 4 bedrooms
              li
                span.icon.icon-sm.icon-darker.hotel-icon-26
                | 2 garages
          .sidebar-module.col-md-6.col-lg-12.order-lg-4
            ul.list-unstyled
              li
                span.icon.icon-darker.icon-xxs.fa-star-o
                a(href="#").preffix-1.text-accent Add to Favorites
              li.offset-6
                ul.list-inline
                  li
                    span.icon.icon-xxs-mod-1.icon-darker.fa-share-square-o
                    span.preffix-1 Share:
                  li
                    a.fa-facebook(href='#')
                  li
                    a.fa-twitter(href='#')
                  li
                    a.fa-pinterest-p(href='#')
                  li
                    a.fa-google(href='#')
          .sidebar-module.col-md-6.col-lg-12.order-lg-5
            +section-gmap({
              gmapClass: 'rd-google-map-mod-1'
            })

          .sidebar-module.col-md-6.col-lg-12.order-lg-3
            .price
              p.small Price
              p
                span.h4 $342.00/day
                span.h6.text-darker: del $402.00/day
              .btn-group-isotope
                a(href="contact_us.html").btn.btn-primary.btn-primary-transparent.btn-md.btn-min-width-lg contact an agent
                a(href="contact_us.html").btn.btn-primary.btn-primary-transparent.btn-md.btn-min-width-lg request a showing

          .sidebar-module.col-md-6.col-lg-12.order-lg-6
            h4 Request a Showing
            // RD Mailform
            form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .form-wrap
                input#contact-first-name.form-input(type='text' name='name' data-constraints='@Required')
                label.form-label(for='contact-first-name') Your First Name

              .form-wrap
                input#contact-last-name.form-input(type='text' name='name' data-constraints='@Required')
                label.form-label(for='contact-last-name') Your Last Name

              .form-wrap
                input#contact-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
                label.form-label(for='contact-phone') Phone

              .form-wrap
                input#login-email-2.form-input(type='email' name='email' data-constraints='@Email @Required')
                label.form-label(for='login-email-2') Username or e-mail

              .form-wrap
                label.form-label.form-label-textarea(for='contact-message') I`m interested in 7758 Laguna Heights Court, Boston, MA 02127. Please contact me with more information!
                textarea#contact-message.form-input(name='message' data-constraints='@Required')
              button.btn.btn-primary.btn-md(type='submit') send message

          .sidebar-module.col-md-6.col-lg-12.order-lg-7
            h4 Agent Information
            .media.media-mod-3
              .media-left.round.img-width-auto
                img.round(src="images/agency-1.jpg" alt="" width="100" height="100")
              .media-body
                h6.text-accent Brandon Miller
                p.small.text-darker Listing Agent
                a(href="callto:#").text-bold +1 (201) 123 4567
            p He is our leading specialist in everything concerning Real Estate and property management.
            a(href="agent-personal.html").btn.btn-primary.btn-primary-transparent.btn-sm Learn more