//Section Button sizes
section.section-md.section-md-mod-1.overflow-ellipsis.grid
  .container-fluid.well-2
    h2 Full-Width Grid System
    hr
    .row
      .col-12
        .well-1.bg-gray-dark
          h4 1/1
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.
    .row
      .col-6
        .well-1.bg-gray-dark
          h4 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
      .col-6
        .well-1.bg-gray-dark
          h4 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .row
      .col-4
        .well-1.bg-gray-dark
          h4 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
      .col-4
        .well-1.bg-gray-dark
          h4 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
      .col-4
        .well-1.bg-gray-dark
          h4 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
    .row
      .col-3
        .well-1.bg-gray-dark
          h4 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
      .col-3
        .well-1.bg-gray-dark
          h4 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
      .col-3
        .well-1.bg-gray-dark
          h4 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
      .col-3
        .well-1.bg-gray-dark
          h4 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
    .row
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.
      .col-2
        .well-1.bg-gray-dark
          h4 1/6
          p Welcome to our wonderful world.