//Section Isotop
section.section-md
  .container
    h2 Masonry Grid
    hr
    p Choose the option for display
    .btn-group-isotope
      button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm.active All
      button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 1
      button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 2
      button(data-isotope-filter="type-3" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 3
    .isotope.row.row-30.masonry-gallery(data-isotope-layout="masonry" data-isotope-group="gallery" data-lightbox="gallery")
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-1")
        .thumbnail-gallery
          a(href="images/gallery-1_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-1.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-1")
        .thumbnail-gallery
          a(href="images/gallery-2_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-2.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-1")
        .thumbnail-gallery
          a(href="images/gallery-3_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-3.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-2")
        .thumbnail-gallery
          a(href="images/gallery-4_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-4.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-2")
        .thumbnail-gallery
          a(href="images/gallery-6_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-6.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-2")
        .thumbnail-gallery
          a(href="images/gallery-5_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-5.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-2")
        .thumbnail-gallery
          a(href="images/gallery-7_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-7.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-3")
        .thumbnail-gallery
          a(href="images/gallery-8_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-8.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-3")
        .thumbnail-gallery
          a(href="images/gallery-9_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-9.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-3")
        .thumbnail-gallery
          a(href="images/gallery-11_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-11.jpg" alt="" width="370" height="421")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-3")
        .thumbnail-gallery
          a(href="images/gallery-10_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-10.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?
      .isotope-item.col-sm-12.col-md-6.col-lg-4(data-filter="type-2")
        .thumbnail-gallery
          a(href="images/gallery-12_original.jpg" data-lightbox="image")
            img(src="images/gallery-masonry-12.jpg" alt="" width="370" height="251")
            .caption
              .caption-wrapper
                h5.text-white Beautiful Penthouse
                p.text-white Consider this project. Is there anything really exciting to say about it?