//Section Isotop
section.section-sm.section-sm-mod-2
   .container
      h2 Cobbles Grid
      hr
      p Choose the option for display

      .btn-group-isotope
         button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm.active All
         button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 1
         button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 2
         button(data-isotope-filter="type-3" data-isotope-group="gallery").btn.btn-primary.btn-primary-transparent.btn-sm.btn-min-width-sm  Type 3
   .container-fluid
      .isotope.row.cobbles-gallery(data-isotope-layout="masonry" data-isotope-group="gallery" data-lightbox="gallery")
         .isotope-item.isotope-width-1(data-filter="type-1")
            .thumbnail-gallery
               a(href="images/gallery-4_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-1.jpg" alt="" width="384" height="518")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-1")
            .thumbnail-gallery
               a(href="images/gallery-1_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-2.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-2(data-filter="type-1")
            .thumbnail-gallery
               a(href="images/gallery-6_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-3.jpg" alt="" width="768" height="518")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-2")
            .thumbnail-gallery
               a(href="images/gallery-3_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-4.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-2")
            .thumbnail-gallery
               a(href="images/gallery-11_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-6.jpg" alt="" width="384" height="518")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-2")
            .thumbnail-gallery
               a(href="images/gallery-8_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-5.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-2")
            .thumbnail-gallery
               a(href="images/gallery-7_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-7.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-3")
            .thumbnail-gallery
               a(href="images/gallery-2_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-8.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-3")
            .thumbnail-gallery
               a(href="images/gallery-5_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-9.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
         .isotope-item.isotope-width-1(data-filter="type-3")
            .thumbnail-gallery
               a(href="images/gallery-9_original.jpg" data-lightbox="image")
                  img(src="images/gallery-cobbles-10.jpg" alt="" width="384" height="259")
                  .caption
                     .caption-wrapper
                        h5.text-white Beautiful Penthouse
                        p.text-white Consider this project. Is there anything really exciting to say about it?
