extends  ../_skeleton
include ../mixins/_thumbnail-mixin-2
include ../mixins/_pagination-mixin

block variables
  - var page_class = 'text-left'
  - var activeIndex = 7
  - var title_h1 = "3 Columns Grid Layout"
  - var bread_2 = "Blog"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title 3 Columns Grid Blog

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/blog/_section_blog_columns_3

  // Page Footer
  include ../elements/_footer