extends  ../_skeleton
include ../mixins/_pagination-mixin
include ../mixins/_thumbnail-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Jessica Davidson"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_row_adjuster = "justify-content-xl-end"
  - var section_full_col_adjuster = "col-xl-8"
  - var section_full_text="Realtor"

block title
  title Personal Page

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/personal_agent/_section_personal_agent_1
  include ../section/pages/personal_agent/_section_personal_agent_2
  include ../section/pages/personal_agent/_section_personal_agent_3

  // Page Footer
  include ../elements/_footer