extends  ../_skeleton
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Agency Page"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Agency Page

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/agency/_section_agency-1
  include ../section/pages/agency/_section_agency-2
  include ../section/pages/agency/_section_agency-3
  include ../section/pages/agency/_section_agency-4

  // Page Footer
  include ../elements/_footer