extends  ../_skeleton
include ../mixins/_media-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Make an Appointment"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""
  - var section_full_text=""

block title
  title Make an Appointment

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/appoitment/_section_appointment_1

  // Page Footer
  include ../elements/_footer