extends  ../_skeleton
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 2
  - var title_h1 = "Buttons"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Buttons

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/buttons/_section_buttons-1
  include ../section/buttons/_section_buttons-2
  include ../section/buttons/_section_buttons-3
  include ../section/buttons/_section_buttons-4

  // Page Footer
  include ../elements/_footer