extends  ../_skeleton
include ../mixins/_category-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Categories"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Categories

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/categories/_section_categories-1
  include ../section/pages/categories/_section_categories-2

  // Page Footer
  include ../elements/_footer