extends  ../_skeleton
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 4
  - var footer_class_adjuster = "bg-gray"

block title
  title Coming Soon

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../section/extras/_section_coming

  // Page Footer
  include ../elements/_footer