extends  ../_skeleton
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Contact Us 2"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Contact Us 2

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/contacts/_section_contact_2_1
  include ../section/pages/contacts/_section_contact_2_2

  // Page Footer
  include ../elements/_footer