extends  ../_skeleton
block variables
  - var page_class = 'text-center text-lg-left'
  - var activeIndex = 2
  - var title_h1 = "Forms"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Forms

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/forms/_section_forms-1
  include ../section/forms/_section_forms-2
  include ../section/forms/_section_forms-3

  // Page Footer
  include ../elements/_footer