extends  ../_skeleton
block variables
  - var page_class = 'text-center text-xl-left'
  - var activeIndex = 8
  - var title_h1 = "Grid Without Padding Gallery"
  - var bread_2 = "Gallery"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Grid Without Padding Gallery

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/gallery/_section-gallery-2

  // Page Footer
  include ../elements/_footer