extends  ../_skeleton
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 2
  - var title_h1 = "Grid Systems"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Grid Systems

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/grid/_section_grid-1
  include ../section/grid/_section_grid-2

  // Page Footer
  include ../elements/_footer