extends  ../_skeleton
block variables
  - var page_class = 'text-sm-left'
  - var activeIndex = 2
  - var title_h1 = "Icons"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Icons

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/icons/_font-awesome
  include ../section/icons/_material-icons
  include ../section/icons/_linecons

  // Page Footer
  include ../elements/_footer