extends  ../_skeleton
include ../mixins/_category-mixin
include ../mixins/_thumbnail-mixin
include ../mixins/_media-mixin
block variables
  - var activeIndex = 1
  - var footer_class_adjuster = "bg-gray"
  - var background_color = "bg-gray-dark"
  - var swiper_class_adjuster =""
block title
  title Home

block page
  // Page Header
  include ../elements/_header
  include ../elements/_section_swiper

  // Page Content
  include ../section/index/_section_index-1
  include ../section/index/_section_index-2
  include ../section/index/_section_index-3
  include ../section/index/_section_index-4
  include ../section/index/_section_index-5
  include ../section/index/_section_index-6

  // Page Footer
  include ../elements/_footer


