extends  ../_skeleton
include ../mixins/_category-mixin
include ../mixins/_thumbnail-mixin
include ../mixins/_media-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 3
  - var footer_class_adjuster = ""
  - var swiper_class_adjuster = "swiper-vert-mid"

block title
  title Header Hamburger

block page
  // Page Header
  include ../elements/_header-hamburger
  include ../elements/_section_swiper

    // Page Content
  include ../section/index/_section_index-3

  // Page Footer
  include ../elements/_footer