extends  ../_skeleton
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Our Team"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Our Team

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/team/_section_team-1
  include ../section/pages/team/_section_team-2
  include ../section/pages/team/_section_team-3
  include ../section/pages/team/_section_team-4

  // Page Footer
  include ../elements/_footer