extends  ../_skeleton
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Pricing"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""
block title
  title Pricing
block page
  // Page Header
  include ../elements/_header
  // Page Content

  include ../elements/_section_fullwidth
  include ../section/pages/pricing/_section-pricing-1
  include ../section/pages/pricing/_section-pricing-2
  include ../section/pages/pricing/_section-pricing-3

  // Page Footer
  include ../elements/_footer