extends  ../_skeleton

include ../elements/_ui-progress-bar-linear

block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 2
  - var title_h1 = "Progress Bars"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Progress Bars

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/progress_bars/_section_progress_bars-1
  include ../section/progress_bars/_section_progress_bars-2
  include ../section/progress_bars/_section_progress_bars-3

  // Page Footer
  include ../elements/_footer