extends  ../_skeleton
include ../mixins/_thumbnail-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 5
  - var title_h1 = "Single Property Page"
  - var bread_2 = "Property Catalog"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Single Property Page

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/catalog/_section_catalog_single-1
  include ../section/catalog/_section_catalog_single-2

  // Page Footer
  include ../elements/_footer