extends  ../_skeleton
include ../mixins/_thumbnail-mixin-4
include ../mixins/_pagination-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 5
  - var title_h1 = "Property Catalog List"
  - var bread_2 = "Property Catalog"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster="section-full-mod-1"
  - var section_full_col_adjuster = ""
  - var position_margin_top_adjuster="position-margin-top-mod-1"

block title
  title Property Catalog List

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/index/_section_index-1
  include ../section/catalog/_section_catalog_list-1
  include ../section/catalog/_section_catalog_list-2

  // Page Footer
  include ../elements/_footer