extends  ../_skeleton
include ../mixins/_thumbnail-mixin-3
include ../mixins/_thumbnail-mixin-2
include ../mixins/_pagination-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 7
  - var title_h1 = "Right Sidebar"
  - var bread_2 = "Blog"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Right Sidebar

block page
  #fb-root
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/blog/_section_right_sidebar

  // Page Footer
  include ../elements/_footer