extends  ../_skeleton

block variables
  - var page_class = 'text-left page-custom'
  - var activeIndex = 6
  - var title_h1 = "Search-results"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"

block title
  title=title_h1

block page 
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth

  // Search results
  section.section-md.section-item
    .container
      .row.row-60.justify-content-center
        .col-lg-9
          .rd-navbar-search.text-center.text-md-left
            // RD Search
            form.rd-form.rd-search.rd-navbar-search-form(action='search-results.html' method='GET')
              .form-wrap
                label.form-label(for='rd-search-form-input') Search
                input.form-input(id='rd-search-form-input' type='text' name='s' autocomplete='off')
              button.btn.btn-primary.btn-md(type='submit') Search
              
        .col-lg-9
          .rd-search-results
  ='\n'
  
  // Page Footer
  include ../elements/_footer