extends  ../_skeleton
include ../mixins/_media-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Services 1"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Services

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/services/_section_services_1_1
  include ../section/pages/services/_section_services_1_2
  include ../section/pages/services/_section_services_1_3

  // Page Footer
  include ../elements/_footer