extends  ../_skeleton
include ../mixins/_media-mixin
block variables
  - var page_class = 'text-left'
  - var activeIndex = 6
  - var title_h1 = "Submit Property"
  - var bread_2 = "Pages"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Submit Property

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/pages/submit-property/_section-submit-property-1

  // Page Footer
  include ../elements/_footer