extends  ../_skeleton
block variables
  - var page_class = 'text-center text-xl-left'
  - var activeIndex = 2
  - var title_h1 = "Table Styles"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Table Styles

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/tables/_section_tables-1
  include ../section/tables/_section_tables-2
  include ../section/tables/_section_tables-3

  // Page Footer
  include ../elements/_footer