extends  ../_skeleton
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 2
  - var title_h1 = "Tabs & Accordions"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Tabs & Accordions

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/tabs/_section_tabs-1
  include ../section/tabs/_section_tabs-2
  include ../section/tabs/_section_tabs-3

  // Page Footer
  include ../elements/_footer