extends  ../_skeleton
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 4
  - var title_h1 = "Terms of Service"
  - var bread_2 = "Extras"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Terms of Service

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/extras/_section_terms

  // Page Footer
  include ../elements/_footer