extends  ../_skeleton
include ../mixins/_media-mixin
block variables
  - var page_class = 'text-center text-md-left'
  - var activeIndex = 2
  - var title_h1 = "Typography"
  - var bread_2 = "Elements"
  - var footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""

block title
  title Typography

block page
  // Page Header
  include ../elements/_header

  // Page Content
  include ../elements/_section_fullwidth
  include ../section/typography/_section_typography-1

  // Page Footer
  include ../elements/_footer