section.section-sm
  .container.text-center.text-md-left
    h2 What we offer
    hr
    .row.row-45.text-center.flow-offset-3
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-gray-dark
          .pricing-head
            h3.fw-r Mini
          ul.pricing-body.list-marked-mod-1
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .price
            h2 29
              span /month
          .pricing-footer
            a.btn.btn-md.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-gray-dark
          .pricing-head
            h3.fw-r Medium
          ul.pricing-body.list-marked-mod-2
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .price
            h2 49
              span /month
          .pricing-footer
            a.btn.btn-md.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-gray-dark
          .pricing-head
            h3.fw-r Normal
          ul.pricing-body.list-marked-mod-3
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .price
            h2 79
              span /month
          .pricing-footer
            a.btn.btn-md.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-gray-dark
          .pricing-head
            h3.fw-r Super
          ul.pricing-body.list-marked-mod-4
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .price
            h2 109
              span /month
          .pricing-footer
            a.btn.btn-md.btn-primary(href="#") Buy Now
