section.section-sm
  .container.text-center.text-md-left
    h2 Pricing
    hr
    .row
      .col-sm-12
        .table-responsive
          table.table-striped.table.table-striped-mod-1
            thead
              tr.bg-gray-dark.text-bold
                th &nbsp;
                th.text-center Personal
                th.text-center Professional
                th.text-center Business
                th.text-center Gold
            tbody
              tr
                td No limits on time or users
                td +
                td +
                td +
                td +
              tr
                td Per user 20 GB free space on server
                td +
                td +
                td +
                td +
              tr
                td Unlimited free space on server
                td -
                td +
                td +
                td +
              tr
                td Special support online chat
                td -
                td -
                td +
                td +
              tr
                td 24/7 technical support
                td -
                td -
                td -
                td +
              tr
                td
                td $0
                td $30
                td $100
                td $120
              tr
                td
                td: a.btn-link(href="#") Free
                td: a.btn.btn-md.btn-primary(href="#") Buy
                td: a.btn.btn-md.btn-primary(href="#") Buy
                td: a.btn.btn-md.btn-primary(href="#") Buy