section.section-sm.bg-gray-dark
  .container.text-center.text-md-left
    h2 Choose Your Plan
    hr
    .row.row-45.text-center.flow-offset-3
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.thumbnail-mod-1.bg-gray
          .pricing-head
            h4 Personal
          .price
            h2 29
              span /month
          ul.pricing-body.bg-white.list-marked.text-left
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.thumbnail-mod-1.bg-gray
          .pricing-head
            h4 Professional
          .price
            h2 49
              span /month
          ul.pricing-body.bg-white.list-marked.text-left
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.thumbnail-mod-1.bg-gray
          .pricing-head
            h4 Business
          .price
            h2 79
              span /month
          ul.pricing-body.bg-white.list-marked.text-left
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-primary(href="#") Buy Now
      .col-sm-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.thumbnail-mod-1.bg-gray
          .pricing-head
            h4 Gold
          .price
            h2 109
              span /month
          ul.pricing-body.bg-white.list-marked.text-left
            li Highly Customizable
            li Pre-Built Pages
            li Clean Design
            li Extensive Options
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-primary(href="#") Buy Now
