//Section Button sizes
section.section-md.section-md-mod-1
  .container
    h2 Newsletter
    hr
    p Enter your email address to receive all news, updates on new arrivals,<br> special offers and other information.
    .row.offset-5
      .col-sm-12.col-lg-8
        // Rd Mailform result field
        .rd-mailform-validate
        // RD Mailform
        form.rd-mailform.rd-mailform-mod-2(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
          .form-wrap
            input#login-email-3.form-input(type='email' name='email' data-constraints='@Email @Required')
            label.form-label(for='login-email-3') Username or e-mail
          button.btn.btn-primary.btn-sm(type="submit") subscribe

