.table-responsive
  table.table
    thead
      tr
        th(colspan="3"): .h4 Available Appointments:
    tbody
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 10:00 am - 11:00 am
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 11:10 am - 12:10 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr.disabled
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 12:20 pm - 1:20 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 1:30 pm - 2:30 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 2:40 pm - 3:40 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 3:50 pm - 4:50 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment
      tr
        td
          span.icon.icon-darker.fa-clock-o
          time(datetime="2017") 5:00 pm - 6:00 pm
        td 2 time slots available
        td: button.btn-link-primary(data-toggle="modal" data-target="#appointment").text-accent Book Appointment