// RD Mailform
form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
  .row.row-20
    .col-md-6
      .form-wrap
        input#contact-first-name.form-input(type='text' name='name' data-constraints='@Required')
        label.form-label(for='contact-first-name') Your First Name

    .col-md-6.input-mod-1
      .form-wrap
        input#contact-last-name.form-input(type='text' name='name' data-constraints='@Required')
        label.form-label(for='contact-last-name') Your Last Name

    .col-12
      .form-wrap
        input#login-email-2.form-input(type='email' name='email' data-constraints='@Email @Required')
        label.form-label(for='login-email-2') Username or e-mail

    .col-12
      .form-wrap
        label.form-label(for='contact-message') Your Message
        textarea#contact-message.form-input(name='message' data-constraints='@Required')

    .col-12
      button.btn.btn-primary.btn-md(type='submit') send message