footer.page-foot.text-center(class=footer_class_adjuster)
  .container
    .rd-navbar-brand
      a.brand-name(href='index.html')
        img(src="images/logo-gray-139x37.png", width="139", height="37", alt="")
    ul.list-inline
      li
        a.fa-facebook(href='#')
      li
        a.fa-twitter(href='#')
      li
        a.fa-pinterest-p(href='#')
      li
        a.fa-vimeo(href='#')
      li
        a.fa-google(href='#')
      li
        a.fa-rss(href='#')
    .copyright
      p
        | &#169;
        span#copyright-year
        |  All Rights Reserved
        =' '
        a(href='privacy.html') Terms of Use and Privacy Policy