footer.page-foot.text-center.text-lg-left(class=footer_class_adjuster)
  .container-fluid
    .footer-wrap
      .rd-navbar-brand.wow.fadeInUp(data-wow-delay=".2s")
        a.brand-name(href='index.html')
          img(src="images/logo-gray-139x37.png", width="139", height="37", alt="")

      ul.list-inline.wow.fadeInUp(data-wow-delay=".4s")
        li
          a.fa-facebook(href='#')
        li
          a.fa-twitter(href='#')
        li
          a.fa-pinterest-p(href='#')
        li
          a.fa-vimeo(href='#')
        li
          a.fa-google(href='#')
        li
          a.fa-rss(href='#')
      .copyright.wow.fadeInUp(data-wow-delay=".6s")
        p
          | &#169;
          span#copyright-year
          |  All Rights Reserved
          =' '
          a(href='terms.html') Terms of Use and Privacy Policy