footer.page-foot.text-center.text-md-left.footer-widget(class=footer_class_adjuster)
   .footer-content
      .container.align-i
         .row.row-45.clearleft-custom-4
            .col-sm-12.col-md-6.col-xl-3
               .rd-navbar-brand
                  a.brand-name(href='index.html')
                    img(src="images/logo-gray-139x37.png", width="139", height="37", alt="")
               p.text-left We believe in Simple, Creative & Flexible Design Standards.
               address.address.text-left
                  dl
                     dt Headquarters:
                     dd 795 Folsom Ave, Suite 600 San Francisco, CA 94107
                  dl.dl-horizontal-mod-1
                     dt Phone
                     dd: a(href="callto:#").text-accent (91) 8547 632521
                  dl.dl-horizontal-mod-1
                     dt Fax
                     dd: a(href="callto:#").text-accent (91) 11 4752 1433
                  dl.dl-horizontal-mod-1
                     dt Email
                     dd: a(href="mailto:#").text-accent info@canvas.com

            .col-sm-12.col-md-6.col-xl-3
               h4 Blogroll
               ul.list-marked.well6.text-left
                  li: a(href="#") Documentation
                  li: a(href="#") Feedback
                  li: a(href="#") Plugins
                  li: a(href="#") Support Forums
                  li: a(href="#") Themes
                  li: a(href="#") WordPress Blog
                  li: a(href="#") WordPress Planet
            .col-sm-12.col-md-6.col-xl-3
               h4 Recent posts
               .blog-post.text-left
                  .blog-post-title
                     a(href="blog_post.html").text-accent Believe in the Business of Your Dreams
                  .blog-post-time
                     time.small(datetime="2017") December 28, 2017
               .blog-post.text-left
                  .blog-post-title
                     a(href="blog_post.html").text-accent Establishing Your Brand on College Campuses
                  .blog-post-time
                     time.small(datetime="2017") December 28, 2017
               .blog-post.text-left
                  .blog-post-title
                     a(href="blog_post.html").text-accent Beautiful Rumi Quotes that are Worth Reading
                  .blog-post-time.text-accent
                     time.small(datetime="2017") December 28, 2017
            .col-sm-12.col-md-6.col-xl-3
               h4 Newsletter
               p.text-gray Enter your email address to receive all news, updates on new arrivals, special offers and other information.
               // RD Mailform
               form.rd-mailform.subscribe(data-result-class='rd-mailform-validate', data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
                  input(type='text', name='email', data-constraints='@NotEmpty @Email', placeholder='Your e-mail')
                  button.btn.btn-primary.btn-sm subscribe
   .copyright
      .container
         p.pull-sm-left
            | &#169; #[span#copyright-year] All Rights Reserved #[a(href='terms.html') Terms of Use and Privacy Policy]
         ul.list-inline.pull-sm-right
            li: a.fa-facebook(href="#")
            li: a.fa-twitter(href="#")
            li: a.fa-pinterest-p(href="#")
            li: a.fa-vimeo(href="#")
            li: a.fa-google(href="#")
            li: a.fa-rss(href='#')
   // Rd Mailform result field
   .rd-mailform-validate