-var rd_navbar_data_adjuster = {"data-lg-layout": "rd-navbar-static", "data-xl-layout": 'rd-navbar-static', "data-xl-device-layout": "rd-navbar-static", "data-xxl-layout": 'rd-navbar-static', "data-xxl-device-layout": "rd-navbar-static"}
-var rd_navbar_class_adjuster = "header_corporate"

header.page-head
   include ../_navigation