-var rd_navbar_data_adjuster = {"data-lg-layout": "rd-navbar-fullwidth", "data-xl-layout": 'rd-navbar-fullwidth', "data-xl-device-layout": "rd-navbar-fullwidth", "data-xxl-layout": 'rd-navbar-fullwidth', "data-xxl-device-layout": "rd-navbar-fullwidth"}
-var rd_navbar_class_adjuster = "header_corporate"
header.page-head.text-left
  include ../_navigation
