-var rd_navbar_data_adjuster = {"data-lg-layout": "rd-navbar-fixed", "data-xl-layout": 'rd-navbar-fixed', "data-xl-device-layout": "rd-navbar-fixed", "data-xxl-layout": 'rd-navbar-fixed', "data-xxl-device-layout": "rd-navbar-fixed"}
-var rd_navbar_class_adjuster = "header_hamburger"
header.page-head
  include ../_navigation
