// RD Mailform
form.rd-mailform.rd-mailform-mod-1
  .form-wrap
    input#login-email.form-input(type='email' name='email' data-constraints='@Email @Required')
    label.form-label(for='login-email') Username or e-mail

  .form-wrap
    input#login-password.form-input(type='password' name='password' data-constraints='@Required')
    label.form-label(for='login-password') Password

  button.btn.btn-primary.btn-md(type='submit') Sign In

p Or enter with
.btn-group-mod-2
  a(href="#").btn.btn-sm.btn-info
    span.fa-facebook
  a(href="#").btn.btn-sm.btn-info-2
    span.fa-twitter
  a(href="#").btn.btn-sm.btn-danger
    span.fa-google-plus