// Section Title Breadcrumbs
section.section-full(class=section_full_adjuster)
  .container
    .row(class=section_full_row_adjuster)
      .col-sm-12(class=section_full_col_adjuster)
        h1=title_h1
        p=section_full_text
        ol.breadcrumb
          li: a(href="index.html") Home
          li=bread_2
          li.active=title_h1


