section
  //Swiper
  .swiper-container.swiper-slider(class=swiper_class_adjuster)(data-height='', data-min-height='600px')
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/slide-1.jpg')
        .swiper-slide-caption
          .container
            p.h1(data-caption-animate="fadeInDown") 1530-2 Liberty Ave 4
            p.h5(data-caption-animate="fadeInUp" data-caption-delay="400") This is a 3 bedroom, 2.0 bathroom multi family<br> home. It is located at 1530 Liberty Ave Hillside.
            .price(data-caption-animate="fadeInUp" data-caption-delay="400") $309.00
              span /day
            a.btn.btn-sm.btn-transparent(href="property-catalog-single.html", data-caption-animate="fadeInUp" data-caption-delay="400") book now
      .swiper-slide(data-slide-bg='images/slide-2.jpg')
        .swiper-slide-caption
          .container
            p.h1(data-caption-animate="fadeInDown") 53 Rachel Ct 53
            p.h5(data-caption-animate="fadeInUp" data-caption-delay="400") A renovated apartment for rent by owner.<br> 2 bedroom, 2 full bath living and dining room
            .price(data-caption-animate="fadeInUp" data-caption-delay="400") $216.00
              span /day
            a.btn.btn-sm.btn-transparent(href="property-catalog-single.html", data-caption-animate="fadeInUp" data-caption-delay="400") book now
      .swiper-slide(data-slide-bg='images/slide-3.jpg')
        .swiper-slide-caption
          .container
            p.h1(data-caption-animate="fadeInDown") Modera Loft
            p.h5(data-caption-animate="fadeInUp" data-caption-delay="400") Make Modera Loft your home and reside<br>in historic Jersey City style.
            .price(data-caption-animate="fadeInUp" data-caption-delay="400") $239.00
              span /day
            a.btn.btn-sm.btn-transparent(href="property-catalog-single.html", data-caption-animate="fadeInUp" data-caption-delay="400") book now
    // Swiper Pagination
    .swiper-pagination