// Sidebar
.sidebar.row.row-60
  .col-md-6.col-lg-12
    .sidebar-module
      h4 About Us
      p We deal with different kinds of properties. No matter what you need, a house, an apartment or garage - you'll find a good option on our site. Thousands of offers and the best prices are guaranteed. Start browsing now!
      a(href="#").btn.btn-md.btn-primary learn more

  .col-md-6.col-lg-12
    .sidebar-module
      h4 Archives
      ul.list-marked.list-marked-mod-1
        li
          a(href="#").text-accent Jun 2015
        li
          a(href="#").text-accent Aug 2015
        li
          a(href="#").text-accent Oct 2015
        li
          a(href="#").text-accent Dec 2015
        li
          a(href="#").text-accent Feb 2015
      ul.list-marked.list-marked-mod-1
        li
          a(href="#").text-accent Jul 2015
        li
          a(href="#").text-accent Sep 2015
        li
          a(href="#").text-accent Nov 2015
        li
          a(href="#").text-accent Jan 2015
        li
          a(href="#").text-accent Mar 2015

  .col-md-6.col-lg-12
    .sidebar-module
        h4 Recent Properties
        +thumbnail-3("images/left_sidebar_blog-1.jpg", "340" , "230" ,"Building: 123 on the Park","$4,339.00/month")
        +thumbnail-3("images/left_sidebar_blog-2.jpg", "340" , "230" ,"225 Maywood Dr, San Francisco, CA 94127","$2,229.00/month")
        +thumbnail-3("images/left_sidebar_blog-3.jpg", "340" , "230" ,"2266 48th Ave","$1,339.00/month")

  .col-md-6.col-lg-12
    .sidebar-module
      // Facebook Feed
      .fb-page-responsive
        .fb-page(data-href='https://www.facebook.com/TemplateMonster', data-tabs='timeline', data-height='500', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/TemplateMonster')
              a(href='https://www.facebook.com/TemplateMonster') TemplateMonster

  .col-md-6.col-lg-12
    .sidebar-module
      h4 Categories
      ul.list-marked
        li
          a(href="#").text-accent Market Insights
        li
          a(href="#").text-accent Market Report
        li
          a(href="#").text-accent Buying a Foreclosure
        li
          a(href="#").text-accent Pricing Your Home to Sell
        li
          a(href="#").text-accent Your Strategic Sales Plan
        li
          a(href="#").text-accent Find Your Home's Value
        li
          a(href="#").text-accent Short Sale Selling

  .col-md-6.col-lg-12
    .sidebar-module
      .banner
        img(src="images/left_sidebar_blog-4.jpg" alt="" width="500" height="340")
        .banner-text
          h4 Banner 340x500
