//Section Our Services
section.section-md.text-center.text-md-left
  .container
    h2 Our Services
    hr
    .row.row-45.row-md-60.text-left.clearleft-custom-6
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-2.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Different Types of Properties
            p We deal with different kinds of properties. No matter what you need - a house, an apartment or garage - you'll find a good option on our site. Thousands of offers and the best prices are guaranteed. Start browsing now!
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-3.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Find Your Property
            p Don't have enough money at the moment to buy a house? Or maybe you just don't plan to stay at one place for the rest of your life... We have good offers both for rent and purchase. So, every client will be satisfied with our services.
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-4.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Selling Price
            p An essential step in the sale of your home is to set a realistic selling price. To do so, you need to know the current status of the market. Your broker can give you an idea of the actual value of your home by comparing it to similar properties recently sold in the same area.
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-5.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Varied Property Selection
            p Buying or renting a property is a serious move. We understand that quite well. You will find plenty of variants that fit absolutely different requirements. Try out our service!
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-6.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Selling a Property
            p If you are interested in selling a real estate, our office is the ideal choice of collaboration. We will visit the real estate, we will estimate its value, discuss with you, and we will define with you its price. All we need from you is the property's drawings - titles and your written and explicit order for the suggestion of the real estate to those who are interested in.
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/services-7.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Buying a Property
            p From the moment you decide that you are interested in the acquisition of a property, our office makes all the necessary arrangements. Thus we undertake to arrange the details of your stay. Your visit to the real estates for sale is carried out with privately owned car, at a prescheduled time, always after mutual agreement with you. Multilingual office staff (English - French speaking) will explain to you in detail everything that relates to the real estates you have selected to visit, and then you will be led to them.



