//Section Welcome
section.section-sm
  .container
    h2 Welcome
    hr
    .row.row-45.row-md-30
      .col-md-6.inset-3
        p We are a global industry leader with a mission: we want to help people to do more, feel better, live longer. On the 12th of October 2014 we completed a 3-part transaction with the contractor which reshapes our business.
        p We acquired contractor's business and combined our Consumer businesses to create a new company. By substantially strengthening it, we can deliver far-reaching benefits to consumers, and further value to shareholders. In addition, we acquired our marketed portfolio.
        a(href="#").btn.btn-sm.btn-primary.btn-primary-transparent learn more
      .col-md-6
        img(src="images/services-1.jpg" alt="" width="570" height="350")

