//Section Welcome
section.section-sm.bg-gray-dark
  .container
    .row.row-45.row-md-30
      .col-lg-6.order-md-2
        h2 Welcome
        hr
        p We are a global industry leader with a mission: we want to help people to do more, feel better, live longer. On the 12th of October 2014 we completed a 3-part transaction with the contractor which reshapes our business.
        a(href="#").btn.btn-sm.btn-primary.btn-primary-transparent learn more
      .col-lg-6.order-md-1
        .img-wrap.inset-4
          img(src="images/services-1.jpg" alt="" width="570" height="350")

