//
// Badges Custom
// --------------------------------------------------

// Base class
a.badge {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: $gray-darker;
  background-color: transparent;
  border-radius: 0;
  &:focus{
    color: $gray-darker;
  }
  &:hover {
    color: $brand-amaranth;
  }
  &:before {
    padding-right: 10px;
    font-size: 20px;
  }
}
