//
// Blog Post
// --------------------------------------------------

.blog-post {
  a.comment {
    color: $gray-darker;
    &:before {
      padding-right: 8px;
    }
    &:hover {
      color: $brand-amaranth;
    }
  }
  time {
    vertical-align: middle;
    margin-right: 13px;
    color: $gray-darker;
    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }
    &:before {
      font-size: 20px;
      padding-right: 6px;
    }
  }
  .badge {
    margin-right: 14px;
    @include media-breakpoint-up(lg) {
      margin-right: 33px;
    }
  }
  .tags {
    li {
      padding-left: 4px;
      padding-right: 2px;
      .btn-xs {
        padding: 4px 10px;
        text-transform: capitalize;
        letter-spacing: 0;
        font-weight: 400;
        border-width: 1px;
      }
      .btn-primary {
        color: $primary;
        &:focus{
          color: $white;
        }
        &:hover {
          color: $white;
        }
      }
    }
  }
  .list-inline {
    display: inline-block;
    [class*="fa-"] {
      &:hover {
        color: $brand-amaranth;
      }
    }
  }
  span {
    padding-right: 10px;
  }
  .media {
    margin-top: 25px;
    * + p {
      margin-top: 10px;
    }
  }

  img + * {
    margin-top: 20px;
  }
  hr + img {
    margin-top: 56px;
  }
  .blog-meta + p {
    margin-top: 15px;
  }
  p + img {
    margin-top: 20px;
  }
  * + .blog-post-footer {
    margin-top: 30px;
    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
  }
  .blog-post-footer + * {
    margin-top: 44px;
  }
  & + * {
    margin-top: 45px;
    @include media-breakpoint-up(lg) {
      margin-top: 90px;
    }
  }
}

.blog-post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -15px;
  
  > * {
    margin-bottom: 15px;
  }
  
  // Medium ≥768px
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.comment {
  margin-top: 5px;
  & + .comment {
    margin-top: 30px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 52px;
    & + .comment {
      margin-top: 52px;
    }
  }
  .media-left {
    @include media-breakpoint-up(xl) {
      padding-right: 25px;
    }
  }
  span{
    display: block;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }
  time {
    vertical-align: middle;
    margin-right: 0;
    color: $gray-darker;
    @include media-breakpoint-up(md) {
      margin-right: 46px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 90px;
    }

    &:before {
      font-size: 20px;
      padding-right: 6px;
    }
  }
  .fa-mail-reply {
    margin-top: 15px;
    font-size: 20px;
    color: $primary;
    &:hover {
      color: $brand-amaranth;
    }
  }
  .fa-reply {
    &:before {
      margin-right: 5px;
    }
  }

  &-repost {
    @include media-breakpoint-up(md) {
      margin-top: 30px;
      margin-left: 95px;
    }

  }
}

.column-even-offset {
  > div[class*='col-']:not([class*='text-']) + div[class*='col-'] {

    // Large ≥992px
    @include media-breakpoint-up(lg) {
      margin-left: 16.66667%;
    }
  }
}