//
// Button groups Custom
// --------------------------------------------------
.btn-group-mod-1{
  margin-bottom: -30px;
  margin-left: -30px;
  @include transform(translateY(-15px));
  .btn{
    margin-top: 30px;
    margin-left: 30px;
  }
}

.btn-group-mod-2{
  margin-bottom: -15px;
  margin-left: -15px;
  @include transform(translateY(-15px));
  .btn{
    margin-top: 15px;
    margin-left: 13px;
  }
  .btn-sm{
    min-width: 100px;
  }
}
.btn-group-mod-3{
  margin-bottom: -10px;
  margin-left: -10px;
  @include transform(translateY(20px));
  .btn{
    margin-top: 10px;
    margin-left: 10px;
  }
}
//Button group isotop

.btn-group-isotope {
  margin-left: -8px;
  @include transform(translateY(-10px));
    .btn {
      margin-left: 8px;
      margin-top: 10px;
    }
  .btn-primary-transparent {
    &:hover{
     background-color: $primary;
      border-color: $primary;
    }
  }
}


