//
// Custom Buttons Styles
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  border-radius: 0;
  transition: 0.3s;
  box-shadow: none;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $btn-font-size, $btn-lh-size, $btn-border-radius);

  &,
  &:active,
  &.active {
    box-shadow: none;

    &:focus,
    &.focus {
      outline: none;
      box-shadow: none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    outline: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    box-shadow: none;
    outline: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

  }
  .icon {
    font-size: 18px;
    line-height: 1.2;
    padding-left: 10px;
  }
  .icon-sm{
    height: 21px;
  }
  .icon-left{
    padding-left: 0;
    padding-right:10px;
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-default {

}

.btn-primary {
  &:focus,
  &.focus {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    outline: none;
  }
  &:hover {
    color: $white;
    background-color: $brand-amaranth;
    border-color: $brand-amaranth;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    outline: none;

    &:hover,
    &:focus,
    &.focus {
      color: $white;
      background-color: $primary;
      border-color: $primary;
      outline: none;
    }
  }
}

.btn-primary-transparent {
  background-color: transparent;
  color: $primary;
}

// Success appears as green
.btn-success {

}

// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-bg, $btn-info-border);
}

// Warning appears as orange
.btn-warning {

}
.btn-info-2{
  @include button-variant($btn-info-2-bg, $btn-info-2-border);
}

// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-bg, $btn-danger-border);
}


.btn-transparent {
  border: 2px solid $white;
  color: $white;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {

    }
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: $brand-amaranth;
    border-color: $brand-amaranth;
    color: $white;
  }

  &:active,
  &.active {

  }
}

// Button Sizes
// --------------------------------------------------

.btn-xs {
  padding: 10px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  border-width: 2px;
  letter-spacing: 0.84px;
}

.btn-sm {
  padding: 15px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  border-width:2px;
  letter-spacing:0.96px;
  span{
    font-size: 20px;
  }
}

.btn-md {
  padding: 11px 49px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-width: 2px;
  letter-spacing:0.96px;
}

.btn-lg {
  padding: 17px 45px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 1.44px;
  border-width: 2px;
}

.btn-shape-1 {
  border-radius: 3px;
}

.btn-shape-2 {
  border-radius: 10px;
}
.btn-shadow-1{
  box-shadow: 0 0 10px 2px rgba($gray-base, .22);
}
.btn-shadow-2{
  border-bottom-color:$brand-amaranth ;
}

// Button min-width
.btn-full-width{
  width: 100%;
  max-width: 340px;
}
.btn-min-width-sm {
  min-width: 130px;
}

.btn-min-width-md {
  min-width: 210px;
}

.btn-min-width-lg {
  min-width: 300px;
  @include media-breakpoint-up(sm) {
    min-width: 310px;
  }
}

// Button max-width
.btn-max-width-sm {
  max-width: 170px;
  padding: 10px 20px;
}

//Button link

.btn-link {
  font-size: 24px;
  font-weight: 700;
  color: $gray-base;
  &:hover{
    color: $primary;
  }
}
.btn-link-primary {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  transition: .3s;
  border: none;
  background: transparent;
  color: $primary;
  &:focus{
    outline: none;
    color: $brand-amaranth;
  }
  &:hover {
    color: $brand-amaranth;
  }
}
