/*
* Category custom
*/////////////////////////////////////////


.category {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: .5s;
    z-index: 0;
  }
  &-content {
    position: absolute;
    display: inline-block;
    bottom: -31px; //-20
    left: 28px;
    transition: .3s;
    z-index: 1;
    * {
      color: $white;
    }
    * + p{
      margin-top: 0;
    }
    .btn {
      visibility: hidden;
      margin-top: 11px;
      @include transform(translate(0, 50px));
      opacity: 0;
      transition: .6s;
    }
  }
  &:hover {
    &:before{
      opacity: 1;
      top:-50%;
    }
    .category-content {
      bottom: 29px;
    }
    .btn {
      opacity: 1;
      visibility: visible;
      @include transform(translate(0, 0));
    }

  }
}