//
// Forms Custom
// --------------------------------------------------

.form-group {
  margin-bottom: 20px;
  input,
  textarea,
  select {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 8px 18px;
    line-height: 34px;
    color: $gray-darker;
    background: $gray-dark;
    border: none;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    &:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
    }
  }
  label {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    & + * {
      margin-top: 9px;
    }
  }
  .form-control:focus {
    outline: none;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    option {
      padding: 10px;
    }
  }
  textarea {
    min-height: 150px;
    resize: none;
  }

  @include media-breakpoint-up(md) {
    .input-width-1 {
      max-width: 374px;
    }
    .input-width-2 {
      max-width: 590px;
    }
  }
}

.form-group-select {
  position: relative;
  &:after {
    position: absolute;
    right: 5px;
    top: 42px;
    content: '\f107';
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
    margin-right: 10px;
    font-family: $fa;
    font-size: 18px;
    color: $gray-darker;
  }
}

.form-mod-1 {
  display: inline-block;
  max-width: 400px;
  margin-top: 18px;
}

.form-group-mod-1 {
  input {
    width: 46%;
    display: inline-block;
  }
  input:last-of-type {
    margin-top: 9px;
  }
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 55px;
    left: 48.5%;
    width: 10px;
    height: 1px;
    background-color: $gray-darker;
  }
}

.form-group-mod-2 {
  width: 46%;
  display: inline-block;

}

input[type="radio"], input[type="checkbox"] {
  margin: 9px 0 0;
}

.search-form-wrap {
  padding: 15px;
  @include media-breakpoint-up(md) {
    padding: 30px;
  }
}

/*Form Variant 1*/
.form-variant-1 {
  h3 + & {
    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }
  .form-group {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    outline: none;
    vertical-align: top;
    &:nth-child(n+2){
      margin-top: 0;
    }
    @include media-breakpoint-up(md) {
      width: 48%;
      margin-top: 0;
      &:nth-child(2n) {
        margin-left: 3%;
      }

    }
    @include media-breakpoint-up(xl) {
      width: 23%;
      &:nth-child(n+2) {
        margin-left: 24px;
      }
    }

  }
  h3 + * {
    @include media-breakpoint-up(xl) {
      margin-top: 30px;
    }
  }
  input {
    margin-top: 9px;
    &:focus {
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
    }
  }
  .btn {
    margin-top: 20px;
    height: 49px;
    border-width: 0;
    @include media-breakpoint-up(xl) {
      margin-left: 26px;
      margin-top: 31px;
    }
  }
  .form-group.width-1 {

    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      top: 56px;
      left: 48%;
      width: 10px;
      height: 1px;
      background-color: $gray-darker;
    }
    @include media-breakpoint-up(xl) {
      width: 27%;
      margin-left: 0;
      & + .form-group.width-1 {
        margin-left: 26px;
      }
    }
    input {
      width: 44%;
      & + input {
        margin-left: 10%;
      }
      @include media-breakpoint-up(xl) {
        & + input {
          margin-left: 30px;
        }
      }
    }
  }
  .width-2 {
    width: 48%;
    @include media-breakpoint-up(xl) {
      width: 10%;
    }
  }

  .features {
    margin-top: 20px;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
    label {
      padding-left: 0;
    }
    .btn-features {
      position: relative;
      color: $primary;
      vertical-align: bottom;
      &:hover {
        cursor: pointer;
        color: $brand-amaranth;
      }
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        font-size: 21px;
        text-align: center;
        line-height: 16px; //19px
        color: $white;
        background-color: $primary;
        margin-right: 10px;
        position: relative;
        &:before {
          position: absolute;
          top: 3px;
          left: 9px;
          content: '';
          display: inline-block;
          width: 2px;
          height: 14px;
          background-color: $white;
          transition: 0.4s;
          opacity: 1;
        }
        &:after {
          position: absolute;
          top: 9px;
          left: 3px;
          content: '';
          display: inline-block;
          width: 14px;
          height: 2px;
          background-color: $white;
        }
      }
    }
  }
  .checkbox {
    display: none;
    overflow: hidden;
    .mfCheckbox {
      transition: 0.3s;
      &:hover {
        color: $primary;
      }
    }
  }
  .btn-features.active {
    span {
      &:before {
        opacity: 0;
      }
    }
  }

}

/*Sorting*/
.sort-input {
  width: 100%;
  @media (min-width: 400px) {
    width: 200px;
  }
  @media (min-width: 640px) {
    width: 255px;
  }
}

.sorting {

  @media (min-width: 600px) {
    margin-left: 20px;
  }
  .btn-primary {
    &:hover {
      background-color: transparent;
      color: $primary;
      border-color: $primary;
    }
  }
  .btn-primary.active {
    background-color: transparent;
    color: $primary;
    cursor: default;
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}

/*RD-navbar-search*/
.rd-navbar-search {
  position: relative;
  .rd-navbar-search-form {
    .form-wrap {
      display: inline-block;
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 70%;
      }

      @include media-breakpoint-up(xl) {
        max-width: 539px;
      }

      .form-input {
        padding: 0 20px;
        height: 50px;
        width: 100%;
        border: none;
        outline: none;
        background-color: $gray-dark;
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .09);
        color: $gray-darker;
        font-weight: 400;

        &:focus {
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
        }
      }
    }
    button.btn {
      vertical-align: top;
      height: 50px;
      margin-top: 20px;
      @include media-breakpoint-up(md) {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }
  .rd-navbar-live-search-results {
    width: 100%;
    top: 50px;
    left: 0;
    @media (min-width: 768px) {
      max-width: 504px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 431px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 539px;
    }
  }
}

.search_title {
  font-weight: 700;
}
