//
// Icons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.icon {
  display: inline-block;
  width: 25px;
  &:before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Alternate icons
// --------------------------------------------------

.icon-default {

}

.icon-primary {
  color: $primary;
}

.icon-white {
  color: $white;
}

.icon-darker {
  color: $gray-darker;
}

// Button Sizes
// --------------------------------------------------
.icon-xxs {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;

  &-mod-1 {
    font-size: 22px;
    line-height: 1;
    vertical-align: middle;
  }
}
.icon-xs {
  font-size: 36px;
  line-height: 1;
}

.icon-sm {
  height: 28px;
  width: auto;
  font-size: 40px;
  line-height: 0.5;
}

.icon-md {
  font-size: 44px;
  line-height: 1;
  width: 60px;
}

.icon-lg {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  font-size: 60px;
  line-height: 1.65;
}

.icon-square {
  svg {
    fill: $gray-darker;
    height: 20px;
    width: 20px;
  }

}

.icon-short-code {

  .media-left {
    padding-right: 30px;
    font-weight: 300;
    text-align: center;
    padding-left: 2px;
  }
  .media-body {
    span {
      font-size: 14px;
      color: $gray-darker;
    }
  }

}