// Media Custom
// --------------------------------------------------

.media-mod-1 {
  .media-left {
    display: block;
    padding-bottom: 20px;
    color: $white;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
      padding-right: 32px;
    }
  }
  .media-body {
    width: 100%;
    @include media-breakpoint-up(lg) {
      padding-right: 25px;
    }
    h4 + p {
      margin-top: 9px;
    }
  }
}

.thumbnail.media.media-mod-2 {
  img {
    width: 100%;
    float: right;
    max-width: none;
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
  .img-link:hover{
    img{
      @include transform(translateX(0));
    }
  }
  .media-body,
  .media-left,
  .media-right {
    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
      padding-top: 15px;
      padding-left: 0;
      text-align: center;
     }
  }
  .media-left {
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }
}

.media-mod-2 {
  .media-body,
  .media-left,
  .media-right {
    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
      padding-top: 15px;
      padding-left: 0;
      text-align: center;
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      @include media-breakpoint-up(md) {
        width: auto;
        max-width: none;
      }

    }
  }
  .media-left {
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }

}

.media-mod-3 {
  width: 100%;
  h6 + p {
    margin-top: 0;
  }
  a {
    display: inline-block;
  }
  p + a {
    margin-top: 20px;
  }
  .media-left {
    padding-right: 18px;
    img {
      width: auto;
      max-width: none;
    }
  }
}

.media-mod-4 {
  img {
    width: 100%;
    max-width: none;
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
  .media-body,
  .media-left,
  .media-right {
    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
      padding-top: 15px;
      padding-left: 0;
      img {
        width: auto;
      }
    }
  }
  .media-left {
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-right: 50px;
    }
  }
  .media-body {
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding-right: 15px;
    }
  }
  h4 + p {
    margin-top: 0;
  }
  p + p {
    margin-top: 20px;
  }
}