#appointment {
  .modal-dialog {
    max-width: 570px;
    box-shadow: $box-shadow-key-light;
    @include media-breakpoint-up(md) {
      margin: 5% auto;
    }
    .radio {
      label {
        input[type="radio"] {
          margin-right: 10px;
          &:focus {
            outline: none;
          }
          &:active {
            outline: none;
          }
        }

      }
    }
  }
  .modal-header {
    padding: 30px 30px 0;
    border: none;
    flex-direction: row-reverse;
  }

  .modal-body {
    padding: 15px 30px 30px;
    p + * {
      margin-top: 20px;
    }
    * + .register-form,
    * + .login-form {
      margin-top: 30px;
    }
    .register-form {
      .btn-sm {
        padding: 11px 12px;
        @include media-breakpoint-up(lg) {
          padding: 11px 26px;
        }
      }
    }
    form {
      .form-group {
        &:nth-child(1),
        &:nth-child(2) {
          @include media-breakpoint-up(md) {
            display: inline-block;
            width: 48%;
            max-width: 241px;
          }
        }
        &:nth-child(2) {
          @include media-breakpoint-up(md) {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .login-form {
    display: none;
  }
}

.close {
  float: none;
}