//
// Offsets
// --------------------------------------------------

// Elements
// -------------------------

.container + .container-fluid { margin-top: 30px; }
.row + .btn { margin-top: 30px; }
.thumbnail + .thumbnail { margin-top: 45px; }


* + .offset-top-0 { margin-top: 0; }
* + .offset-top-60 { margin-top: 60px; }
.row + .offset-top-60 { margin-top: 45px; }
* + .media { margin-top: 15px; }

// Medium ≥768px
@include media-breakpoint-up(md) {
  .row + .btn { margin-top: 90px; }
  .thumbnail + .thumbnail { margin-top: 60px; }
  .row + .offset-top-60 { margin-top: 90px; }
}

.column-md-left {
  margin-left: 8.33333%;
}

// Large ≥992px
@include media-breakpoint-up(lg) {
  .row + .btn { margin-top: 60px; }
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {

  .container + .container-fluid { margin-top: 55px; }
}

// Range spacing
.row-0 {
  @include grid-offset(0px);
}

.row-15 {
  @include grid-offset(15px);
}

.row-20 {
  @include grid-offset(20px);
}

.row-30 {
  @include grid-offset(30px);
}

.row-40 {
  @include grid-offset(40px);
}

.row-45 {
  @include grid-offset(45px);
}

.row-50 {
  @include grid-offset(50px);
}

.row-60 {
  @include grid-offset(60px);
}

.row-80 {
  @include grid-offset(80px);
}

// Medium ≥768px
@include media-breakpoint-up(md) {

  .row-md-30 {
    @include grid-offset(30px);
  }

  .row-md-60 {
    @include grid-offset(60px);
  }

  .row-md-80 {
    @include grid-offset(80px);
  }
}

@include media-breakpoint-up(lg) {
  .row-lg-30 {
    @include grid-offset(30px);
  }

  .row-lg-70 {
    @include grid-offset(70px);
  }
}