//
// Pagination Custom
// --------------------------------------------------
.pagination {
  display: block;
  margin: 0;
  
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > li {
    > a,
    > span {
      display: block;
      font-weight: 700;
      padding: 10px 19px;
      border: 2px solid $primary;
      color: $primary;
      margin-left: 8px;
      font-size: 16px;
    }
  }

  > li > a,
  > li > span {

    &:focus {
      color: $primary;
      background-color: transparent;
      border-color: $primary;
    }

    &:hover
     {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $primary;
    }
  }

  > li.active {
    > a,
    > span {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $primary;
    }
  }

//&.offset-10{
//  margin-top: 30px;
//}
}

