//
// Scaffolding Custom
// --------------------------------------------------
a {
  color: $gray-base;
  transition: .3s;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    color: $primary;
  }
}

.page-foot {
  padding: 55px 0;
  border-top: 1px solid $gray-darker;

  @media (min-width: 1500px) {
    padding: 55px 76px;
  }

  &.bg-gray {
    p,
    address,
    time {
      color: $gray-darker;
    }
    h4 {
      color: $white;
    }
    a.text-accent:hover { color: $gray-dark; }
    .list-marked li a:hover { color: $gray-dark;}
    a {
      &:hover {
        color: $white;
      }
      &.brand-name{
        &:hover{
          color:$gray-darker;
        }
      }
    }
    border-top: none;
    .list-inline {
      a {
        &:hover {
          color: $white;
        }
      }
    }
  }

  a {
    color: $gray-darker;
    &:hover {
      color: $primary;
    }
  }

  a.text-accent {
    color: $primary;
    &:hover {
      color: $brand-amaranth;
    }
  }

  .list-inline {
    a {
      &:hover {
        color: $primary;
      }
    }
  }

  .copyright {
    color: $gray-darker;
    font-size: 14px;
  }

  .footer-wrap {
    @include media-breakpoint-up(lg) {
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
    }
    .rd-navbar-brand .brand-name {
      vertical-align: bottom;
      color: $gray-darker;
      span {
        vertical-align: top;
      }
    }
  }

  .rd-navbar-brand {
    @include order(1);
    padding-top: 3px;

    a,
    a:before,
    span {
      color: $gray-darker;
    }

  }

  .copyright {
    @include order(2);
    margin-top: 30px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  ul.list-inline {
    margin-top: 30px;
    @include order(3);
    @include media-breakpoint-up(lg) {
      margin: 0;
    }
  }

  h4 + * {
    margin-top: 25px;
  }

  .rd-navbar-brand + p {
    margin-top: 50px;
  }

  .blog-post + .blog-post {
    margin-top: 20px;
  }

  .list-marked {
    li {
      padding-left: 25px;
      &:before {
        left: 4px;
      }
      a {
        color: $primary;
        &:hover {
          color: $brand-amaranth;
        }
      }
    }
  }

  .subscribe {
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
    .btn {
      margin-top: 20px;
    }
  }

  &.footer-widget .copyright {
    margin-top: 50px;
    p {
      padding-top: 5px;
    }
    .list-inline {
      li {
        a {
          font-size: 18px;
          &:hover {
            color: $brand-amaranth;
          }
        }
      }
    }
  }

  &.footer-center {
    * + .list-inline { margin-top: 25px;}
    * + .copyright { margin-top: 55px; }
  }

  > * {
    @media (min-width: 3000px) {
      max-width: 2560px;
      margin: 0 auto;
    }
  }
  .col-xs-12:nth-child(2),
  .col-xs-12:nth-child(3) {
    @media (min-width: 560px) and (max-width: 767px) {
      width: 50%;
    }
  }
}

.footer-widget {
  ul.list-inline {
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}

.section-full {
  h1,p {
    color: $white;
  }
  h1 + p {
    margin-top: 0;
  }
  p + .breadcrumb{
    margin-top: 51px;
  }
  padding-top: 72px;
  padding-bottom: 29px;
  background-image: url("../images/elements-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &-mod-1{
    @include media-breakpoint-up(xl) {
      padding-bottom: 180px;
    }

    background-image: url("../images/elements-2.jpg");
  }
}
