//
// Sections
// --------------------------------------------------

.section {

}

.section-xs {
  //padding-top: 60px;
  //padding-bottom: 60px;
  @include media-breakpoint-up(xl) {
    padding-top: 9px;
    padding-bottom: 12px;
  }
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-up(xl) {
    padding-top: 71px;
    padding-bottom: 84px;
    &-mod-1 {
      padding-bottom: 19px;
    }
  }
  &-mod-2 {
    padding-bottom: 0;
  }
  &-mod-3{
    padding-top: 0;
    @include media-breakpoint-up(lg) {
      padding-top: 71px;
    }
  }

}

.section-md {
  padding-top: 60px;
  padding-bottom: 55px;
  @include media-breakpoint-up(xl) {
    padding-top: 97px;
    padding-bottom: 93px;
  }
  &-mod-1 {
      padding-top: 0;
  }
  &-mod-2 {
    @include media-breakpoint-up(xl) {
      padding-bottom: 30px;
    }
  }
  &-mod-3{
    padding-top: 0;
    @include media-breakpoint-up(xl) {
      padding-top: 97px;
    }
  }
  &-mod-4 {
    padding-bottom: 0;
  }
  &-mod-5{
    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 30px;
    }
  }
}

.section-lg {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(xl) {
    padding-top: 85px;
    padding-bottom: 94px;
  }
  &-mod-1 {
    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
}
