//
// Sidebar
// --------------------------------------------------

.sidebar {
  //margin-top: 60px;
  @include media-breakpoint-up(lg) {
    //margin-top: 0;
    padding-left: 30px;
  }
  .list-marked {
    li {
      padding-left: 32px;
      &:before {
        left: 15px;
        @include media-breakpoint-up(xl) {
          left: 0;
        }

      }
    }
    &-mod-1 {
      display: inline-block;
      width: 49%;
      @include media-breakpoint-up(xl) {
        width: 41%;
        & + .list-marked-mod-1 {
          margin-left: 40px;
        }
      }
    }
  }
  .sidebar-module {
    width: 100%;
    @media (max-width: 709px) {
      max-width: 370px;
      //margin-left: auto;
      margin-right: auto;
    }
    @include media-breakpoint-between(710px, md) {
      float: left;
      width: 50%;
      &:nth-child(2n+1) {
        padding-right: 40px;
      }
    }

    &:nth-child(n+2) {
      margin-top: 60px;
    }
    &:nth-child(2) {
      @include media-breakpoint-between(710px, md) {
        margin-top: 0;
      }
    }
    &:nth-child(3) {
      @include media-breakpoint-between(710px, md) {
        clear: left;
      }
    }
    &:nth-child(4n) {
      @include media-breakpoint-between(710px, md) {
        padding-top: 52px;
      }
    }
    &:nth-child(5n) {
      @include media-breakpoint-between(710px, md) {
        clear: left;
      }
    }

  }

  * + .list-marked {
    margin-top: 21px;
  }
}

.fb-page-responsive {
  @include media-breakpoint-between(md, md) {
    padding-top: 52px;
  }
}

.flex-lg-row-reverse {

  .sidebar {
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
      padding-left: 0;
    }
  }
}


