//
// Custom Thumbnails
// --------------------------------------------------

// Make thumbnails to fit entire container width
.thumbnail-block {
  display: block;

  > img,
  a > img {
    width: 100%;
    height: auto;
  }
}

.thumbnail {
  padding: 0;
  border: none;
  max-width: 370px;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    max-width: none;
  }

  .img-link {
    position: relative;
    display: block;
    overflow: hidden;

    img {
      max-width: none;
      transition: 0.3s;
      will-change: transform;
      width: 107%;
      float: right;
    }

    &:hover {
      .thumbnail-price {
        padding: 1px 50px 3px 23px;
      }
      img {
        @include transform(translateX(4.5%));
      }
    }
    .thumbnail-price {
      position: absolute;
      bottom: 24px;
      right: -8px;
      padding: 1px 23px 3px;
      color: $white;
      font-weight: 700;
      background-color: $primary;
      transition: 0.3s;
      .mon {
        font-size: 14px;
      }
    }
  }
  .img-link + .caption {
    margin-top: 14px;
  }
  .caption {
    h4 {
      a {
        color: $primary;
        &:hover {
          color: $brand-amaranth;
        }
      }
    }
    padding: 3px;
    @include media-breakpoint-up(md) {
      padding: 3px 19px 3px 3px;
    }

    h4 + p {
      margin-top: 9px;
      @include media-breakpoint-up(xl) {
        margin-top: 5px;
      }
    }

  }
  ul.describe-1 {
    font-size: 16px;
    margin: 5px 0 0 0;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
      margin: 20px 0 0 0;
    }
  }

  ul.describe-2 {
    font-size: 16px;
    margin: 10px 0 0 18px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      margin: 20px 0 0 45px;
    }
  }

  .describe-1, .describe-2 + * {
    margin-top: 5px;
    @include media-breakpoint-up(xl) {
      margin-top: 20px;
    }
  }

}


.thumbnail-2 {
  max-width: 100%;
  .caption {
    padding: 0 15px 0 0;
  }
  a.comment {
    color: $gray-darker;
    &:before {
      padding-right: 8px;
    }
    &:hover {
      color: $brand-amaranth;
    }
  }
  a.h4 {
    color: $primary;
    display: inline;
    &:hover {
      color: $brand-amaranth;
      cursor: pointer;
    }
  }
  a.img-block {
    width: 100%;
    display: inline-block;
    overflow: hidden;

  }
  .img-wrap {
    margin-bottom: 16px;
  }
  * + .caption-meta {
    margin-top: 5px;
  }
  time {
    vertical-align: middle;
    margin-right: 13px;
    color: $gray-darker;

    @include media-breakpoint-up(sm) {
      margin-right: 30px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 13px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 30px;
    }
    &:before {
      font-size: 20px;
      padding-right: 6px;
    }
  }
  .badge {
    margin-right: 14px;
    @include media-breakpoint-up(sm) {
      margin-right: 33px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 14px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 33px;
    }
  }
  * + p {
    margin-top: 13px;
  }
  p + .btn {
    margin-top: 20px;
  }

}

* + .thumbnail-2{
  margin: 45px auto 0;
  @include media-breakpoint-up(md) {
    margin: 50px auto 0;
  }
  //@include media-breakpoint-up(lg) {
  //  margin: 58px auto 0;
  //}
}
.thumbnail + .pagination {
  margin-top: 45px;
  @include media-breakpoint-up(md) {
    margin-top: 50px;
  }
}

.thumbnail-3 {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: .5s;
    z-index: 0;
  }
  .caption {
    position: absolute;
    bottom: -39px;
    left: 30px;
    padding-right: 80px;
    transition: .3s;
    * {
      color: $white;
    }
    * + p {
      margin-top: 12px;
    }
    .btn {
      visibility: hidden;
      margin-top: 11px;
      @include transform(translate(0, 50px));
      opacity: 0;
      transition: .6s;
    }
  }
  &:hover {
    &:before {
      opacity: 1;
      top: -50%;
    }
    .caption {
      bottom: 9px;
      @include media-breakpoint-up(xl) {
        bottom: 29px;
      }

    }
    .btn {
      opacity: 1;
      visibility: visible;
      @include transform(translate(0, 0));
    }

  }
}