/*
* @subsection   Typography Custom
* @description  Describes default font settings for basic html elements and
*               css classes
*/
body{
  -webkit-font-smoothing: subpixel-antialiased;
}
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.tablet, .mobile {
  .page {
    padding-top: 56px;

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }
  }
}

.page {
  padding-top: 56px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

img {
  width: 100%;
  height: auto;
}

dl {
  margin-bottom: 0;
}

p {
  padding: 0;
  margin: 0;
}

[class*="glyphicon-"] {
  font-family: 'Glyphicons Halflings';
}

ul.row {
  padding-left: 0;
  li.clear-shortcode-xs-6 {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

/*Typography*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  color: $gray-base;
  font-weight: 700;
  margin: 0;
  padding: 0;
  a:hover {
    color: $primary;
  }
}

h1,
.h1 {
  font-size: 29px;
  line-height: 1.33;
  @include media-breakpoint-up(md) {
    font-size: 62px;
    line-height: $h1-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 1.5;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: $h2-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  font-size: 26px;
  line-height: 1.5;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: $h3-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }
}

h5,
.h5 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
  }
}

h6,
.h6 {
  font-size: 20px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
  }
  .small {
    color: $gray-darker;
    display: block;
  }
}

small, .small {
  font-size: 14px;
}

/*list inline*/
.list-inline {

  > li {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;

    a {
      color: $gray-darker;
      transition: .3s;
      &:hover {
        color: $primary;
      }
    }

  }
}

hr {
  display: inline-block;
  width: 100px;
  border: 0;
  border-top: 2px solid $primary;
  margin-top: 0;
  margin-bottom: 0;
}

/*Contact Info*/
.contact-info {
  dt + dd {
    margin-top: 15px;
  }
}

/*Blockquote*/
blockquote.quote {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;

  q {
    font-style: italic;
    font-weight: 300;
    &:before, &:after {
      display: none;
    }
  }
  cite {
    font-style: normal;
    display: inline-block;
  }
  img {
    border-radius: 50%;
  }
  .img-wrap {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .img-wrap + cite {
    margin-left: 15px;
  }
  cite + p {
    margin-top: 16px;
  }
  &-mod-1 {
    background-color: $gray-dark;
    padding: 28px 32px;
    q {

      font-weight: 400;
    }
    cite {
      font-weight: 700;
      color: $gray-darker;
      position: relative;
      padding-left: 40px;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 30px;
        top: 13px;
        left: 0;
        background-color: $gray-darker;
      }
    }
  }
  & + .quote {
    margin-top: 65px;
  }
  .small {
    &:before {
      display: none;
    }
  }
}

/*Search List*/
.search_list {
  li + li {
    margin-top: 40px;
  }
  * + p {
    margin-top: 15px;
  }
}

/*Team Member*/
.team-member {
  img + h4 {
    margin-top: 10px;
  }
  h4 + p {
    margin-top: 0;
  }
}

/*Banner*/
.banner {
  position: relative;
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    width: 100%;
    text-align: center;
    * {
      color: $white;
    }
  }
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {

  dt {
    font-weight: 300;
  }

  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      text-align: left;
    }
  }
}

.dl-horizontal-mod-1 {
  dt {
    float: left;
    padding-right: 10px;
  }
}

dl.terms-list {
  dt + dd {
    margin-top: 32px;
  }
  dd + dt {
    margin-top: 60px;
  }
}

/* List unstyled*/

.list-unstyled {
  margin-bottom: 0;
  &-mod-1 {
    li + li {
      margin-top: 15px;
    }
    li {
      span {
        vertical-align: bottom;
      }
    }
  }
  li > a {
    vertical-align: middle;
  }
}

/* Marked list*/

.list-marked {
  padding: 0;
  margin-bottom: 0;
  li {
    position: relative;
    padding-left: 61px;
    & + li {
      margin-top: 10px;
    }
    &:before {
      content: '\f105';
      position: absolute;
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 18px;
      top: 0;
      left: 31px;
      color: $gray-darker;
    }
  }
  &-mod-1 {
    li {
      padding-left: 32px;
      &:before {
        left: 3px;
      }
    }
  }
}

/* Ordered list */
.ordered-list {
  padding: 0;
  counter-reset: li;
  li {
    padding-left: 30px;
    & + li {
      margin-top: 10px;
    }
    &:before {
      content: counter(li, decimal) ".";
      counter-increment: li;
      margin-right: 15px;

    }
  }
}

// Addresses

.address {
  margin-bottom: 0;

  h6 + * {
    display: inline-block;
    margin-top: 10px;
  }

  dt {
    font-weight: 400;
  }
  dl {
    margin-bottom: 10px;
  }

  dl:first-of-type {
    dt {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {
    dd + dt {
      margin-top: 20px;
    }
  }
  .h4 + p {
    margin-top: 11px;
  }
}

a.text-accent:hover {
  color: $brand-amaranth;
}

/*Main Layout*/
* + .row {
  margin-top: 30px;
  @include media-breakpoint-up(xl) {
    margin-top: 56px;
  }
}

.row + .row {
  margin-top: 45px;
  @include media-breakpoint-up(md) {
    margin-top: 30px;
  }
}

* + .range {
  margin-top: 30px;
  @include media-breakpoint-up(xl) {
    margin-top: 60px;
  }
}

.category + .category {
  margin-top: 30px;
}

* + .owl-carousel {
  margin-top: 50px;
}

.offset {
  &-1 {
    .cell-sm-6.cell-md-push-2 {
      margin-top: 30px;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
  }

  * + &-2 {
    margin-top: 30px;
    @include media-breakpoint-up(xl) {
      margin-top: 55px;
    }
  }
  .row + &-3 {
    margin-top: 40px;
    @include media-breakpoint-up(xl) {
      margin-top: 92px;
    }

  }
  * + &-4 {
    @include media-breakpoint-between(md, xxl) {
      margin-top: 58px;
    }
  }
  * + &-5 {
    margin-top: 30px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  * + &-6 {
    margin-top: 15px;
  }
  * + &-7 {
    margin-top: 60px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  * + &-8 {
    margin-top: 60px;
  }
  * + &-9 {
    margin-top: 50px;
  }
}

.preffix {
  &-1 {
    margin-left: 10px;

  }
  &-2 {
    margin-left: 20px;
  }
}



.inset {
  &-1 {
    @include media-breakpoint-up(lg) {
      padding-top: 130px;
    }
  }
  &-2 {
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
  }
  &-3 {
    padding-right: 0;
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
  }
  &-4 {
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }
  &-5 {
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
  }
  &-6 {
    @media (min-width: 992px) {
      padding-right: 15px;
    }
  }
  &-7 {
    @include media-breakpoint-up(lg) {
      padding-left: 43px;
    }
  }
  &-8 {
    @include media-breakpoint-up(lg) {
      padding-right: 43px;
    }
  }
}

.flow-offset-1 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 61px;
  }
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+1) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 61px;
    }
  }
}

.flow-offset-2 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 50px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}

.flow-offset-3 {
  @include media-breakpoint-between(lg, lg) {
    [class*="col-"]:nth-child(n+3) {
      margin-top: 45px;
    }
  }
}

.flow-offset-4 {
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+5) {
      margin-top: 60px;
    }
  }
}

.flow-offset-5 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 60px;
  }
  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 60px;
    }
  }
}

.flow-offset-6 {
  [class*="col-"]:nth-child(4),
  [class*="col-"]:nth-child(5){
    margin-top: 45px;
  }

  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 45px;
    }
  }

}
.flow-offset-7{
  @include media-breakpoint-between(md, md) {
    [class*="col-sm-6"]:nth-child(n+3){
      margin-top:30px;
    }
  }
}

* + p {
  margin-top: 30px;
}

.icon + p {
  margin-top: 15px;
  @include media-breakpoint-up(lg) {
    margin-top: 17px;
  }
}

* + .copyright {
  margin-top: 50px;
}

img + p {
  margin-top: 10px;
}

hr + p {
  margin-top: 25px;
  @include media-breakpoint-up(xl) {
    margin-top: 54px;
  }
}
hr + .offset-5 {
  margin-top: 30px;
}

h4 + p {
  margin-top: 13px;
}

.counter + p {
  margin-top: 0;
}

p + * {
  margin-top: 50px;
  @include media-breakpoint-up(md) {
    margin-top: 92px;
  }
}

p + .btn {
  margin-top: 21px;
}

p + p {
  margin-top: 10px;
}

p + .btn-group-isotope {
  margin-top: 70px;
}

.btn-group-isotope + .row {
  margin-top: 0;
}

.btn-group-isotope + .isotope {
  margin-top: 30px;
}

h3 + .quote {
  margin-top: 32px;
}

* + h3 {
  margin-top: 50px;
  @include media-breakpoint-up(md) {
    margin-top: 100px;
  }
}

p + ul {
  margin-top: 20px;
}

* + .list-marked, .ordered-list {
  margin-top: 10px;
}

.list-marked + p {
  margin-top: 10px;
}

h3 + img {
  margin-top: 30px;
}

h3 + .row {
  margin-top: 30px;
}

p + img {
  margin-top: 20px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

p + .btn-group-mod-2 {
  margin-top: 30px;
}

p + .btn-group-mod-1 {
  margin-top: 5px;
}

.row + h2 {
  margin-top: 40px;
}

time + p {
  margin-top: 20px;
}

.media + h2 {
  margin-top: 45px;
  @include media-breakpoint-up(lg) {
    margin-top: 87px;
  }
}

p + address {
  margin-top: 10px;
}

.product-carousel + h4 {
  margin-top: 60px;
}

.table-responsive + .table-responsive {
  margin-top: 32px;
}

h4 + .list-inline {
  margin-top: 13px;
}

p + .responsive-tabs {
  margin-top: 70px;
}

p + .table-responsive {
  margin-top: 60px;
}

.img-wrap-mod-1 + .btn {
  margin-top: 18px;
}

.btn + .list-unstyled-mod-1 {
  margin-top: 26px;
}

.list-unstyled-mod-1 + .list-inline {
  margin-top: 20px;
}

.list-unstyled + .describe-1 {
  margin-top: 27px;
}

//.row + .btn{
//  margin-top: 30px;
//}
* + .details-wrap {
  margin-top: 20px;
}

.sort-panel-between {
  display: flex;
  align-items: center;
  flex-direction: column;


  // Medium ≥576px
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.page-custom {
  display: flex;
  flex-direction: column;
}

.section-item { flex-grow: 1; }