/*
* Utilities Custom
*/
////////////////////////////////////////

/*Background*/
.bg-dark {
  background-color: $gray-dark;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
  color: $white;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $white;
  }
}

.bg-white {
  background-color: $white;
  color: $gray-base;
}

.bg-accent {
  color: $white;
  background-color: $primary;
}

.bg-default {
  background-color: $white;

  & + & { padding-top: 0; }
}

/*Clearfix Custom*/
.clearleft-custom {
  [class*="col-"]:nth-child(3), [class*="col-"]:nth-child(5n) {
    clear: left;
  }
  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(3), [class*="col-"]:nth-child(5n) {
      clear: none;
    }
    [class*="col-"]:nth-child(4n) {
      clear: left;
    }
  }
}

.clearleft-custom-2 {
  [class*="col-"]:nth-child(3n) {
    clear: left;
  }
}

.clearleft-custom-3 {
  [class*="col-"]:nth-child(3n) {
    clear: left;
  }
  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(3n) {
      clear: none;
    }
    [class*="col-"]:nth-child(4n) {
      clear: left;
    }
  }
}

.clearleft-custom-4 {
  @media (min-width: 768px) and (max-width: 1199px) {
    [class*="col-"]:nth-child(odd) {
      clear: left;
    }
  }
}

.clearleft-custom-5 {
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(2n+1) {
      clear: left;
    }
  }
}

.clearleft-custom-6 {
  [class*="col-"]:nth-child(3) {
    clear: left;
  }
  [class*="col-"]:nth-child(5) {
    clear: left;
  }

  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(3) {
      clear: none;
    }
    [class*="col-"]:nth-child(5) {
      clear: none;
    }

  }
}

.container-shadow {
  box-shadow: $box-shadow-key-light-large;
}

.position-margin-top {
  @include media-breakpoint-up(xl) {
    margin-top: -111px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: 1600px) {
    margin-top: -200px;
  }
  &-mod-1 {
    @media (min-width: 1800px) {
      margin-top: -223px;
    }
  }
}

.img-wrap-mod-1 {
  @include media-breakpoint-up(xl) {
    margin-top: -292px;
  }
  max-width: 340px;
  padding: 10px;
  box-shadow: $box-shadow-key-light-large;
  background-color: $white;

}

/*Text color*/
.text-amaranth {
  color: $brand-amaranth;
}

.text-darker {
  color: $gray-darker;
}

.text-white {
  color: $white;
  * {
    color: $white;
  }
}

.text-mark {
  background: $primary;
  color: $white;
}

/*Text font-weight*/
.text-bold {
  font-weight: 700;
}

.text-regular {
  font-weight: 400;
}

/*Text font size*/
.small {
  font-size: 14px;
}

/*Helpers*/
.section-height {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-height: 700px) {
    height: 100vh;
  }
  @include media-breakpoint-up(xl) {
    height: 130vh;
  }
  @media (min-width: 1400px) {
    height: 76vh;
    padding-top: 0;
  }
  &-1 {
    height: 74vh;
  }
  &-mod-1{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.z-index {
  position: relative;
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;

  &.material-icons-close {
    &:hover{
      color: $primary;
    }
  }
}


.position-transform {
  @include media-breakpoint-up(xl) {
    @include transform(translateX(-8.4%));
  }
}

.round {
  border-radius: 50%;
}

.img-width-auto {
  img {
    width: auto;
    height: auto;
  }

}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &-1 {
    background-image: url("../images/extras-1.jpg");
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.5);
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

.section-middle {
  text-align: center;
  white-space: nowrap;
  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
    margin-left: -4px;
  }
  .container {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.overflow-ellipsis {
  [class*="col-"] p {
    @include media-breakpoint-down(md) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.grid {
  .col-2 {
    @include media-breakpoint-down(md) {
      padding-left: 5px;
      padding-right: 5px;
      &:first-of-type {
        padding-left: 15px;
      }
      &:last-of-type {
        padding-right: 15px;
      }
    }
  }
  h4 {
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}

/*Veil and reveal classes*/

.veil-sm {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.reveal-sm-block {
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.reveal-sm-inline {
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

/*Gallery thumbnail*/

.isotope-width-1 {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
  @include media-breakpoint-up(xl) {
    width: 20%;
  }
}

.isotope-width-2 {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
  @include media-breakpoint-up(xl) {
    width: 40%;
  }
}

.thumbnail-gallery {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  img {
    width: 100%;
  }
  .caption {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);

    &-wrapper {
      position: absolute;
      bottom: 15%;
      width: 100%;
      padding: 15px 24px;
      @include media-breakpoint-up(md) {
        bottom: 26%;
      }
      @include media-breakpoint-up(xl) {
        bottom: 13%;
      }
      @media (min-width: 1399px) {
        bottom: 0;
      }
    }

    h5,
    p {
      margin-top: 2%;
      opacity: 0;
    }

    h5 {
      transition: .4s;
      @include transform(translate(0, 20px));
    }

    p {
      display: none;
      transition: .6s;
      @include transform(translate(0, 100px));
      @media (min-width: 1400px) {
        display: block;
      }
    }
  }
  &:hover {
    .caption {
      opacity: 1;
      visibility: visible;
      top: -50%;
    }
    h5, p {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }
}

.cobbles-gallery {
  .isotope-width-1,
  .isotope-width-2 {
    @include media-breakpoint-between(sm, sm) {
      width: 50%;
    }
  }
}

.masonry-gallery {

  @include media-breakpoint-between(sm, sm) {
    [class*="col-"] {
      width: 50%;
    }
  }
}

/*List custom*/
ul.describe-1 {
  display: inline-block;
  padding: 0;
  text-align: left;

  li {
    span.icon {
      vertical-align: middle;
      margin-left: -9px;
    }
    .icon-square {
      vertical-align: middle;
      padding: 0 7px 0 0;

    }
    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}

ul.describe-2 {
  display: inline-block;
  padding: 0;
  text-align: left;
  li {
    span.icon {
      vertical-align: middle;
      margin-left: -9px;
    }
    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}

/* Catalog sidebar */

.catalog-sidebar {

  @include media-breakpoint-up(xl) {
    padding-left: 25px;
  }

  .tablet & {
    padding-top: 25px;
  }
  .list-unstyled {
    li + li {
      margin-top: 7px;
    }
  }
  .describe-2 {
    @include media-breakpoint-up(xl) {
      margin-left: 50px;
    }
  }

}

/* Price */

.price {
  span + * {
    margin-left: 10px;
  }
  p + * {
    margin-top: 0;
  }
  p + .btn-group-isotope {
    margin-top: 20px;
  }
  del {
    position: relative;
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      top: 56%;
      left: 0;
      right: 0;
      display: inline-block;
      border-bottom: 2px solid;
    }
  }
  .h4, .h6 {
    display: inline-block;
  }
}

// Custom layout

.row.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  > [class*='col'] {
    padding-left: 0;
    padding-right: 0;
  }
}

/*Pull Left, Pull Right*/
.pull-xs-left {
  @include media-breakpoint-up(sm) {
    float: left;
  }
}

.pull-xs-right {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.pull-sm-left {
  @include media-breakpoint-up(md) {
    float: left;
  }
}

.pull-sm-right {
  @include media-breakpoint-up(md) {
    float: right;
  }
}

.pull-md-left {
  @include media-breakpoint-up(lg) {
    float: left;
  }
}

.pull-md-right {
  @include media-breakpoint-up(lg) {
    float: right;
  }
}

/*Pricing table*/

.pricing-wrapper {
  max-width: 370px;
  margin: 0 auto;
  overflow: hidden;
  transition: .4s;

  .pricing-head {
    padding: 20px 0 0;
    transition: .4s;
  }

  .price {
    position: relative;
    padding: 0 0 20px;
    z-index: 1;

    h2 {
      position: relative;
      display: inline-block;
      letter-spacing: 0;
      &:before {
        content: '$';
        position: absolute;
        bottom: 13%;
        right: 102%;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
      }
      span {
        font-size: 18px;
        text-transform: none;
      }
    }
  }

  ul {
    position: relative;
    margin-bottom: 0;
    padding: 30px 0;

  }
  h4 {
    margin-top: 2px;
  }
}

.pricing-wrapper-mod-1 {
  @extend .pricing-wrapper;

  .btn-sm {
    width: 100%;
  }

  .price {
    &:before {
      content: '';
      position: absolute;
      top: 112%;
      left: 50%;
      @include transform(translateX(-50%));
      display: inline-block;
      border: solid transparent;
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba($gray, 0);
      border-top-color: $gray;
      border-width: 5px;
      transition: .4s;
    }
  }

  &.bg-gray {

    .btn:hover {
      color: $primary;
      background-color: $white;
      border-color: $primary;
    }
    &:hover {
      background-color: $primary;
      box-shadow: $box-shadow-key-light;

      .price:before {
        border-top-color: $primary;
      }
    }
  }

}

.pricing-wrapper-mod-2 {
  @extend .pricing-wrapper;

  padding: 10px 0 30px;

  .price {
    padding: 15px 0 0;
    h2,
    h2 > span {
      color: $primary;
    }
  }

  .pricing-footer {
    margin-top: 10px;
  }

  &:hover {
    box-shadow: $box-shadow-key-small;
    &.bg-dark {
      background-color: $white;
    }
  }

  .marked-list {
    padding-bottom: 0;
    padding-left: 25px;
    text-align: left;

    li {
      padding-left: 0;
      &:before {
        content: '\f00d';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-family: $fa;
        font-size: 18px;
        color: $gray-darker;
        height: 33px;
      }
      & + li {
        margin-top: 7px;
      }
    }
  }

  .list-marked-mod-1 {
    @extend .marked-list;
    li:first-of-type {
      &:before {
        content: '\f00c';
        color: $primary;
      }
    }
  }
  .list-marked-mod-2 {
    @extend .marked-list;
    li:nth-child(1),
    li:nth-child(2) {
      &:before {
        content: '\f00c';
        color: $primary;
      }
    }
  }
  .list-marked-mod-3 {
    @extend .marked-list;
    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3) {
      &:before {
        content: '\f00c';
        color: $primary;
      }
    }
  }
  .list-marked-mod-4 {
    @extend .marked-list;
    li {
      &:before {
        content: '\f00c';
        color: $primary;
      }
    }
  }
}

/* Google search */

.google-search {

  .btn {
    vertical-align: top;
    margin-top: 20px;
    @include media-breakpoint-up(lg) {
      margin-top: 9px;
      margin-left: 20px;
    }
  }
  .rd-google-map {
    margin-top: 20px;
  }
  .form-control {
    @include media-breakpoint-up(lg) {
      width: 57%;
    }
    @include media-breakpoint-up(xl) {
      width: 67%;
    }
  }
}

/* Submit-form */

.submit-form {
  * + .row,
  .row + .row,
  .row .col-sm-6:nth-child(n+3),
  .row * + .col-sm-12 {
    margin-top: 0;
  }
}

.details-wrap {
  .form-group {
    display: inline-block;
    * + .form-group {
      margin-left: 20px;
    }
  }
  .input-width-1 {
    @include media-breakpoint-up(md) {
      width: 30%;
    }
  }
  .input-width-2 {
    width: 80%;
    @media (min-width: 665px) {
      width: 60%;
      margin-left: 20px;
    }
    @include media-breakpoint-up(md) {
      width: 56%;
    }
  }
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}

#facebook {
  ._2p3a {
    width: 100% !important;
  }
}