//
// Well
// --------------------------------------------------

.well-1{
  padding: 5px;
  @include media-breakpoint-up(lg) {
    padding: 30px;
  }
}
.well-2{
  @include media-breakpoint-up(xl) {
    padding: 0 40px;
  }

}
.well-3{
  @include media-breakpoint-between(sm, md) {
    padding:0 50px ;
  }
}