//Section Tables Dark Header
section.section-md.section-md-mod-1
  .container
    h2 Dark Header
    hr
    .row
      .col-xl-8
        .table-responsive
          table.table

            thead
              tr.bg-gray
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Description
                td $1.00
              tr
                td Item #2
                td Description
                td Description
                td $2.00
              tr
                td Item #3
                td Description
                td Description
                td $3.00
              tr
                td Item #4
                td Description
                td Description
                td $4.00
              tr.text-bold
                td All Items
                td Description
                td Description
                td $10.00
