/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  will-change: transform;
  img {
    height: auto;
    width: 101%;
  }
  &-content {
    position: absolute;
    left: 16px;
    bottom: -38px;
    transition: .3s;
    @include media-breakpoint-up(md) {
      left: 38px;
    }
    * {
      color: $white;
    }
    h4 + p {
      margin-top: 0;
    }
    .btn {
      visibility: hidden;
      margin-top: 19px;
      opacity: 0;
      transition: .6s;
      @include transform(translate(0, 50px));
    }
  }
  &:hover {
    .owl-item-content {
      //@include transform(translateY(-50%));
      margin-top: -160px;
      bottom: 31px;
      .btn {
        opacity: 1;
        visibility: visible;
        @include transform(translate(0, 0));
      }
    }

  }
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  font: 400 40px/80px 'FontAwesome';
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
  &:before {
    content: '\f144';
  }
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/*
 * Owl Navigation
 */
.tablet, .mobile {
  .owl-nav {
    display: none;
  }

}

.owl-prev, .owl-next {
  position: absolute;
  top: 40%;
  @include transform(translateY(-50%));
  font: 700 30px/28px "FontAwesome";
  line-height: 20px;
  transition: .3s;
  opacity: 1;
  color: $white;
  &:hover {
    color: $primary;
  }

  @include media-breakpoint-up(md) {
    top: 50%;
  }
}

.owl-prev {
  left: 40px;
  &:before {
    content: '\f053';
    margin-left: -4px;
  }
}

.owl-next {
  right: 40px;
  &:before {
    content: '\f054';
    margin-right: -3px;
  }
}

.owl-nav-md {
  .owl-prev, .owl-next {
    display: none !important;
  }
}

@include media-breakpoint-up(lg) {
  .owl-nav-md {
    .owl-prev, .owl-next {
      display: block !important;
    }
  }
}

.owl-nav.disabled {
  display: none;
}

/*
 * Owl Pagination
 */

.owl-dots {
  text-align: center;
  margin-top: 0;
  visibility: hidden;
  @include media-breakpoint-up(md) {
    visibility: visible;
    margin-top: 56px;
  }
}

.owl-dot {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 12px;
  height: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: $gray-darker;
  transition: 0.3s ease;
  vertical-align: middle;
  &:hover {
    background-color: $primary;
  }

  & + .owl-dot {
    margin-left: 25px;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  left: 3px;
  //  top: 3px;
  //  bottom: 3px;
  //  right: 3px;
  //  background-color: $white;
  //  border-radius: 50%;
  //}

  &.active {
    width: 21px;
    height: 21px;
    background-color: $primary;
  }
  @include media-breakpoint-between(md, md) {
    &:last-child {
      display: none;
    }
  }
}

.owl-carousel-mod-1 {
  .owl-dot {
    &:last-child {
      display: inline-block;
    }
  }
  .img-width-auto img {
    width: auto;
    height: auto;
  }
  img + h4{
    margin-top: 24px;
  }
  h4 + p{
    margin-top: 0;
  }
  blockquote.quote{
    .img-wrap{
      vertical-align: top;
      img{
        width: 100%;
      }
    }
    cite.h6{
      padding-top: 5px;
    }
    p.small{
      padding-top: 5px;
    }
    cite + p{
      margin-top: 7px;
      @include media-breakpoint-up(lg) {
        margin-top: 20px;
      }
    }
  }
}
.owl-carousel-mod-2{
  .img-width-auto img {
    width: auto;
    height: auto;
  }
  img + h4{
    margin-top: 24px;
  }
  h4 + p{
    margin-top: 0;
  }
  blockquote.quote{
    .img-wrap{
      vertical-align: middle;
      img{
        width: 100%;
      }
    }
    cite.h6{
      vertical-align: middle;
    }
    p.small{
      padding-top: 5px;
    }
    cite + p{
      margin-top: 20px;
    }
  }

}



.bg-jungle-green {
  .owl-dot {
    &:after {
      background-color: #212121;
    }
  }
}

// Custom owl custom pagination
.owl-custom-pagination {
  margin-top: 53px;
  margin-bottom: 26px;
  .owl-dot-custom {
    display: inline-block;
    width: 43px;
    height: 43px;
    border: 2px solid $white;
    box-shadow: 8px 8px 21px 0 rgba(0, 0, 0, .25);
    font-size: 0;
    cursor: pointer;
    transition: .3s;
    &.active {
      @include transform(scale(1.28));
    }
    & + .owl-dot-custom {
      margin-left: 12px;
    }
  }
}

.owl-carousel[data-dots-custom] {
  .owl-dots {
    display: none !important;
  }
}

@include media-breakpoint-up(sm) {
  .owl-custom-pagination {
    margin-top: 53px;
    margin-bottom: 26px;
    .owl-dot-custom {
      width: 50px;
      height: 50px;
      & + .owl-dot-custom {
        margin-left: 18px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .owl-custom-pagination {
    margin-top: 63px;
    margin-bottom: 36px;
    .owl-dot-custom {
      width: 70px;
      height: 70px;
    }
  }
}

// Mobile owl dots

.owl-dots-mobile {
  .owl-dots {
    display: block !important;
  }
}

@include media-breakpoint-up(xl) {
  .owl-dots-mobile {
    .owl-dots {
      display: none !important;
    }
  }
}

