/*
* @subsection   Progress Bar
*/

.progress-bar-wrap {
  max-width: 100%;
  width: 210px;

  @include media-breakpoint-between(sm, sm) {
    max-width: 120px;
  }

  @include media-breakpoint-up(md) {
    max-width: 150px;
  }
}

.progress-bar {
  position: relative;
  height: 10px;
  width: 100%;
  margin: 12px 0 24px;
  background-color: $gray-dark;
  box-shadow: inset 0 2px 0 #e7e7e7;
  .progress-bar__body {
    position: absolute;
    right: 50%;
    width: 100%;
    top: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: $gray-base;

    &:after {
      content: '%';
    }
  }

  .progress-bar__stroke,
  .progress-bar__trail {
    stroke-linejoin: round;
  }
  &-mod-1 {
    background-color: transparent;
    box-shadow: none;
    .progress-bar__body {
      font-size: 42px;
      font-weight: 700;
      color: $primary;
      @include media-breakpoint-up(lg) {
        font-size: 48px;
      }
    }

  }
}

.progress-bar-horizontal {
  text-align: left;
  > svg {
    //margin-top: 7px;
    //box-shadow: $box-shadow-key-small;
  }

  .progress-bar__body {
    width: auto !important;
    top: -38px;
    right: 0;
  }
}

.progress-bar-radial {
  position: relative;
  padding-bottom: 100%;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    @include transform(rotateY(180deg)) ;
  }

  .progress-bar__stroke,
  .progress-bar__trail {
    stroke-location: outside;
  }

  .progress-bar__body {
    @include transform(translate(50%, -50%));
  }
}

.progress-bar-default {
  .progress-bar__stroke {
    stroke: $primary;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-primary {
  .progress-bar__stroke {
    stroke: $gray-dark;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-secondary-2 {
  .progress-bar__stroke {
    stroke: $gray-light;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-secondary-1 {
  .progress-bar__stroke {
    stroke: $gray-light;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-secondary-3 {
  .progress-bar__stroke {
    stroke: $brand-warning;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-secondary-4 {
  .progress-bar__stroke {
    stroke: $brand-danger;
  }

  .progress-bar__trail {
    stroke: rgba($gray, 0.05);
  }
}

.progress-bar-radial-wrap {
  width: 100%;
  max-width: 170px;
  margin: 0 auto;
}

/*
*
* Progress Bars
*/

//
// Linear Progress Bars
//

.progress-linear {
  position: relative;
  text-align: left;

  .progress-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .progress-bar-linear-wrap {
    height: 10px;
    background-color: $gray-dark;
    box-shadow: inset 0 2px 0 #e7e7e7;
  }

  .progress-bar-linear {
    width: 0;
    height: inherit;
    background: $primary;
    transition: .5s all ease-in-out;
  }

  .progress-value {
    &::after {
      content: "%";
    }
  }

  p + * {
    margin-top: 0;
  }
}
* + .progress-bar-linear-wrap { margin-top: 8px; }
.progress-linear + .progress-linear { margin-top: 15px; }

@include media-breakpoint-up(lg) {
  .progress-linear + .progress-linear { margin-top: 25px; }
}


//
// Circles Progress Bars
//

.progress-bar-circle {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.progress-bar-circle + p {
  margin-top: 15px;
}

.progress-bar-circle span {
  position: absolute;
  top: 50%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &::after {
    content: "%";
  }
}