/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
*/
@import "rd-navbar_includes/_rd-navbar-mixins.scss";

$navbar-color: $primary;
$navbar-background: transparent;
$navbar-shadow: 0 0 10px 2px rgba($gray-base, .22);
$navbar-width: 100%;

$navbar-panel-color: $navbar-color;
$navbar-panel-background: $navbar-background;

$navbar-nav-min-width: 270px;
$navbar-nav-color: $navbar-color;
$navbar-nav-background: transparent;
$navbar-nav-hover-color: #FFF;
$navbar-nav-hover-background: $primary;
$navbar-nav-active-color: $navbar-nav-hover-color;
$navbar-nav-active-background: $navbar-nav-hover-background;

$navbar-dropdown-width: 270px;
$navbar-dropdown-background: $white;
$navbar-dropdown-item-color: $primary;
$navbar-dropdown-item-background: transparent;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background: $primary;
$navbar-dropdown-item-active-color: $navbar-dropdown-item-hover-color;
$navbar-dropdown-item-active-background: $navbar-dropdown-item-hover-background;

$navbar-megamenu-gutter: 30px;
$navbar-megamenu-background: $gray-darker;
$navbar-megamenu-item-color: $primary;
$navbar-megamenu-item-background: transparent;
$navbar-megamenu-item-hover-color: $white;
$navbar-megamenu-item-hover-background: $primary;

$navbar-toggle-preset: "button-lines-arrow-2";
$navbar-search-toggle-preset: "search-preset-1";
$navbar-collapse-toggle-preset: "collapse-preset-1";

/*
* @subsection General Styles
*/

// RD Navbar Basics
%rd-navbar-transition {
  transition: .3s all cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

%rd-navbar-hidden {
  display: none;
}

%rd-navbar-visible {
  display: block;
}

.rd-navbar--no-transition {
  &, * {
    transition: none !important;
  }
}

.rd-navbar, .rd-navbar.rd-navbar--is-clone {
  @extend %rd-navbar-hidden;
}

.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
  @extend %rd-navbar-visible;
}

.rd-navbar-wrap, .rd-navbar, .rd-navbar-brand, .rd-navbar-slogan,
.rd-navbar-dropdown, .rd-navbar-megamenu, .rd-navbar-collapse-items,
.brand-name, .rd-navbar-nav, .rd-navbar-panel, .rd-navbar-search-form-input,
.rd-navbar-search-form-submit, .rd-navbar-search-toggle,
.rd-navbar-live-search-results, .rd-navbar-search-form {
  transition: .3s all ease;
}

// RD Navbar Collapse
.rd-navbar-collapse {
  &-toggle {
    @include make-toggle(
        $navbar-collapse-toggle-preset,
        $navbar-min-line-height,
        $navbar-min-font-size,
        $navbar-panel-color
    );
    display: none;
  }
}

// RD Navbar States
.rd-navbar--has-sidebar {
  body {
    padding-left: 270px;
  }
}

.rd-navbar--is-stuck {
  box-shadow: $navbar-shadow;
}

.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar.rd-navbar--is-stuck.rd-navbar--loading {
  visibility: hidden;
  @include transform(translateY(-100%));
}

@import "rd-navbar_includes/_rd-navbar-components.scss";

/*
* @subsection   Hybrid  Styles
*/

//=========    Static & Fullwidth & Sidebar    ===========
.rd-navbar-static, .rd-navbar-sidebar, .rd-navbar-fullwidth {
  // RD Navbar Search
  .rd-navbar-search {
    &-form {
      &-input {
        input {
          width: 100%;
          padding: ( $navbar-min-line-height - 34) / 2 40px ( $navbar-min-line-height - 34px) / 2 18px;
          height: $navbar-min-line-height;
          font-size: 16px;
          line-height: 34px;
          color: $navbar-color;
        }
      }
    }
  }
  // Link group
  .rd-navbar-nav li.link-group {
    display: none;
  }
}

//=============    Static & Fullwidth     ================
.rd-navbar-static, .rd-navbar-fullwidth {
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  &:after {
    content: '';
    background: $navbar-background;
  }

  .rd-navbar-brand, .rd-navbar-nav > li > a, .rd-navbar-search-toggle {
    position: relative;
    z-index: 2;
  }

  // RD Navbar Submenu
  .rd-navbar-nav {
    > li {
      > a {
        position: relative;
        display: block;
        padding: 10px 0px;
        color: $white;
        font-weight: 900;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        line-height: 1.2;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 3px;
          transition: .4s;
        }
      }

      &.focus > a, > a:hover, &.active > a {
        &:after {
          left: 0;
          width: 100%;
        }
      }
    }

    > .rd-navbar-submenu {
      > ul {
        box-shadow: $navbar-shadow;
      }

      li {
        font-size: 18px;
        line-height: 30px;
      }

      > .rd-navbar-dropdown, > .rd-navbar-megamenu {
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(30px));
      }

      &.focus {
        > .rd-navbar-dropdown, .rd-navbar-megamenu {
          opacity: 1;
          visibility: visible;
          @include transform(translateY(0));
        }

      }

      .rd-navbar-submenu.focus > .rd-navbar-dropdown {
        display: block;
      }
    }
  }

  // RD Navbar Inner
  .rd-navbar-inner {
    position: relative;
    max-width: $navbar-width;
    padding: 13px 10px;
    margin-left: auto;
    margin-right: auto;
    //text-align: center;
    @media (min-width: 1800px) {
      padding: 40px 0;
    }
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    > li > .rd-navbar-dropdown {
      display: block;
      position: absolute;
      text-align: left;
      margin-top: 5px;
      left: 0;
      box-shadow: 0 0 10px 2px rgba($gray-base, .22);
      margin-left: -28px;
      width: $navbar-dropdown-width;
      background: $navbar-dropdown-background;
      z-index: 5;
      li + li {
        margin-left: 0;
      }
    }
  }

  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    background: $navbar-dropdown-background;
    padding: 10px 0;

    .rd-navbar-dropdown {
      > li > a {
        color: $white;
      }
    }

    > li > a {
      display: block;
      padding: 2px 20px;
      color: $navbar-dropdown-item-color;
      background: $navbar-dropdown-item-background;
    }

    > li > a:hover {
      color: $navbar-dropdown-item-hover-color;
      background: $navbar-dropdown-item-hover-background;
    }

    > li.focus > a {
      color: $navbar-dropdown-item-active-color;
      background: $navbar-dropdown-item-active-background;
    }
  }

  // RD Navbar Megamenu
  .rd-navbar-megamenu {
    @include transform(translateY(-25px));
    display: table;
    position: absolute;
    text-align: left;
    right: $navbar-megamenu-gutter/2;
    border-spacing: 16px 19px;
    table-layout: fixed;
    box-shadow: 0 0 10px 2px rgba($gray-base, .22);
    width: 55%;
    margin-top: 10px;
    max-width: $navbar-width;
    background: $navbar-megamenu-background;
    z-index: 4;
    @media (min-width: 1800px) {
      border-spacing: 31px 25px;
    }
    p + * {
      margin-top: 0;
    }
    > li {
      position: relative;
      display: table-cell;

      > p {
        display: block;
        padding: 8px 0;
        font-weight: 700;
        color: $gray-base;
        border-bottom: 1px solid $gray-darker;
      }

      > ul {
        padding: 10px 0;
        li {
          padding: 5px 5px;
          transition: .3s;
          @include media-breakpoint-up(xl) {
            padding: 5px 25px;
          }
        }
        li:hover {
          background-color: $primary;
          a {
            color: $navbar-megamenu-item-hover-color;
          }
        }
        li + li {
          margin-left: 0;
        }

        a {
          display: inline-block;
          color: $navbar-megamenu-item-color;
          background: $navbar-megamenu-item-background;

          //&:hover {
          //  color: $navbar-megamenu-item-hover-color;
          //  background: $navbar-megamenu-item-hover-background;
          //}
        }
      }

      & + li {
        padding-left: 10px;
      }
    }
  }

  // RD Navbar Clone
  &.rd-navbar--is-clone {
    display: none;
    @include transform(translateY(-110%));

    &.rd-navbar--is-stuck {
      @include transform(translateY(0));
    }
  }

  // RD Navbar Search
  .rd-navbar-search {
    &-form {
      .form-group {
        margin-bottom: 0;
      }

      &:after {
        left: 100%;
      }

      &-submit {
        background-color: transparent;
        right: 27px;
        width: auto;
        height: auto;
        line-height: inherit;
        font-size: 16px;
        border: none;
        &:focus {
          outline: none;
        }
      }

      &-input {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        padding-left: 10px;
      }
    }
    &-toggle {
      position: absolute;
      right: 50px;
      top: 50%;
      @include transform(translateY(-50%));
      color: $white;
      background-color: transparent;
      border: none;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: $primary;
      }
    }

    &.active {
      .rd-navbar-search-form {
        visibility: visible;
        @include transform(rotateX(0deg));
      }
    }
  }

  // RD Navbar Live Search Results
  .rd-navbar-live-search-results {
    top: calc(100% + #{$navbar-min-height});
    z-index: 0;
  }

  // RD Navbar Stuck
  &.rd-navbar--is-stuck,
  &.rd-navbar--is-clone {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background: $white;

    .rd-navbar-panel {
      //padding: 8px 0;
      display: none;
    }
    .btn-group {
      display: none;
    }
    .rd-navbar-inner {
      padding: 10px 0;
    }
    .rd-navbar-top-panel {
      display: none;
    }

    .rd-navbar-collapse {
      display: none;
    }
  }

  .rd-navbar-dropdown,
  .rd-navbar-megamenu {
    @extend %rd-navbar-transition;
    position: absolute;
    @include transform(translateY(30px));
    padding: 4px 0;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    background: $gray-dark;

    li > a {
      display: block;
      font-size: 18px;
      line-height: 1.2;
      padding: 4px 1px;
      @media (min-width: 1400px) {
        padding: 6px 1px;
      }
    }
  }

  .rd-navbar-dropdown {
    width: 270px;
    li > a {
      line-height: 1.2;
      padding: 8px 32px;
      @media (min-width: 1600px) {
        padding: 12px 32px;
      }
    }
    //li + li {
    //  margin-top: 2px;
    //}

  }

  .rd-navbar-megamenu {
    //margin-top: 10px;
    left: 15px;
    right: 0;
    display: table;
    table-layout: fixed;
    width: 96%;
    padding: 0 8px;
    background: $white;
    @include media-breakpoint-up(xl) {
      width: 100%;
      left: 0;
      padding: 16px 8px 0;
    }
    > li {
      display: table-cell;

    }
  }

  .rd-navbar-nav {
    display: block;
    text-align: center;

    li.rd-navbar--has-dropdown {
      position: relative;
    }

    li.focus,
    li.opened {
      > .rd-navbar-dropdown, > .rd-navbar-megamenu {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }

    > li {
      display: inline-block;

      > .rd-navbar-dropdown {
        top: 100%;
        z-index: 2;
      }
      > .rd-navbar-megamenu {
        top: 70%;
        z-index: 2;
        @include media-breakpoint-up(lg) {
          top: 90%;
        }
      }

      > .rd-navbar-dropdown {


        .rd-navbar-dropdown {
          left: 100%;
          top: -8px;
          //z-index: 2;
        }
      }
      > a {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: $navbar-color;
      }

      &.active > a, &.opened > a, &.focus > a, > a:hover {
        color: $brand-amaranth;
      }
    }
    li:nth-last-child(2) {
      > .rd-navbar-dropdown {
        margin-left: -187px;
        @media (min-width: 1200px) {
          margin-left: -161px;
        }
        @media (min-width: 1300px)   {
          margin-left: -121px;
        }
        @media (min-width: 1600px) {
          margin-left: -28px;
        }
      }
    }
    li:nth-last-child(3) {
      > .rd-navbar-dropdown {
        margin-left: -127px;
        @media (min-width: 1200px) {
          margin-left: -68px;
        }
        @media (min-width: 1600px) {
          margin-left: -28px;
        }
      }
    }
  }

  // RD Navbar States
  .rd-navbar--has-dropdown {
    position: relative;
    z-index: 2;
  }

  &.rd-navbar--is-clone {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 0 24px -1px rgba(0, 0, 0, .2);
    .rd-navbar-nav > li > a,
    .rd-navbar-search-toggle,
    .rd-navbar-shop {
      color: $gray-darker;
    }
  }

  //header corporate

  .header_corporate & {
    .rd-navbar-top-panel {
      .list-inline {
        float: right;
      }
    }
  }
  .rd-navbar-top-panel {
    a {
      vertical-align: top;
      font-size: 16px;
      @include media-breakpoint-up(xl) {
        font-size: inherit;
      }
    }
    .btn-group { display: none; }
  }
  .rd-navbar-panel {
    vertical-align: top;
    max-width: none;
    display: inline-block;
    @include media-breakpoint-between(xl, xxl) {
      text-align: left;
    }

    @include media-breakpoint-up(xxxl) {
      min-width: 210px;
      float: left;
    }
  }
  .btn-group {
    float: right;
    min-width: inherit;
    text-align: right;
    padding-right: 15px;
    .btn {
      float: none;
    }
    @media (min-width: 1300px) {
      padding-right: 0;
    }
  }
  .rd-navbar-nav-wrap {
    display: inline-block;
    padding: 10px 0;
    max-width: 1170px;
  }
  .rd-navbar-nav {
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;

    li {
      & + li {
        margin-left: 1.2%;
        @media (min-width: 1800px) {
          margin-left: 3.2%;
        }
      }
    }

  }
  .rd-navbar-inner {
    padding: 40px 0;
    @media (min-width: 1800px) {
      padding: 40px 76px 30px;
      text-align: center;
    }
  }

  // header center
  .header_center & {
    .rd-navbar-top-panel-wrap {

      div + * {
        margin-left: 22px;
        @include media-breakpoint-up(xl) {
          margin-left: 45px;
        }
      }
      @media (min-width: 2500px) {
        max-width: 1500px;
      }
    }
    .rd-navbar-nav-wrap {
      display: block;
      margin: 0 auto;
      border-top: 1px solid #b7b7b7;
      @media (min-width: 2500px) {
        max-width: 1500px;
      }

      .rd-navbar-nav {
        text-align: left;
        display: flex;
        justify-content: space-around;

      }
    }

    @include media-breakpoint-up(lg) {
      .rd-navbar-panel {
        display: inline-block;
        min-width: auto;
        float: none;
      }
      .rd-navbar-inner {
        text-align: center;
        @media (min-width: 2500px) {
          max-width: 1500px;
        }
      }
      .btn-group {
        position: absolute;
        top: -43px;
        right: 0;
      }
    }
    @media (min-width: 1300px) {
      .btn-group {
        top: -24%;
      }
    }
    @media ( min-width: 5000px ) {
      .btn-group {
        top: -30%;
      }
    }
    .contact-info {
      a + a {
        margin-left: 22px;
        @include media-breakpoint-up(xl) {
          margin-left: 45px;
        }
      }
    }
    &.rd-navbar--is-stuck {
      .rd-navbar-panel {
        display: none;
      }
    }
  }

  //header minimal
  .header_minimal & {

      max-width: 1200px;
      padding: 20px 15px 0;
      margin:0 auto;
    @include media-breakpoint-up(xl) {
      padding: 40px 15px 0;
    }

    .rd-navbar-top-panel {
      position: relative;
      z-index: 2;
      float: right;
      width: 100%;
      background-color: transparent;
      padding-bottom: 20px;
      @include media-breakpoint-up(xl) {
        width: 80%;
        padding-bottom: 0;
      }
      .btn-group {
        display: inline-block;
        float: none;
        padding: 0;
        @include media-breakpoint-up(xl) {
          margin-left: 60px;
        }
      }
      .list-inline {
        display: none;
      }
      .rd-navbar-top-panel-wrap {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .contact-info {
        margin: 0;
        a + a {
          margin-left: 13px;
          @include media-breakpoint-up(xl) {
            margin-left: 43px;
          }
        }
        @include media-breakpoint-between(lg, lg) {
          width: 40%;
          a:last-of-type {
            float: right;
          }
        }
      }
    }
    .rd-navbar-inner {
      padding: 0;
      text-align: center;

      @media (min-width: 768px) and (max-width: 1199px) {
        .rd-navbar-panel {
          float: none;
          display: inline-block;
          padding-bottom: 20px;
        }
      }
      .btn-group {
        display: none;
      }
    }
    .rd-navbar-nav-wrap {
      display: inline-block;
    }
    .rd-navbar-brand {
      padding-top: 10px;
    }
    &.rd-navbar--is-stuck {
      max-width: none;
      padding: 0px 15px 0;
      .rd-navbar-panel {
        display: none;
      }
    }
  }

}

//=============      Fixed & Sidebar      ================
.rd-navbar-fixed, .rd-navbar-sidebar {
  // RD Navbar Collapse
  .rd-navbar-collapse-toggle {
    display: inline-block;
    z-index: 1;
  }
  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    display: block;
  }

  .rd-navbar-collapse-items {
    position: absolute;
    width: $navbar-nav-min-width - 10px;
    padding: 25px 15px;
    box-shadow: $navbar-shadow;
    color: $navbar-panel-color;
    background: $navbar-panel-background;
    font-size: 16px;
    line-height: 34px;

    li > * {
      vertical-align: middle;
    }

    li + li {
      margin-top: 10px;
    }

    .icon, a {
      display: inline-block;
      font-size: 16px;
      line-height: 30px;
    }

    .icon, a[class*="fa"]:before {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-right: 5px;
    }
  }
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar {
  position: fixed;
  width: $navbar-nav-min-width;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  line-height: 34px;
  color: $navbar-color;
  background: $gray;
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.17);
  z-index: 998;
  padding: 120px 0;

  &:before, &:after {
    content: '';
    display: block;
    height: $navbar-min-height;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($navbar-background, 10%);
    border: none;
    border-radius: 0;
    opacity: .2;
  }

  &::-webkit-scrollbar-track {
    background: $navbar-background;
    border: none;
    border-radius: 0;
  }
}

.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-sidebar .rd-navbar-nav {
  p {
    font-weight: 700;
    color: $gray-darker;
    padding: 5px 40px 5px 15px;

    > a {
      display: block;
      color: $gray-dark;
      margin: -5px -40px -5px -15px;
      font-weight: 400;
      padding: 5px 40px 5px 15px;

      &:hover {
        color: $navbar-nav-hover-color;
        background: $navbar-nav-active-background;
        text-decoration: none;
      }
    }
  }

  li {
    position: relative;

    li > a {
      padding-left: 20px;
    }

    > a {
      position: relative;
      display: block;
      padding: 5px 45px 5px 15px;

      //&:first-letter {
      //  text-transform: uppercase;
      //}
    }

    &.active > a {
      color: $gray-light;
      background: darken($navbar-background, 5%);
    }

    &.focus > a, > a:hover {
      color: $navbar-nav-hover-color;
      background: $navbar-nav-active-background;
    }

    & + li, > img + a, > a + a, > a + ul {
      margin-top: ($navbar-min-height - $navbar-min-line-height) / 2;
    }
  }

  // RD Navbar Dropdown
  .rd-navbar-dropdown {
    > li > a {
      padding-left: 20px;
    }

    ul > li > a {
      padding-left: 25px;
    }
  }

  // RD Navbar Submenu
  .rd-navbar-submenu {
    > .rd-navbar-megamenu,
    > .rd-navbar-dropdown {

    }

    &.focus {

    }
  }
}

.rd-navbar-fixed, .rd-navbar-sidebar {
  // RD Navbar Search
  .rd-navbar-search {
    &-form {
      &-submit {
        @include transform(scale(.7));
      }
    }
  }
}


@import "rd-navbar_includes/_rd-navbar-static.scss";
@import "rd-navbar_includes/_rd-navbar-fullwidth.scss";
@import "rd-navbar_includes/_rd-navbar-fixed.scss";
@import "rd-navbar_includes/_rd-navbar-sidebar.scss";

/*
* @subsection   Page boxed layout style redeclaration
*
* @description  Redefines navbar style inside boxed layout
*
* @see          ../modules/_page-layouts.scss
*/
html.boxed {
  &.rd-navbar--has-sidebar {
    body {
      padding-left: $navbar-nav-min-width + 30px;
      padding-right: 30px;
    }
  }

  .rd-navbar--is-clone {
    max-width: $layout-boxed-width;
    margin-left: auto;
    margin-right: auto;
  }
}

ul ul, ul ol, ol ul, ol ol {
  padding-left: 0;
}

// Rd navbar adjusters

.rd-navbar {
  &.bg-white {

  }
  &.static-position:first-child {
    position: static;
    .rd-navbar-nav > li > a,
    .rd-navbar-shop,
    .rd-navbar-search-toggle {
      color: #212121;
    }
    .rd-navbar-inner {
      padding-top: 31px;
      padding-bottom: 40px;
    }
    .rd-navbar-nav-wrap {
      padding-top: 9px;
    }
    &:after {
      content: none;
    }
  }
}

.inner-wrap {
  @include media-breakpoint-between(xl, xxl) {
    width: 1200px;
    margin: 0 auto;
  }
}

.rd-navbar-fullwidth .rd-navbar-top-panel-wrap,
.rd-navbar-fullwidth .inner-wrap {
  @media (min-width: 3000px) {
    max-width: 2560px;
    margin: 0 auto;
  }
}