/*
 * @subsection   RD-Range
 */

$range-primary-color: $primary;

.rd-range-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 100%;
}

.rd-range-input-container {
  position: relative;

  label {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //color: $range-primary-color;
    font-size: 14px;
  }

  .rd-range-input-value {
    border-bottom: 3px solid $range-primary-color;
    color: #A5A5A5;
    max-width: 100px;
    height: 40px;
    padding-top: 17px;
    font-size: 14px;
    text-align: right;
    padding-right: 7px;
  }
}

.rd-range {
  height: 20px;
  margin-top: 25px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  &__wrap {
    position: relative;
    width: 99%;
    background-color: $gray-dark;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    //transition: background 100ms cubic-bezier(0.23, 1, 0.32, 1);
    height: 4px;
  }

  &:hover {
    .rd-range__wrap {
      background-color: $gray-dark;
    }

    .rd-range__pointer {
      &:before {
        transform: scale(1);
        -webkit-animation-name: pulse;
        animation-name: pulse;
      }
    }
  }

  &__pointer {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 6%;
    z-index: 1;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 15%;
    //transition: transform 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    overflow: visible;
    background-color: $range-primary-color;
    background-clip: padding-box;
    transition: 0.02s cubic-bezier(.35, 0, .25, 1);

    @include media-breakpoint-up(md) {
      width: 12px;
      height: 12px;

      &:before {
        content: '';
        height: 26px;
        width: 26px;
        pointer-events: none;
        background: rgba($range-primary-color, 0.16);
        position: absolute;
        top: -7px;
        left: -7px;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms, opacity 60ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
        pointer-events: none;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }

      &.active {
        transform: scale3d(1.5, 1.5, 1.5) translate(-50%, -50%);

        &:before {
          animation: none;
          transform: scale(0);
          opacity: 0;
        }
      }
    }
  }

  &__line {
    background-color: $range-primary-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    //transition: 0.02s cubic-bezier(.35, 0, .25, 1);
  }

  &.hasTooltip {
    .rd-range__pointer-tooltip {
      font-size: 12px;
      color: $white;
      opacity: 0;
      transition: color .3s cubic-bezier(.35, 0, .25, 1);
    }

    .rd-range__pointer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: -41px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include transform(scale(.45) translate3d(-50%, 67.5px, 0));
      transition: transform .3s cubic-bezier(.35, 0, .25, 1);

      &:before {
        content: none;
      }

      &:after {
        z-index: -1 ;
        position: absolute;
        content: '';
        left: 0;
        border-radius: 16px;
        top: 19px;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 16px solid $range-primary-color;
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0);
        transform: translate3d(0, -8px, 0);
        transition: all .2s cubic-bezier(.35, 0, .25, 1);
      }

      &.active {
        opacity: 1;
        @include transform(translate3d(-50%, 0, 0) scale(1));

        &:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
        }

        .rd-range__pointer-tooltip {
          opacity: 1;
        }
      }
    }
  }
}