/*
* @subsection   RD Mail Form
*
* @description  Describes style declarations for RD Mail Form extension
*
* @author       Aleksey Patsurkivskiy
* @version      2.0.0
*/

$input-offset-top: 22px;
$input-background: $gray-dark;
$placeholder-clr: $form-input-color;
$placeholder-opacity: 1;

// RD Form
.rd-form {
  position: relative;
  text-align: left;

  .button {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: $form-input-height;
  }
}

.rd-form-outside {
  .form-validation {
    top: 30px;
  }
}

* + .rd-form { margin-top: 20px; }
* + .rd-form-outside { margin-top: 0; }

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
  color: $black !important;
}

//
// Form wrap
//
.form-wrap {
  position: relative;

  &.has-error {
    .form-input {
      border-color: $form-feedback-invalid-color;
    }
  }

  &.has-focus {
    .form-input {
      border-color: $form-feedback-focus-color;
    }
  }
}

// Form wrap offset
.form-wrap + * { margin-top: 20px; }

.rd-mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 100%;

  fieldset {
    border: none;

    > .row + .row {
      margin-top: $input-offset-top;
    }
  }
}

.rd-mailform {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 25px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &:first-child {
    margin-top: 0;
  }

  input, select {
    height: $form-input-height;
  }

  > * + * {
    margin-top: 20px;
  }

  @include media-breakpoint-up(md) {
    margin-top: $input-offset-top;
  }
}

.rd-form-outside {

  > * + * { margin-top: 0; }
}

.form-input {
  display: inline-block;
  width: 100%;
  font-size: $form-input-font-size;
  padding: $form-input-padding;
  line-height: $form-input-line-height;
  color: $form-input-color;
  background: $input-background;
  border: none;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .09);

  //@if ($form-input-border != none) {
  //  border: $form-input-border;
  //  border-radius: $form-input-border-radius;
  //}

  &:-moz-placeholder {
    color: $placeholder-clr;
    opacity: $placeholder-opacity;
    transition: 0.3s;
  }

  &::-webkit-input-placeholder {
    color: $placeholder-clr;
    opacity: $placeholder-opacity;
    transition: 0.3s;
  }

  &::-moz-placeholder {
    color: $placeholder-clr;
    opacity: $placeholder-opacity;
    transition: 0.3s;
  }

  &:-ms-input-placeholder {
    color: $placeholder-clr;
    opacity: $placeholder-opacity;
    transition: 0.3s;
  }

  &:focus {
    &:-moz-placeholder {
      opacity: 0.4;
    }

    &::-webkit-input-placeholder {
      opacity: 0.4;
    }

    &::-moz-placeholder {
      opacity: 0.4;
    }

    &:-ms-input-placeholder {
      opacity: 0.4;
    }
  }

  &:focus, &:active {
    outline: none;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
  }
}

// Form textarea
textarea.form-input {
  height: $form-textarea-default-height;
  min-height: $form-textarea-default-min-height;
  max-height: $form-textarea-default-max-height;
  resize: vertical;
  line-height: 1.4;
}

// Form labels
.form-label,
.form-label-outside {
  margin-bottom: 0;
  font-weight: $form-input-font-weight;
}

.form-label {
  position: absolute;
  top: $form-input-height / 2;
  left: 0;
  right: 0;
  color: $form-input-color;
  padding-left: $form-input-padding-horizontal;
  padding-right: $form-input-padding-horizontal;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  line-height: $form-input-line-height;
  pointer-events: none;
  text-align: left;
  z-index: 9;
  transition: .25s;
  will-change: transform;
  transform: translateY(-50%);

  &.focus {
    opacity: 0;
  }

  &.auto-fill {
    color: $form-input-color;
  }
}

// Form label out of the field
.form-label-outside {
  width: 100%;
  margin-bottom: 4px;
  color: $black;

  @include media-breakpoint-up(md) {
    position: static;

    &,
    &.focus,
    &.auto-fill {
      transform: none;
    }
  }
}

.form-label-textarea {
  top: 64px;
  line-height: 1.4;
}

[data-x-mode='true'] {
  .form-label {
    pointer-events: auto;
  }
}

//
// Form validation
//
.form-validation {
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 11;
  margin-top: 2px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: $form-feedback-invalid-color;
  transition: .3s;
}

.form-validation-left {
  .form-validation {
    top: 100%;
    right: auto;
    left: 0;
  }
}

.input-mod-1 {
  display: inline-block;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 48%;
    & + .input-mod-1 {
      margin-left: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    width: 48.4%;
  }
}

div[class^="rd-mailform-validate"] {
  position: fixed;
  left: 50%;
  bottom: 50px;
  @include transform(translateX(-50%));
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 400px;
  min-height: 50px;
  font-weight: 700;
  text-align: center;
  padding: 12px 25px 10px 40px;
  font-size: 16px;
  opacity: 0;
  transition: .3s;
  color: #fff;
  background: $primary;
  z-index: 999;
  pointer-events: none;

  &:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 15px;
    @include transform(translateY(-50%));
  }

  &.success {
    opacity: 1;
  }
  &.error {
    opacity: 1;
  }
}

.rd-mailform-mod-1 {
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.rd-mailform-mod-2 {
  //margin-top: 0;
  .form-wrap {
    @include media-breakpoint-up(lg) {
      display: inline-block;
      width: 48%;
    }
  }
  .btn {
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      vertical-align: top;
      margin-left: 15px;
    }
  }
}

.rd-mailform-mod-3 {
  padding-bottom: 40px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }
  .form-wrap {
    @include media-breakpoint-up(lg) {
      display: inline-block;
      width: 61%;

    }
  }
  .btn {
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      vertical-align: top;
      margin-left: 5px;
    }
  }
}

.rd-mailform-mod-4 {
  margin-top: 25px;
  text-align: left;
  @include media-breakpoint-up(md) {
    margin-top: 55px;
  }
}

.rd-mailform {
  .input-mod-1 {
    .form-wrap {
      @include media-breakpoint-up(md) {
        margin-left: -10px;
        width: 108%;
      }
      @include media-breakpoint-up(xl) {
        width: 106.5%;
      }
    }
  }
  &.offset-2{
    margin-top: 60px;
  }
}

// Form output
#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 2000;
  visibility: hidden;
  transform: translate3d(-500px, 0, 0);
  transition: .3s all ease;

  &.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  @include media-breakpoint-up(sm) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.error {
    color: $form-feedback-invalid-color;
  }

  &.success {
    color: $form-feedback-valid-color;
  }
}

