/*
* @subsection   RD Google Map
*
* @description  Describes style declarations for RD Google Map extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.0.0
*/
$map-height: 200px;
$map-xs-height: 250px;
$map-sm-height: 350px;
$map-md-height: 650px;

.rd-google-map {
  color: #333;
  &__model{
    height: $map-xs-height;

    img {
      max-width: none !important;
    }

    @include media-breakpoint-up(sm) {
      height: $map-xs-height;
    }

    @include media-breakpoint-up(md) {
      height: $map-sm-height;
    }
    @include media-breakpoint-up(xl) {
      height: $map-md-height;
    }
  }

  &__locations{
    display: none;
  }
}

.rd-google-map-mod-1 {
  &.rd-google-map__model {

    height: 277px;
    @include media-breakpoint-up(md) {
      height: 440px;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 440px;
  }
}

.rd-google-map-mod-2 {
  &.rd-google-map__model {
    @include media-breakpoint-up(md) {
      height: 430px;
    }
    @include media-breakpoint-up(xl) {
      height: 525px;
    }
  }
}

.rd-google-map-mod-3{
  &.rd-google-map__model {
    @include media-breakpoint-up(xl) {
      height: 474px;
    }
  }
}
