/**
 * RD Select Menu
 * @Section
 */

$select-color: $gray-base;
$select-border: 1px solid #f1f1f1;
$select-background: $gray-dark;
$select-selected-background: #eee;
$select-font-size: 18px;
$select-line-height: 39px;

.form-group {
  text-align: left;
}

label {
  display: block;
}

ol, ul {
  list-style: none;
}

.rd-mailform-select {
  height: 50px;
  display: block;
  font-size: $select-font-size;
  line-height: $select-line-height;
  border: none;
  padding: 3px 20px;
  background-color: $gray-dark;
  color: $gray-darker;
  z-index: 11;
  position: relative;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.rd-select {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  margin-top: 9px;
  box-shadow: inset 0 2px 1px 0  rgba(0, 0, 0, .09);
}

.rd-select-value {
  display: block;
}

.rd-select-value-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.rd-select-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 14;
  width: 100%;
  text-align: left;
  color: $select-color;
  border: $select-border;
  background: $select-background;
  padding: 4px 0 4px 4px;
  //max-height: 200px;
  overflow: visible;
  //overflow-x: hidden;
  //overflow-y: scroll;

  li + li {
    //margin-top: 4px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: darken($select-background, 20%);
  }
}

.rd-select-option {
  cursor: pointer;
  font-size: $select-font-size;
  line-height: 27px;
  padding: 5px 20px;
  transition: .3s all;

  &:hover, &.selected {
    //background: $select-selected-background;
    color: $primary;
  }
}

.rd-select-open {
  box-shadow: 0 0 3px 1px rgba($gray-base, .22);
  .rd-select-menu {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 2px 2px 2px rgba($gray-base, .12);
  }
  .rd-mailform-select {
    box-shadow: none;
  }
}
.rd-select-trigger.rd-mailform-select:focus {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.22);
}