/*
* @subsection   RD Calendar
*
*
* @author       Evgeniy Gusarov
* @see          https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.0.0
*/
@import "../_variables.scss";

.rd-calendar {

  &.show-events {

  }
}

// Today
.rdc-today_day {

}

.rdc-today_date {

}

.rdc-today_month {

}

.rdc-today_fullyear {

}

// Panel
.rdc-panel {

}

.rdc-month,
.rdc-fullyear {
  display: inline-block;
}

// Controls
.rdc-next, .rdc-prev, .rdc-events_close {
  color: $primary;
  font: 400 18px/38px "FontAwesome";
  cursor: pointer;
  transition: .3s all ease;

  &:hover {
    color: $brand-amaranth;
  }
}

.rdc-next {
  margin-left: 8%;
  &:before {
    content: '\f054';
  }
}

.rdc-prev {
  margin-right: 8%;
  &:before {
    content: '\f053';
  }
}

.rdc-events_close {
  &:before {
    content: '\f00d';
  }
}

// Events
.rdc-events {
  display: none;
}

.rdc-table_has-events {

  .rdc-table_date {
    background-color: $primary;
    color: $white;
    cursor: pointer;
  }

  ul {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    width: 100%;
    //visibility: hidden;
    //opacity: 0;
    //transition: .4s;
    margin-bottom: 0;
    padding: 10px;
    background-color: $primary;
    @media (min-width: 640px) {
      top: 75px;
    }
    @include media-breakpoint-up(lg) {
      top: 125px;
    }
    @include media-breakpoint-up(xl) {
      top: 167px;
      padding: 40px;
    }
    li {
      padding: 0 10px;
      background-color: $white;
      @include media-breakpoint-up(lg) {
        padding: 0 40px;
      }
      .table-responsive {
        border: none;
      }

      table {
        thead {
          th {
            text-align: center;
            padding: 10px 10px;
            @include media-breakpoint-up(lg) {
              text-align: left;
              padding: 26px 30px;
            }

            span.h4 {
              font-size: 24px;
            }
          }
        }
        tr {
          display: table-row;
          border-bottom: 1px solid $gray-darker;
          &.disabled {
            time {
              color: $gray-darker;
            }
            button {
              visibility: hidden;
            }
          }
          &:nth-child(2n) {
            border-bottom: 1px solid $gray-darker;

            td {
              background-color: transparent;
            }
          }
        }
        td {
          display: block;
          border: none;
          &:nth-child(2) {
            color: $gray-darker;
          }
          @include media-breakpoint-up(lg) {
            display: table-cell;
          }
        }
      }
    }
  }
  .rdc-table_events-count {
    display: none;
  }
}

.rdc-event {
  display: none;

  &.active {
    display: block;
  }
}

// Table
.rdc-table {
  margin-top: 30px;
  position: relative;
  width: 100%;
  table {
    border-spacing: 4px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    vertical-align: top;
    border: 1px solid $gray-darker;
    border-top: none;
  }
  th {
    border-bottom: 1px solid $gray-darker;
  }

  tr {
    position: relative;
    display: inline-block;
    td:nth-last-child(1),
    td:nth-last-child(2) {
      > div {
        background-color: $gray-dark;
      }
    }
  }
}

.rdc-month {

}

.rdc-fullyear {

}

.rdc-table_day {
  width: 42px;
  color: $gray;
  font-size: 18px;
  font-weight: 300;

  @media (min-width: 480px) {
    width: 63px;
  }

  @include media-breakpoint-up(md) {
    width: 76px;
  }
  @include media-breakpoint-up(lg) {
    width: 126px;
  }
  @include media-breakpoint-up(xl) {
    padding: 5px 0 0 15px;
    width: 170px;
  }
}

.rdc-table_date {
  width: 39px;
  height: 39px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  padding: 5px;
  color: $gray-base;
  text-align: left;
  background-color: $white;
  box-sizing: border-box;

  @media (min-width: 480px) {
    height: 60px;
    width: 60px;
  }

  // Medium ≥768px
  @include media-breakpoint-up(md) {
    height: 75px;
    width: 75px;
  }
  @include media-breakpoint-up(lg) {
    height: 125px;
    width: 125px;
  }
  @include media-breakpoint-up(xl) {
    padding: 15px;
    width: 167px;
    height: 167px;
  }
}

.rdc-table_today {
  background-color: $gray-dark;
}

.rdc-table_next,
.rdc-table_prev {
  opacity: .5;
}

