/*
* @subsection   Easy Responsive Tabs
*
* @description  Describes style declarations for Easy Responsive Tabs extension
*
* @author       Samson Onna
* @link         samson3d@gmail.com
* @version      1.0.0
*/

$tabs-btn-height: 40px;
$tabs-btn-indent: 0px;

$tabs-btn-color: #333;
$tabs-btn-background: #DDD;

$tabs-btn-active-color: #333;
$tabs-btn-active-background: $primary;

$tabs-btn-border-radius: 4px;
$tabs-btn-border: 1px solid #CCC;

$tabs-btn-padding: 10px 20px;

$tab-padding: 20px;

.resp-tabs-list {
  padding: 0;
  li {
    cursor: pointer;
    padding: 12px 25px;
    display: block;
    max-width: 50%;
    margin: 5px auto;
    @include media-breakpoint-up(sm) {
      display: inline-block;
      max-width: none;
      margin: 0;
      & + li {
        margin-left: 6px;
      }
    }
    @include media-breakpoint-up(md) {
      padding: 12px 41px;
    }

    &:hover {
      border-color: $primary;
      background-color: $primary;
    }
    &.resp-tab-active {
      background-color: $primary;
      color: $white;
    }
  }
  & + * {
    margin-top: 30px;
  }
}

.resp-accordion {
  position: relative;
  display: block;
  padding: 15px 66px;
  background-color: $gray-dark;
  color: $primary;
  transition: .3s;
  .resp-arrow {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 20px;
    left: 32px;
    background-color: $primary;
    color: $white;
    &:before {
      position: absolute;
      top: 3px;
      left: 9px;
      content: '';
      display: inline-block;
      width: 2px;
      height: 14px;
      background-color: $white;
      transition: 0.4s;
      opacity: 1;
    }
    &:after{
      position: absolute;
      top: 9px;
      left: 3px;
      content: '';
      display: inline-block;
      width: 14px;
      height: 2px;
      background-color: $white;
    }
  }

  &:hover {
    color: $brand-amaranth;
    cursor: pointer;
  }
}

* + .resp-accordion {
  margin-top: 10px;
}

.resp-tab-active {
  margin-bottom: 0;
  .resp-arrow {

    &:before {
      opacity: 0;
    }
  }
}

.resp-tab-content {
  text-align: left;
  @include media-breakpoint-down(sm) {
    padding: 15px 15px;
    background-color: $gray-dark;
  }
}

.responsive-tabs[data-type="accordion"] {
  .resp-tab-content {
    padding: 15px 15px;
    background-color: $gray-dark;
    @include media-breakpoint-up(md) {
      padding: 15px 70px;
    }
  }
  .resp-tab-active {
    margin-bottom: 0;
    padding-bottom: 0;
    .resp-arrow {
      &:before {
       opacity: 0; 
      }
    }
  }
}

.resp-tab-content {
  display: none;
}

.resp-tab-content-active {
  display: block;
}

.responsive-tabs-default {
  .resp-tabs-list {
    display: none;
    word-spacing: $tabs-btn-indent - 4px;
    margin-bottom: -1px;
  }

  .resp-accordion, .resp-tabs-list > li {
    display: inline-block;
    word-spacing: normal;
    padding: $tabs-btn-padding;
    background: $tabs-btn-background;
    border: $tabs-btn-border;
    border-top-left-radius: $tabs-btn-border-radius;
    border-top-right-radius: $tabs-btn-border-radius;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: .3s all ease;

    &:hover, &.resp-tab-active {
      color: $tabs-btn-active-color;
      background: $tabs-btn-active-background;
    }

    &.resp-tab-active {
      border-bottom-color: transparent;
    }
  }

  .resp-accordion {
    display: block;
    border-radius: 0;
  }

  .resp-tab-content {
    display: none;
    padding: $tab-padding;
    background: $tabs-btn-background;
    border: $tabs-btn-border;
    color: $tabs-btn-active-color;
    background: $tabs-btn-active-background;
  }
}

.responsive-tabs-variant-2 {
  overflow: hidden;

  .resp-tabs-list {
    display: none;

    > li {
      position: relative;
      display: inline-block;

      &.resp-tab-active {

        &:before, &:after {
          display: block;
        }

        > .btn {
          border-bottom-color: transparent;

          &:hover {
            color: inherit;
            background: transparent;
          }
        }
      }

      > .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: none;

        &:hover {
          transition: .3s all ease;
        }
      }

      &:before, &:after {
        content: '';
        display: none;
        position: absolute;
        width: 5000px;
        border-bottom: 2px solid;
        bottom: 0;
      }

      &:before {
        right: 100%;
        margin-right: -2px;
      }

      &:after {
        left: 100%;
        margin-left: -2px;
      }
    }
  }

  .resp-accordion, .resp-tabs-list > li {
    &:hover, &.resp-tab-active {

    }

    &.resp-tab-active {
    }
  }

  .btn-default {
    color: $white;
    &:hover {
      color: $gray-dark;
    }
  }

  .resp-accordion {
    display: block;

    &.resp-tab-active {
      .btn-default {
        background: #ebebeb;
        color: $gray-dark;
      }
    }

    > .btn {
      display: block;
    }
  }

  .resp-tab-content {
    display: none;
    padding-top: 50px;
  }

  .resp-tab-content + .resp-accordion {
    margin-top: 10px;
  }
}

.responsive-tabs:not(.resp-easy-accordion) {
  @media (min-width: 768px) {
    .resp-accordion {
      display: none;
    }

    .resp-tabs-list {
      display: block;
    }
  }
}

.vertical-tabs {
  .resp-tabs-list {
    display: none;
    @include media-breakpoint-up(md) {
      float: left;
      max-width: 250px;
    }
    li {
      width: 100%;
    }
    li + li {
      @include media-breakpoint-up(sm) {
        margin-left: 0;
        margin-top: 9px;
      }

    }
    & + * {
      margin-top: 0;
    }
  }
  .resp-tabs-container {
    width: 100%;
    @include media-breakpoint-up(md) {
      float: left;
      width: 64%;
      padding-left: 51px;
    }
    @include media-breakpoint-up(lg) {
      width: 46%;
    }

  }
}

.horizontal-tabs {
  .resp-tabs-list {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }
}