/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

//Arrow
.slick-arrow {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  z-index: 2;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  font-family: $fa;
  line-height: 0;
  border: none;
  color: $white;
  background: none;
  transition: 0.3s;
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: none;
  }
}

.slick-prev {
  left: 25px;
  &:before {
    content: "\f053";
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s;
  }
}

.slick-next {
  right: 25px;
  &:before {
    content: "\f054";
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s;
  }
}

// Owl carousel thumbnail

.carousel-thumbnail {

  margin-top: 30px;
  padding: 0 35px;

  .slick-slide {
    position: relative;
    padding: 0 10px;
    transition: .3s;
    opacity: .5;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.slick-current,
    &:hover {
      opacity: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        z-index: 1;
        display: inline-block;
        height: 100%;
        border-bottom: 5px solid $primary;
      }
    }
  }
  .slick-prev {
    left: 0;
    color: $gray-darker;
    transition: 0.3s;
    &:hover {
      color: $primary;
    }
  }
  .slick-next {
    right: 0;
    color: $gray-darker;
    transition: 0.3s;
    &:hover {
      color: $primary;
    }
  }
}