/**
 * @subsection   Swiper 3.1.7
 * @description  Most modern mobile touch slider and framework with
 *               hardware accelerated transitions
 * @author       Vladimir Kharlampidi
 * @see          http://www.idangero.us/swiper/
 * @licesne      MIT License
 */

.swiper-container {
  height: 30vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  min-height: 230px;
  @media (min-width: 640px) {
    height: 62vh;
  }
  @include media-breakpoint-up(xl) {
    height: 69vh;
  }
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center center;
  
  &.rd-parallax{
    .rd-parallax-layer[data-type="media"] {
      opacity: 1;
    }
  }

  .rd-parallax-inner{
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0,0,0,.2);
      transition: 1.2s;
      transition-delay: 0.6s;
      z-index: 1;
    }
    .rd-parallax-layer-holder{
      position: relative;
      z-index: 9;
    }
  }

  &-active{
    .rd-parallax-inner {
      &:after {
        background: rgba(0,0,0,.6);
      }
    }
  }
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  display: none;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 30px;
  font-size: 46px;
  text-align: center;
  margin-top: -23px;
  z-index: 10;
  cursor: pointer;
  opacity: 1;
  color: $white;

  &:hover{
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev {
  left: -15px;
}

.swiper-button-next{
  right:-15px;
}

/* Pagination Styles */
.swiper-pagination {
  display: none;
  position: absolute;
  text-align: center;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  background: $white;
  opacity: 0.5;
  transition: 0.3s;
  &:hover{
    opacity: 1;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  width: 20px;
  height: 20px;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 4%;
  vertical-align: middle;
  width: 100%;
  @include media-breakpoint-up(xl) {
    bottom: 27%;
    right: 19%;
    width: auto;
  }
  @media (min-width: 3000px) {
    bottom: 16%;
    left: 50%;
    width: 25%;
    @include transform(translateX(-50%) translateY(-50%));
  }
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 12px;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/* Cube */
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Scrollbar */
.swiper-scrollbar {
  position: relative;
  -ms-touch-action: none;
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  bottom: 0;
  z-index: 50;
  height: 3px;
  width: 100%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt{
  height: 100%;
}
 
.swiper-slide{
  white-space: nowrap;

  //&:not(.vide):not(.rd-parallax):before,
  //.parallax_cnt:before, .vide__body:before{
  //  content: '';
  //  display: inline-block;
  //  height: 50%;
  //}

  &-caption{
    @include display-flex();
    @include align-items(center);
    width: 100%;
    white-space: normal;
    height: 100%;
    //padding-top: 40px;
    @include media-breakpoint-up(xl) {
      padding-top: 0;
      height: auto;
      max-height: 100%;
      min-height: 420px;
    }
    @media (min-width: 1800px) {
      padding-top: 51px;
    }
    .container{
      text-align: center;
      @media (min-width: 800px) {
        text-align: left;
      }
    }
    .h1 + .h5{
      margin-top: 13px;
    }
    .h5 + .price{
      margin-top: 23px;
    }
    .price + .btn{
      margin-top: 10px;
    }
    .price{
      font-size: 22px;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        font-size: 31px;
      }
      span{
        font-size: 18px;
      }
    }
    h4{
      margin-top: 0;
    }
    *{
      color: #fff;
    }
    p.h1{
      margin-top: -10px;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
    p.h5 {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }

  }

  @include media-breakpoint-up(md) {
    &-caption{
      p{
        display: block;
      }
    }
  }
}

.swiper-button {
  width: 60px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: calc(50% + 48px);
  @include transform(translateY(-50%));
  z-index: 9;

  &.swiper-button-next{
    right: -3px;
    .swiper-button__arrow{
      right: 0;
      &:after {
        right: calc(100% - 10px);
      }
    }
    .preview {
      right: 40px;
      &:after {
        content: 'Next';
        text-align: right;
        @include transform(translateX(-125%));
      }
    }
  }

  &.swiper-button-prev{
    .swiper-button__arrow::after {
      left: calc(100% - 10px);
    }
    .preview {
    }
    .preview {
      left: 40px;
      &:after {
        content: 'Previous';
        @include transform(translateX(125%));
      }
      &__img {
        float: left;
        &:first-child {
          width: 32px;
          height: 32px;
        }
        &:nth-child(2) {
          width: 48px;
          height: 48px;
        }
        &:nth-child(3) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }

  .swiper-button__arrow{
    position: absolute;
    top: 50%;
    display: block;
    width: 32px;
    height: 32px;
    @include transform(translateY(-50%));

    &:after {
      position: absolute;
      top: calc(50% - 1px);
      width: 20px;
      height: 1px;
      background: #fff;
      content: '';
      -webkit-transition: width 0.3s 0.2s;
      transition: width 0.3s 0.2s;
      -webkit-backface-visibility: hidden; /* needed because of Chrome bug with prefixed calc */
      backface-visibility: hidden;
    }

    svg{
      fill: #fff;
      @include display-flex();
    }
  }

  .preview {
    position: absolute;
    top: -25%;
    @include display-flex();
    @include align-items(flex-end);
    width: 170px;
    pointer-events: none;
    &__img {
      margin: 0 5px;
      opacity: 0;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5), 0px -1px 0px rgba(255, 255, 255, 0.5);
      transition: 0.3s;
      @include transform(scale(0.3));
      &:first-child {
        width: 64px;
        height: 64px;
      }
      &:nth-child(2) {
        width: 48px;
        height: 48px;
      }
      &:nth-child(3) {
        width: 32px;
        height: 32px;
      }
    }
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      margin: 20px 5px 0;
      width: 100%;
      color: #fff;
      line-height: 1;
      text-transform: uppercase;
      font-size: 13px;
      opacity: 0;
      transition: 0.3s;
    }
  }
}

.lt-ie10{
  #nav-multithumb{
    .preview__img{
      display: none;
    }
  }
}

.desktop{
  .swiper-button {
    &:hover{
      width: 200px;

      .swiper-button__arrow:after {
        width: 200px;
        transition-delay: 0s;
      }
      .preview {
        pointer-events: auto;
        &:after {
          opacity: 1;
          transition-delay: 0.2s;
          @include transform(translateX(0%));
        }
      }
      .preview__img {
        opacity: 1;
        @include transform(scale(1));
        -webkit-background-size: cover;
        background-size: cover;
        float: left;
        &:first-child {
          transition-delay: 0.3s;
        }
        &:nth-child(2) {
          transition-delay: 0.35s;
        }
        &:nth-child(3) {
          transition-delay: 0.4s;
        }
      }
    }
  }
}

.mobile, .tablet{
  .preview{
    display: none;
  }
}
.swiper-button-next,
.swiper-button-prev {
  &:before{
    display: inline-block;
    font-size: 20px;
    font-family: $fa;
  }

  .swiper-button-disabled {
    opacity: .5;
  }
}

.swiper-button-next {
  &:before{
    content: "\f054";
  }
}
.swiper-button-prev{
  &:before{
    content: "\f053";
  }
}

.swiper-button-next {

}
.swiper-vert-mid {
  .swiper-slide-caption{
    padding-top: 0;
    height: 100%;
  }
  .swiper-pagination {
    bottom: 10%;
  }
}