/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/

.countdown-wrap{

  margin: 30px 0;
  @include media-breakpoint-up(md) {
    margin: 40px 0;
  }
  @include media-breakpoint-up(xl) {
    width: 80%;
  }
  @media (min-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.time_circles {
  position: relative;
  width: 100%;
  height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
  position: absolute;
  text-align: center;
  font-family: $font-family-base;
  top: 50% !important;
  transform: translateY(-63%) !important;
  -webkit-transform: translateY(-63%) !important;
}

@media (min-width: $screen-lg) {
  #DateCountdown {
    width: 100%;
  }
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px !important;
  color: $white;
  position: absolute;
  bottom: -65px;
  font-weight: 400;
  left: 0;
  right: 0;
  top: 55px;
  @include media-breakpoint-up(sm) {
    top: 81px;
  }
  @media (min-width: 600px) {
    top: 115px;
  }

  & + * {
    margin-top: 0;
  }
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
  display: block;
  font-size: rem(25px) !important;
  text-align: center;
  font-weight: bold;
  color: $white;

  @media (min-width: $screen-sm) {
    font-size: rem(50px) !important;
  }

  @media (min-width: $screen-lg) {
    font-size: rem(60px) !important;
  }
}

