/*
* @subsection   ToTop
* @license      MIT license - http://opensource.org/licenses/MIT
* @version      1.0.0
*/
.ui-to-top {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #FFF;
  background: $primary;
  position: fixed;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  transition: .3s all ease;

  @include transform(translateY(100px));

  &:hover, &:focus {
    color: #FFF;
    background: $brand-amaranth;
    text-decoration: none;
  }

  &.active{
    @include transform(translateY(0));
  }
}

.mobile .ui-to-top,
.tablet .ui-to-top {
  display: none !important;
}

@include media-breakpoint-up(sm) {
  .ui-to-top {
    right: 24px;
    bottom: 19px;
  }
}


