//Section Jessica Davidson’s Properties
section.section-sm
  .container.text-center.text-md-left
    h2 Jessica Davidson's Offerings
    hr
    .row.row-45.row-md-30.relative.text-left
      .col-sm-12.col-lg-8
        .row.row-45.row-md-60.clearleft-custom-5
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-6.jpg", "$4,339.00/","Building: 123 on the Park", "Introducing Brooklyn's most unique and genteel address: 123 on the Park. A stately, one-of-a-kind rental residence directly overlooking Brooklyn's famed Prospect Park.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-7.jpg", "$2,229.00/","225 Maywood Dr, San Francisco, CA 94127", "One of the original homes built at Ocean Beach.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-8.jpg", "$1,339.00/","2266 48th Ave", "Classic architectural detail, truly superb floor plan & strong upside potential for the next steward to restore this forever home to greatness.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-9.jpg", "$4,339.00/","1336 N Occidental Blvd", "Located in the heart of Silver Lake, this magnificently re-imagined Spanish bungalow is not to be missed.")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-10.jpg", "$2,229.00/","650 Kelton Ave #201", "Front-facing, single level, well-designed floor plan. Secure building in a highly DESIRABLE location!")
          .col-sm-12.col-md-6
            + thumbnail ( "images/index-11.jpg", "$1,339.00/","1735 N Fuller Ave #124", "This charming 2 bed and 2 bath townhome has been beautifully renovated and ready for its next owners.")
          .col-sm-12.text-center.text-md-left.offset-5
            +pagination()

      .col-sm-12.col-lg-4.inset-7.text-center.text-lg-left
        h3 Property Filter
        form.form-mod-1
          .form-group
            label.small(for='select-1') Location
              select.rd-mailform-select#select-1.form-control(name='select-1')
                option(value="Any" selected) Any
                option(value="Denver") Denver
                option(value="Houston") Houston
                option(value="Las Vegas") Las Vegas
                option(value="Orlando") Orlando
                option(value="Phoenix") Phoenix
                option(value="San Diego") San Diego
                option(value="Miami") Miami
                option(value="Atlanta") Atlanta
          .form-group
            label.small(for='select-2') Property Status
              select.rd-mailform-select#select-2.form-control(name='select-2')
                option(value="Any" selected) Any
                option(value="Vacant land") Vacant land
                option(value="Commercial") Commercial
                option(value="Residential") Residential
                option(value="Homes") Homes
                option(value="Condos") Condos
                option(value="Townhouses") Townhouses
                option(value="Foreclosures") Foreclosures
          .form-group
            label.small(for='select-3') Property Type
              select.rd-mailform-select#select-3(name='select-3')
                option(value="Any" selected) Any
                option(value="Under Construction") Under Construction
                option(value="Ready to Move") Ready to Move
          .form-group.form-group-mod-2.pull-left
            label.small(for='select-4') Min Beds
              select.rd-mailform-select#select-4(name='select-4')
                option(value="Any" selected) Any
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
          .form-group.form-group-mod-2.pull-right
            label.small(for='select-5') Min Baths
              select.rd-mailform-select#select-5(name='select-4')
                option(value="Any" selected) Any
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
          .form-group.form-group-mod-1.pull-left
            label.small(for='price') Price (USD)<br>
            input.pull-left.numbers-only#price(type='text', name='min-price', placeholder="100")
            input.pull-right.numbers-only#max-price(type='text', name='max-price',placeholder="10000")
          .form-group.form-group-mod-1.pull-left
            label.small(for='area') Area (Sq Ft)<br>
            input.pull-left.numbers-only#area(type='text', name='min-area', placeholder="1500")
            input.pull-right.numbers-only#max-area(type='text', name='max-area', placeholder="22000")
          button.btn.btn-primary.btn-sm(type="submit") apply filter