//Section My Satisfied Clients
section.section-sm.bg-gray-dark
  .container
    h2 My Satisfied Clients
    hr
    // Owl Carousel
    .owl-carousel.owl-carousel-mod-2(data-items='1', data-md-items='2', data-lg-items='3', data-loop='false', data-margin='30', data-dots="true", data-nav='false', data-autoplay="true")
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-16.jpg" alt="" width="50" height="50")
            cite.h6 Laura Russell
            p
              q Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-17.jpg" alt="" width="50" height="50")
            cite.h6 Richard Santos
            p
              q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-18.jpg" alt="" width="50" height="50")
            cite.h6 Dylan Medina
            p
              q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-16.jpg" alt="" width="50" height="50")
            cite.h6 Laura Russell
            p
              q Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-17.jpg" alt="" width="50" height="50")
            cite.h6 Richard Santos
            p
              q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-18.jpg" alt="" width="50" height="50")
            cite.h6 Dylan Medina
            p
              q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-16.jpg" alt="" width="50" height="50")
            cite.h6 Laura Russell
            p
              q Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-17.jpg" alt="" width="50" height="50")
            cite.h6 Richard Santos
            p
              q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
        .owl-item
          blockquote.quote
            .img-wrap
              img(src="images/index-18.jpg" alt="" width="50" height="50")
            cite.h6 Dylan Medina
            p
              q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!