//Section Description
section.section-sm.bg-gray-dark
  .container
    .row.row-45.justify-content-center
      .col-md-6.col-lg-4.inset-8
        .img-wrap-mod-1
          img(src="images/agent-1.jpg" alt="" width="320" height="320")
        a(href="appointment.html").btn.btn-sm.btn-primary.btn-full-width Make an appointment
        ul.list-unstyled.list-unstyled-mod-1
          li
            a(href="callto:#") #[span.material-icons-local_phone.icon.icon-xxs-mod-1.text-accent] 1-800-1234-581
          li
            a(href="callto:#") #[span.material-icons-local_phone.icon.icon-xxs-mod-1.text-accent] 1-800-1234-578
          li
            a(href="mailto:#") #[span.material-icons-drafts.icon.icon-xxs-mod-1.text-accent] davidson@demolink.org
        ul.list-inline
          li
            a.fa-facebook(href='#')
          li
            a.fa-twitter(href='#')
          li
            a.fa-google(href='#')
      .col-sm-12.col-lg-8
        h4 Description
        p As a dedicated realtor for over 20 years, Jessica Davidson specializes in helping clients buy and sell new and previously owned residential properties throughout the region. She gives a complete understanding on buying and selling issues to her clients.
        p The real estate market consists of a complicated puzzle of many various pieces. She is committed to bringing all of these pieces together for a client with personal approach. Jessica can also provide accurate market appraisals, genuine advice and competent market insight. Feel free to contact her and she will happily assist you.
