mixin category(src, title, text, width, height, categoryClass, categoryData)
  .category(class=categoryClass data-wow-delay=categoryData)
    img(src=src alt="" width=width height=height)
    .category-content
      h4= title
      p= text
      a.btn.btn-sm.btn-primary(href="property-catalog-single.html") More details