mixin thumbnail-3(src, width, height, title, text)
  .thumbnail-3
    img(src=src alt="" width=width height=height)
    .caption
      h6= title
      p.small= text
      a.btn.btn-xs.btn-primary(href="#") More details