mixin thumbnail-2(src, width,height, date, title,comments)
  article.thumbnail.thumbnail-2
    .img-wrap
      a.img-block(href="blog_post.html")
        img(src= src alt="" width= width height= height)
    .caption
      a(href="blog_post.html").h4= title
      .caption-meta
        time(datetime="2017").fa-calendar= date
        a(href="#").badge.fa-user Admin
        a(href="blog_post.html").comment.fa-comment= comments
      if block
        block
      a(href="blog_post.html").btn.btn-md.btn-primary Read more