//Section Vertical Tabs
section.section-md.section-md-mod-1
  .container
    h2 Vertical Tabs
    hr
    .row
      .col-sm-12
        // Responsive-tabs
        .responsive-tabs.vertical-tabs
          ul.resp-tabs-list
            li.btn.btn-primary.btn-primary-transparent.btn-md Tab 1
            li.btn.btn-primary.btn-primary-transparent.btn-md Tab 2
            li.btn.btn-primary.btn-primary-transparent.btn-md Tab 3
            li.btn.btn-primary.btn-primary-transparent.btn-md Tab 4
          .resp-tabs-container.text-sm-left
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.