//Section Horizontal Tabs
section.section-md
  .container
    h2 Horizontal Tabs
    hr
    .row
      .col-lg-8
        // Responsive-tabs
        .responsive-tabs.horizontal-tabs
          ul.resp-tabs-list
            li.btn.btn-primary.btn-primary-transparent.btn-sm Tab 1
            li.btn.btn-primary.btn-primary-transparent.btn-sm Tab 2
            li.btn.btn-primary.btn-primary-transparent.btn-sm Tab 3
            li.btn.btn-primary.btn-primary-transparent.btn-sm Tab 4
          .resp-tabs-container
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            div.fadeIn.animated Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.