//Section 3 Columns Slider
section.section-sm.bg-gray-dark
  .container
    h2 3 Columns Slider
    hr
    // Owl Carousel
    .owl-carousel(data-items='1', data-sm-items='2', data-lg-items='3', data-stage-padding='0', data-loop='false', data-margin='30', data-dots="true", data-nav='false', data-autoplay="true")
      .owl-item
        img(src="images/team-1.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Amanda Castro
          p Listing Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-2.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Albert Fields
          p Real Estate Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-3.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Catherine Schmidt
          p Broker
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-1.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Amanda Castro
          p Listing Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-2.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Albert Fields
          p Real Estate Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-3.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Catherine Schmidt
          p Broker
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-1.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Amanda Castro
          p Listing Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-2.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Albert Fields
          p Real Estate Agent
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
      .owl-item
        img(src="images/team-3.jpg" alt="" width="370" height="370")
        .owl-item-content
          h4 Catherine Schmidt
          p Broker
          a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
