//Section Our Advantages
section.section-md.bg-gray.text-center.text-lg-left
  .container
    h2 Our Advantages
    hr
    .row.row-60.clearleft-custom-2
      .col-md-6.col-lg-6.wow.fadeInUp(data-wow-delay=".2s")
        +media("media-mod-1 flex-column align-items-center flex-lg-row align-items-lg-start","linecons-location4 icon icon-lg bg-primary", "Various Locations", "Search by state then by city to find an apartment  overlooking the lake in Chicago, within walking distance of the beach in Los Angeles or in the heart of Atlanta.")
      .col-md-6.col-lg-6.wow.fadeInUp(data-wow-delay=".4s")
        +media("media-mod-1 flex-column align-items-center flex-lg-row align-items-lg-start","linecons-camera7 icon icon-lg bg-primary", "View Apartments", "View apartment listings with photos, HD videos, InsideView virtual tours, 3D floor plans, and more, while also choosing the apartment and community features that you want.")
      .col-md-6.col-lg-6.wow.fadeInUp(data-wow-delay=".6s")
        +media("media-mod-1 flex-column align-items-center flex-lg-row align-items-lg-start","linecons-blockade icon icon-lg bg-primary", "Privacy and Security", "Renters insurance helps keep your belongings secure, whether they're on your desk, under your couch, or in some cases, even in your car's glove box.")
      .col-md-6.col-lg-6.wow.fadeInUp(data-wow-delay=".8s")
        +media("media-mod-1 flex-column align-items-center flex-lg-row align-items-lg-start","linecons-banknote icon icon-lg bg-primary", "No Commission", "You will therefore appreciate this opportunity to acquire a high-quality apartment for rent without having to pay any commission to our real estate agency.")