//Section Find your home
section.section-sm.section-sm-mod-1(class=background_color)
  .container.position-margin-top(class=position_margin_top_adjuster)
    .search-form-wrap.bg-white.container-shadow
      h3 Find Your Home
      form.form-variant-1
        .form-group
          label(for='keyword') Keyword
          input#keyword(type='text', name='keyword', placeholder="Any")
        .form-group
          label(for='select-1') Location
          select#select-1.rd-mailform-select(name='select-1')
            option(value="Any" selected) Any
            option(value="Denver") Denver
            option(value="Houston") Houston
            option(value="Las Vegas") Las Vegas
            option(value="Orlando") Orlando
            option(value="Phoenix") Phoenix
            option(value="San Diego") San Diego
            option(value="Miami") Miami
            option(value="Atlanta") Atlanta
        .form-group
          label(for='select-2') Property Status
          select.rd-mailform-select#select-2(name='select-2')
            option(value="Any" selected) Any
            option(value="Vacant land") Vacant land
            option(value="Commercial") Commercial
            option(value="Residential") Residential
            option(value="Homes") Homes
            option(value="Condos") Condos
            option(value="Townhouses") Townhouses
            option(value="Foreclosures") Foreclosures
        .form-group
          label(for='select-3') Property Type
          select.rd-mailform-select#select-3(name='select-3')
            option(value="Any" selected) Any
            option(value="Under Construction") Under Construction
            option(value="Ready to Move") Ready to Move
        .form-group.width-1
          label(for='range-1') Price (USD)<br>
          input#range-1.rd-range-input-value.rd-range-input-value-1(type='text', name='range-2')
          input#range-2.rd-range-input-value.rd-range-input-value-2(type='text', name='range-3')
          .rd-range(data-min='100', data-max='10000', data-start='[600, 9500]', data-step='50', data-tooltip='true', data-min-diff='100', data-input='.rd-range-input-value-1', data-input-2='.rd-range-input-value-2')
        .form-group.width-1
          label(for='range-3') Area (Sq Ft)<br>
          input#range-3.rd-range-input-value.rd-range-input-value-3(type='text', name='range-2')
          input#range-4.rd-range-input-value.rd-range-input-value-4(type='text', name='range-3')
          .rd-range(data-min='500', data-max='22000', data-start='[2000, 20000]', data-step='50', data-tooltip='true', data-min-diff='500', data-input='.rd-range-input-value-3', data-input-2='.rd-range-input-value-4')
        .form-group.width-2
          label(for='select-7') Min Beds
          select.rd-mailform-select#select-7(name='select-7')
            option(value="Any" selected) Any
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
        .form-group.width-2
          label(for='select-8') Min Baths
          select.rd-mailform-select#select-8(name='select-8')
            option(value="Any" selected) Any
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
        button.btn.btn-md.btn-primary Search
        .features
          a(href="" onclick="return false").btn-features
            span
            | Look for certain features
          ul.checkbox.list-inline
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Central Heating (7)
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Lawn (6)
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Marble Floors (8)
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Fire Alarm (5)
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Home Theater (3)
            li
              label.mfCheckbox
                input.mfCheckbox__input(type='checkbox')
                span Hurricane Shutters (1)


