//Section Our Team
section
  // Owl Carousel
  .owl-carousel(data-items='1', data-sm-items='2', data-lg-items='3', data-xl-items='4', data-stage-padding='0', data-loop='false', data-margin='0', data-dots='false', data-nav="true", data-autoplay="true")
    .owl-item
      img(src="images/index-12.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Michelle Nelson
        p Realtor
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-13.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Brandon Miller
        p Manager
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-14.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Christina Harvey
        p Realtor
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-15.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Carolyn Stone
        p Realtor
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-12.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Michelle Nelson
        p Realtor
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-13.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Brandon Miller
        p Manager
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
    .owl-item
      img(src="images/index-14.jpg" alt="" width="480" height="570")
      .owl-item-content
        h4 Christina Harvey
        p Realtor
        a.btn.btn-sm.btn-primary(href='agent-personal.html') get in touch
