
<!--Section 4 Columns Slider-->
<section class="section-sm bg-dark">
  <div class="container">
    <h2>3 Columns Slider</h2>
    <hr/>
    <!-- Owl Carousel-->
    <div data-items="1" data-xs-items="2" data-sm-items="2" data-md-items="4" data-stage-padding="0" data-loop="false" data-margin="30" data-dots="true" data-autoplay="true" class="owl-carousel">
      <div class="owl-item"><img src="images/team-1.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Amanda Castro</h4>
          <p>Listing Agents</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-2.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Albert Fields</h4>
          <p>Real Estate Agent</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-3.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Catherine Schmidt</h4>
          <p>Broker</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-1.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Amanda Castro</h4>
          <p>Listing Agents</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-2.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Albert Fields</h4>
          <p>Real Estate Agent</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-3.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Catherine Schmidt</h4>
          <p>Broker</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-1.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Amanda Castro</h4>
          <p>Listing Agents</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-2.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Albert Fields</h4>
          <p>Real Estate Agent</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
      <div class="owl-item"><img src="images/team-3.jpg" alt="" width="370" height="370"/>
        <div class="owl-item-content">
          <h4>Catherine Schmidt</h4>
          <p>Broker</p><a href="agent-personal.html" class="btn btn-sm btn-primary">get in touch</a>
        </div>
      </div>
    </div>
  </div>
</section>