//Section Progress bars Horizontal
section.section-md
  .container
    h2 Progress Bars
    hr
    .row.row-50.justify-content-center.text-center
      .col-sm-6.col-md-3
        // Progress Bar
        .progress-bar-circle.progress-bar-mod-1(data-value='0.4', data-gradient='#eb3751' data-empty-fill='rgb(245,245,245)' data-size='160' data-thickness='4')
          span.progress-bar__body
        p.text-center Apartments for Sale
      .col-sm-6.col-md-3
        // Progress Bar
        .progress-bar-circle.progress-bar-mod-1(data-value='0.5', data-gradient='#eb3751' data-empty-fill='rgb(245,245,245)' data-size='160' data-thickness='4')
          span.progress-bar__body
        p.text-center Apartments for Rent
      .col-sm-6.col-md-3
        // Progress Bar
        .progress-bar-circle.progress-bar-mod-1(data-value='0.6', data-gradient='#eb3751' data-empty-fill='rgb(245,245,245)' data-size='160' data-thickness='4')
          span.progress-bar__body
        p.text-center Discount
      .col-sm-6.col-md-3
        // Progress Bar
        .progress-bar-circle.progress-bar-mod-1(data-value='0.7', data-gradient='#eb3751' data-empty-fill='rgb(245,245,245)' data-size='160' data-thickness='4')
          span.progress-bar__body
        p.text-center Confidentiality
