//Section Counter
section.section-md.bg-gray-dark
  .container
    h2 Counters
    hr
    .row.row-50
      .col-sm-6.col-md-3
        // CountTo
        .counter 359
        p.text-center Cups of Coffee
      .col-sm-6.col-md-3
        // CountTo
        .counter 173759
        p.text-center Houses
      .col-sm-6.col-md-3
        // CountTo
        .counter 21
        p.text-center Cities
      .col-sm-6.col-md-3
        // CountTo
        .counter 543
        p.text-center Clients/day


