//Section Progress bars Horizontal
section.section-md
  .container
    h2 Skill Bars
    hr
    .row.row-45
      .col-sm-12.col-md-6
        +progress-bar-linear({
          title: "Property management",
          valueTo: "90"
        })

        +progress-bar-linear({
          title: "Rental services",
          valueTo: "50"
        })

        +progress-bar-linear({
          title: "Real estate appraisal",
          valueTo: "90"
        })

        +progress-bar-linear({
          title: "Free consultations",
          valueTo: "50"
        })

      .col-sm-12.col-md-6
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

