//Section Contact Us 2
section.section-sm
  .container
    .row.row-60
      .col-lg-8
        h2 Get in Touch
        hr
        p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.
        p We would be happy to answer your questions.

        .offset-top-60
          include ../../../elements/_contact-form
      .col-lg-4
        .row.row-45.sidebar.text-sm-center.text-lg-left
          .col-sm-12.col-md-4.col-lg-12
            h4 Follow Us
            ul.list-inline
              li
                a.fa-facebook(href='#')
              li
                a.fa-twitter(href='#')
              li
                a.fa-pinterest-p(href='#')
              li
                a.fa-vimeo(href='#')
              li
                a.fa-google(href='#')
              li
                a.fa-rss(href='#')
          .col-sm-12.col-md-4.col-lg-12
            dl.contact-info
              dt
                span.h4 Phone
              dd
                a(href="callto:#") 1-800-123-4567<br>
                a(href="callto:#") 1-800-987-1234
          .col-sm-12.col-md-4.col-lg-12
            dl.contact-info
              dt
               span.h4 E-mail
              dd
                a.text-accent(href="mailto:#") info@demolink.org
          .col-sm-12.col-md-6.col-lg-12
            address.address
              span.h4 Address
              p 123, New Lenox Chicago, IL 6060
          .col-sm-12.col-md-6.col-lg-12
            h4 Open Hours
            p 8:00 - 18:00 Mon - Sat





