section.section-md.bg-default
  
  .container
    h2 Linecons Icons
    hr
    ul.row.row-40

      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-banknote
          .media-body banknote<br> #[span #e000]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-big58
          .media-body big58<br> #[span #e001]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-big59
          .media-body big59<br> #[span #e002]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-big60
          .media-body big60<br> #[span #e003]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-blockade
          .media-body blockade<br> #[span #e004]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-bubble1
          .media-body bubble1<br> #[span #e005]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-camera6
          .media-body camera6<br> #[span #e006]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-camera7
          .media-body camera7<br> #[span #e007]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-cup4
          .media-body cup4<br> #[span #e008]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-data3
          .media-body data3<br> #[span #e009]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-diamons
          .media-body diamons<br> #[span #e00a]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-display14
          .media-body display14<br> #[span #e00b]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-fire
          .media-body fire<br> #[span #e00c]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-heart3
          .media-body heart3<br> #[span #e00d]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-lab
          .media-body lab<br> #[span #e00e]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-leaf5
          .media-body leaf5<br> #[span #e00f]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-like
          .media-body like<br> #[span #e010]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-location4
          .media-body location4<br> #[span #e011]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-news
          .media-body news<br> #[span #e012]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-noodle
          .media-body noodle<br> #[span #e013]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-note2
          .media-body note2<br> #[span #e014]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-packet
          .media-body packet<br> #[span #e015]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-paperclip2
          .media-body paperclip2<br> #[span #e016]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-paperplane
          .media-body paperplane<br> #[span #e017]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-parameters
          .media-body parameters<br> #[span #e018]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-pen3
          .media-body pen3<br> #[span #e019]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-phone12
          .media-body phone12<br> #[span #e01a]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-photo3
          .media-body photo3<br> #[span #e01b]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-search3
          .media-body search3<br> #[span #e01c]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-see
          .media-body see<br> #[span #e01d]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-settings3
          .media-body settings3<br> #[span #e01e]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-shop1
          .media-body shop1<br> #[span #e01f]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small56
          .media-body small56<br> #[span #e020]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small57
          .media-body small57<br> #[span #e021]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small58
          .media-body small58<br> #[span #e022]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small59
          .media-body small59<br> #[span #e023]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small60
          .media-body small60<br> #[span #e024]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-small61
          .media-body small61<br> #[span #e025]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-sound
          .media-body sound<br> #[span #e026]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-stack
          .media-body stack<br> #[span #e027]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-study
          .media-body study<br> #[span #e028]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-t1
          .media-body t1<br> #[span #e029]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-tag6
          .media-body tag6<br> #[span #e02a]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-tv1
          .media-body tv1<br> #[span #e02b]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-user12
          .media-body user12<br> #[span #e02c]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-vynil
          .media-body vynil<br> #[span #e02d]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-wallet
          .media-body wallet<br> #[span #e02e]
      li.col-xl-3.col-lg-4.col-sm-6.clear-shortcode-xs-6
        .media.icon-short-code
          .div.media-left: span.icon.icon-xs.icon-primary.linecons-world5
          .media-body world5<br> #[span #e02f]