//Section popular categories 1
section.section-sm.section-sm-mod-2.text-center.text-md-left
  .container
     h2 Popular Categories
     hr
     .row.row-30.justify-content-center.text-left
       .col-md-6.col-lg-4.order-lg-1
         +category("images/index-1.jpg", "Studio Apartments", "42 properties", "370", "250")
         +category("images/index-2.jpg", "Luxury Houses", "42 properties", "370", "250")
       .col-md-6.col-lg-4.order-lg-3
         +category("images/index-4.jpg", "+1 Bedroom Apartments", "42 properties", "370", "250")
         +category("images/index-5.jpg", "Cozy Houses", "42 properties", "370", "250")
       .col-md-6.col-lg-4.order-lg-2
         +category("images/index-3.jpg", "With Swimming Pool", "42 properties", "370" ,"530" )



