//Section popular categories 1
section.section-sm.text-center.text-md-left
  .container
    h2 Popular categories 2
    hr
    .row.row-45.row-md-60.text-left
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-1.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Studio Apartments
            p 42 properties
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-2.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") With Swimming Pool
            p 42 properties
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-3.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") +1 Bedroom Apartments
            p 42 properties
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-4.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Luxury Houses
            p 42 properties
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-5.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Cozy Houses
            p 42 properties
      .col-sm-12.col-md-6.col-lg-4
        .thumbnail
          a.img-link(href="#")
            img(src="images/categories-6.jpg" width="370" height="250" alt="")
          .caption
            h4
              a(href="#") Rooms for Rent
            p 42 properties




