//Section Button sizes
section.section-md
  .container
    h2 Button Sizes
    hr
    p 4 different sizes: super, large, default and small.
    .btn-group-mod-1
      a.btn.btn-primary.btn-lg(href="#") super size
      a.btn.btn-primary.btn-md(href="#") big size
      a.btn.btn-primary.btn-sm(href="#") base size
      a.btn.btn-primary.btn-xs(href="#") small size

