//Section Button Shapes
section.section-md.bg-gray-dark
  .container
    h2 Button Shapes
    hr
    p 3 different shapes: default, round 1 and round 2.
    .btn-group-mod-1
      a.btn.btn-primary.btn-md(href="#") default
      a.btn.btn-primary.btn-md.btn-shape-1(href="#") round 1
      a.btn.btn-primary.btn-md.btn-shape-2(href="#") round 2

