//Section Button with Shadow
section.section-md.bg-gray-dark
  .container
    h2 Button with Shadow
    hr
    p Enhance your button with a shadow effect.
    .btn-group-mod-1
      a.btn.btn-primary.btn-sm.btn-shadow-1(href="#") shadow

      a.btn.btn-primary.btn-sm.btn-shadow-2(href="#") shadow

      a.btn.btn-primary.btn-primary-transparent.btn-sm.btn-shadow-1(href="#") shadow

