//Section Buttons with Icons
section.section-lg
  .container
    h2 Buttons with Icons
    hr
    p Buttons are fully integrated with 900+ icons.
    .btn-group-mod-1
      a.btn.btn-primary.btn-sm(href="#") icon right
        span.icon.icon-sm.fa-arrow-right
      a.btn.btn-primary.btn-sm(href="#")
        span.icon.icon-left.icon-sm.fa-arrow-left
        | icon left
      a.btn.btn-primary.btn-primary-transparent.btn-sm(href="#") icon right
        span.icon.icon-sm.fa-arrow-right
      a.btn.btn-primary.btn-primary-transparent.btn-sm(href="#")
        span.icon.icon-left.icon-sm.fa-arrow-left
        | icon left

