//Section Find your home
section.section-md
  .container
    .row
      .col-sm-12.col-xl-8
        h1 H1 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find Hexactly what he/she is looking for.
        p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.
        h2 H2 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h3 H3 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h4 H4 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h5 H5 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h6 H6 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h3 Blockquote
        blockquote.quote.quote-mod-1
          p
            q Real estate cannot be lost or stolen, nor can it be carried away. Purchased with common sense, paid for in full, and managed with reasonable care, it is about the safest investment in the world.
          p
            cite Franklin D. Roosevelt
        h3 HTML Text Elements
        p
          a(href="#").text-accent Link Text
          =' '
          a(href="#").text-amaranth Link Hover Text
          =' '
          span.text-darker  Press Link
          =' '
          | Welcome to our wonderful world.
          =' '
          span.text-darker(data-toggle="tooltip" data-placement="top" title="Details") Tooltips
          |  We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
          =' '
          strong Bold Text
          =' '
          span.text-mark highlighted text
          =' '
          | With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          =' '
          em Italic text
          =' '
          del strickethrough text
          =' '
          u underlined text
        h3 Unordered and Ordered Lists
        p
          | Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
        ul.list-marked.text-left
          li
            a(href="#") Highly Customizable;
          li
            a(href="#") Pre-Built Pages;
          li
            a(href="#") Clean Design;
          li
            a(href="#") Extensive Options;
          li
            a(href="#") Top Notch Quality.
        p
          | Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
        ol.ordered-list.text-left
          li
            a(href="#") Highly Customizable;
          li
            a(href="#") Pre-Built Pages;
          li
            a(href="#") Clean Design;
          li
            a(href="#") Extensive Options;
          li
            a(href="#") Top Notch Quality.
        h3 Icon List
    .row.row-60
      .col-md-6
        +media("media-mod-1 flex-column align-items-center align-items-md-start flex-lg-row","linecons-location4 icon icon-lg icon-white bg-primary", "Various Locations", "Search by state then by city to find an apartment  overlooking the lake in Chicago, within walking distance of the beach in Los Angeles or in the heart of Atlanta.")
      .col-md-6
        +media("media-mod-1 flex-column align-items-center align-items-md-start flex-lg-row","linecons-camera7 icon icon-lg icon-white bg-primary", "View Apartments", "View apartment listings with photos, HD videos, InsideView virtual tours, 3D floor plans, and more, while also choosing the apartment and community features that you want.")
    .row.offset-3
      .col-sm-12.col-xl-8
        h3 Image Centered
        img(src="images/typography-1.jpg" alt="" width="770" height="520")
        p.text-darker Light room
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .row.offset-3
      .col-sm-12.col-xl-8
        h3 Image Left
        .media.media-mod-2
          .media-left
            img(src="images/typography-2.jpg" alt="" width="370" height="250")
          .media-body
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .row.offset-3
      .col-sm-12.col-xl-8
        h3 Image Right
        .media.media-mod-2
          .media-body
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          .media-right
            img(src="images/typography-2.jpg" alt="" width="370" height="250")
