section.section-sm
  .container
    h2 Fill in the Form
    hr

    .row.row-45.row-md-60.submit-form.text-left
      .col-md-6
        // RD form
        form.inset-6
          .form-group
            label.form-label-outside.small(for='title') Property Title
            input.form-input#title(type='text', name='title', placeholder='No title')
          .form-group
            label.form-label-outside.small(for='message') Property Description
            textarea#message.form-input(name='message', placeholder='No Description')

          .row
            .col-md-6
              .form-group
                label.small(for='select-1') Type
                select.rd-mailform-select#select-1.form-control(name='select-1')
                  option(value="Any" selected) Any
                  option(value="Under Construction") Under Construction
                  option(value="Ready to Move") Ready to Move
            .col-md-6
              .form-group
                label.small(for='select-2') Property Status
                select.rd-mailform-select#select-2.form-control(name='select-2')
                    option(value="Any" selected) Any
                    option(value="Vacant land") Vacant land
                    option(value="Commercial") Commercial
                    option(value="Residential") Residential
                    option(value="Homes") Homes
                    option(value="Condos") Condos
                    option(value="Townhouses") Townhouses
                    option(value="Foreclosures") Foreclosures
            .col-md-6
              .form-group
                label.small(for='select-3') Location
                select.rd-mailform-select#select-3.form-control(name='select-3')
                    option(value="Any" selected) Any
                    option(value="Denver") Denver
                    option(value="Houston") Houston
                    option(value="Las Vegas") Las Vegas
                    option(value="Orlando") Orlando
                    option(value="Phoenix") Phoenix
                    option(value="San Diego") San Diego
                    option(value="Miami") Miami
                    option(value="Atlanta") Atlanta
            .col-md-6
              .form-group
                label.form-label-outside.small(for='price') Price
                input.form-input#price(type='text', name='price', placeholder="Any")
          .row
            .col-md-4
              .form-group
                label.small(for='select-4') Beds
                select.rd-mailform-select#select-4.form-control(name='select-4')
                    option(value="Any" selected) Any
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
            .col-md-4
              .form-group
                label.small(for='select-5') Baths
                select.rd-mailform-select#select-5.form-control(name='select-5')
                    option(value="Any" selected) Any
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
            .col-md-4
              .form-group
                label.small(for='select-6') Garages
                select.rd-mailform-select#select-6.form-control(name='select-6')
                    option(value="Any" selected) Any
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
      .col-sm-12.col-md-6
        .google-search
          .form-group
            label.form-label-outside.small(for='address') Address
            input.form-input.input-width-1#address(type='search', placeholder='No title')
            button#trigger-search.btn.btn-sm.btn-primary.btn-primary-transparent.btn-max-width-sm Find Address
          +section-gmap({
            gmapClass: 'rd-google-map-mod-2'
          })

      .col-sm-12
        h4 Additional Details
        .details-wrap
          .form-group.input-width-1
            label.form-label-outside.small(for='prop-title') Title
            input.form-input#prop-title(type='text', name='title', placeholder='No title')
          .form-group.input-width-2
            label.form-label-outside.small(for='description') Value
            input.form-input#description(type='text', name='title', placeholder='No value')
          span.icon.icon-xxs.icon-darker.material-icons-close.preffix-2.cursor-pointer

        button.btn.btn-sm.btn-primary.btn-primary-transparent add details
      .col-sm-12
        button(type='submit').btn.btn-sm.btn-primary.btn-min-width-md submit
