//Calendar
section.section-sm
  .container.text-center.text-xl-left
    // RD Calendar
    .rd-calendar
      .rdc-panel
        a.rdc-prev
        span.rdc-month.h3
        span.rdc-fullyear.h3.preffix-1
        a.rdc-next
      .rdc-table
      .rdc-events
        a.rdc-events_close
        ul.list-unstyled
          li.rdc-event(data-date='10/15/2017')
            include ../../elements/_calendar-event

    // Modal
    #appointment.modal.fade(role='dialog').text-left
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal'): span.icon.icon-darker.icon-xxs.fa-close
            h4.modal-title Request Appointment
          .modal-body
            .form-group
              span
                span.icon.icon-darker.fa-calendar
                | March 16, 2017
              span.preffix-2
                span.icon.icon-darker.fa-clock-o
                | 10:00 am - 11:00 am
            .radio
              label
                input( type="radio" name="optradio" value='login')
                | I am a new customer
            .radio
              label
                input( type="radio" name="optradio" value='register' checked='checked')
                | I am a current customer


            .register-form
              h4 Registration
              p Your first name and an email address are required.
              form.rd-form.rd-mailform.rd-form-outside(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-group
                  label.form-label-outside(for='contact-first-name') First Name
                  input#contact-first-name.form-input(type='text' name='name' data-constraints='@Required' placeholder="First name")
                .form-group
                  label.form-label-outside(for='contact-last-name') Last Name
                  input#contact-last-name.form-input(type='text' name='name' data-constraints='@Required' placeholder="Last name")
                .form-group
                  label.form-label-outside(for='login-email') Username or e-mail
                  input#login-email.form-input(type='email' name='email' data-constraints='@Email @Required' placeholder="Username or e-mail")
                .btn-group-isotope
                  button.btn.btn-primary.btn-sm(type='submit') request appointment
                  button.btn.btn-primary.btn-primary-transparent.btn-sm cancel


            .login-form
              h4 Login
              p Fill out the form below to login
              form.rd-mailform-mod-1
                .form-group
                  label.form-label-outside(for='login-email-2') Username or e-mail
                  input#login-email-2.form-input(type='email' name='email' data-constraints='@Email @Required' placeholder="Username or e-mail")
                .form-group
                  label.form-label-outside(for='login-password') Password
                  input#login-password.form-input(type='password' name='password' data-constraints='@Required' placeholder='Password')
                button.btn.btn-primary.btn-md(type='submit') Enter
              p Or enter with
              .btn-group-mod-2
                a(href="#").btn.btn-sm.btn-info
                  span.fa-facebook
                a(href="#").btn.btn-sm.btn-info-2
                  span.fa-twitter
                a(href="#").btn.btn-sm.btn-danger
                  span.fa-google-plus