//Section Our Achievements
section.section-sm.bg-gray
  .container.text-center.text-md-left
    h2 Our Achievements
    hr
    .row.row-45.row-md-30.text-center
      .col-sm-12.col-md-6.col-lg-3
        span.icon.icon-primary.icon-md.fa-trophy
        p The Best Agency 2015
      .col-sm-12.col-md-6.col-lg-3
        span.icon.icon-primary.icon-md.fa-flag
        p The Best Agents Award
      .col-sm-12.col-md-6.col-lg-3
        span.icon.icon-primary.icon-md.fa-graduation-cap
        p Certified by the International Association
      .col-sm-12.col-md-6.col-lg-3
        span.icon.icon-primary.icon-md.fa-star
        p The Five Star Award



