//Section About us
section.section-sm
  .container
    .row.row-45.row-md-30
      .col-sm-12.col-lg-8
        h2 A Few Words About Us
        hr
        p.inset-3 Our company is focused on the real estate market with strong knowledge and expertise regarding the real estate industry. We are distinguished for reliability and honesty. We are recognized as one of the top real estate agencies in the area for residential and commercial real estate sales.
        p.inset-3 Our agency offers a great selection of various properties at affordable prices. Whether you are interested in buying, selling, or leasing real estate, we are here to help you. We will give you all the information you need.
      .col-sm-12.col-md-8.col-lg-4
        h4 Soul of Agency
        .media.media-mod-3
          .media-left.round.img-width-auto
            img.round(src="images/agency-1.jpg" alt="" width="100" height="100")
          .media-body
            h6.text-accent Brandon Miller
            p.small.text-darker Founder, Listing Agent
            a(href="callto:#").text-bold +1 (201) 123 4567
        p He is our leading specialist in everything concerning Real Estate and property management.
        a(href="#").btn.btn-primary.btn-primary-transparent.btn-sm Learn more


