//Section Our Team
section.section-sm
  .container.text-center.text-md-left
    h2 Our Team
    hr
    .row.row-45.row-md-60.text-center
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-2.jpg" alt="" width="140" height="140")
          h4.text-accent Amanda Castro
          p.text-darker Listing Agent
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-3.jpg" alt="" width="140" height="140")
          h4.text-accent Albert Fields
          p.text-darker Real Estate Agent
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-4.jpg" alt="" width="140" height="140")
          h4.text-accent Catherine Schmidt
          p.text-darker Broker
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-5.jpg" alt="" width="140" height="140")
          h4.text-accent Ralph Carlson
          p.text-darker Vice President
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-6.jpg" alt="" width="140" height="140")
          h4.text-accent Madison Gilbert
          p.text-darker Commercial Property Manager
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-7.jpg" alt="" width="140" height="140")
          h4.text-accent Shirley Chapman
          p.text-darker Leasing Associate
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-8.jpg" alt="" width="140" height="140")
          h4.text-accent Scott Marshall
          p.text-darker Accountant
      .col-sm-12.col-md-3
        .team-member.img-width-auto
          img.round(src="images/agency-9.jpg" alt="" width="140" height="140")
          h4.text-accent Lori Hill
          p.text-darker Realtor




