//Section 3 Columns Blog Masonry
section.section-md
  .container
    .row.row-45.row-md-60.clearleft-custom-3.masonry-layout
      .col-sm-12.col-lg-4.col-md-6
        +thumbnail-2("images/three-column-blog-1.jpg","370", "250",  "May 10, 2017", "Being a magnet for your, Berlin's Housing Problems Boil Over", "4")
          p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest.
        +thumbnail-2("images/three-column-blog-4.jpg","370", "250", "May 27, 2017", "Sam Nazarian Has Agreed to Sell Stake in SLS Las Vegas Hotel", "1")
          p Hotelier Sam Nazarian has agreed to sell his minority stake in the SLS Las Vegas hotel and for his company to give up management of the money-losing property on the Las Vegas Strip. Stockbridge Capital Partners, the San Francisco-based real-estate investor that owns 90% of the hotel.
      .col-sm-12.col-lg-4.col-md-6
        +thumbnail-2("images/three-column-blog-2.jpg","370", "250", "May 16, 2017", "Angelina Jolie Pitt's Childhood Home Lists for $2 Million", "3")
          p A childhood home of actress Angelina Jolie Pitt is listing for $2.049 million, according to real-estate agent Richard Ellis of Ellis Sotheby's International Realty.
        +thumbnail-2("images/three-column-blog-5.jpg","370", "250", "May 27, 2017", "3 Easy Ways to Keep Real Estate Agents Motivated", "2")
          p You've done all the prep work. Processes are in place. Leads are flowing in. Everyone has his role. Reaching the end-of-year goal seems like it isn't too far away. You just need time and the perseverance to keep plowing through.
          p But as the months pass by, you notice a little trend. Enthusiasm for the yearly goals fade, and with it motivation.
      .col-sm-12.col-lg-4.col-md-6
        +thumbnail-2("images/three-column-blog-3.jpg","370", "250", "May 24, 2017", "Moshe Silagi Sells 24-Property Portfolio for $224 Million", "6")
          p An Israeli immigrant who built a vast real-estate empire after moving to the U.S. in 1976 has sold a 24-property portfolio in 12 states to a venture of Northstar Commercial Partners and Real Estate funds for $224 million.
      .col-sm-12
        +pagination("")