//Section Blog Post
section.section-md
  .container
    .row.row-45.row-md-60
      .col-lg-8
        .blog-post
          h2 Being a magnet for your, Berlin's Housing Problems Boil Over
          hr
          img(src="images/post_page-1.jpg" alt="" width="770" height="520")
          .blog-meta
            time(datetime="2017").fa-calendar May 10, 2017
            a(href="#").badge.fa-user Admin
            a(href="#").comment.fa-comment 2
          p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest. The demonstrators were protesting soaring apartment rents and the increasing gentrification of the leafy working-class neighborhood of the area.
          p "It will change a lot of the area - we are afraid," said Tom Brown, an artist who leases space for his art gallery nearby and brought a large fake pig to register his disgust.
          img(src="images/post_page-2.jpg" alt="" width="770" height="520")
          p Major global cities like San Francisco, New York and London are groaning under the stress of fast-increasing populations that are far outpacing the creation of new housing. But few cities face a quandary as difficult as Berlin's. More than 40,000 new residents a year have been piling in recently, as Berlin has become a magnet for European youth.
          p Yet no more than 8,000 housing units a year were added through 2014, according to real-estate firm, a yawning gap that lies at the heart of Berlin's housing problems today.
          .blog-post-footer
            ul.list-inline.tags.pull-sm-left
              li
                a(href="#").btn.btn-xs.btn-primary.btn-primary-transparent Real Estate
              li
                a(href="#").btn.btn-xs.btn-primary.btn-primary-transparent Houses
              li
                a(href="#").btn.btn-xs.btn-primary.btn-primary-transparent Berlin
            .blog-post-footer-right
              span.text-darker Share:
              ul.list-inline
                li
                  a.fa-facebook(href='#')
                li
                  a.fa-twitter(href='#')
                li
                  a.fa-pinterest-p(href='#')
                li
                  a.fa-vimeo(href='#')
                li
                  a.fa-google(href='#')
                li
                  a.fa-rss(href='#')
          h4.text-center.text-md-left Posted By
          .media.media-mod-2.flex-column.flex-md-row
            .media-left
              img.round(src="images/post_page-3.jpg" alt="" width="170" height="170")
            .media-body
              h6.text-accent Michelle Beck
              p I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors' comments to cater to their needs better.
        h2 Related Posts
        hr
        .row.row-45.row-md-60
          .col-sm-12.col-md-6
            +thumbnail-2("images/three-column-blog-1.jpg","370", "250",  "May 10, 2017", "Being a magnet for your, Berlin's Housing Problems Boil Over", "3")
              p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest.
          .col-sm-12.col-md-6
            +thumbnail-2("images/three-column-blog-2.jpg","370", "250", "May 16, 2017", "Angelina Jolie Pitt's Childhood Home Lists for $2 Million", "2")
              p A childhood home of actress Angelina Jolie Pitt is listing for $2.049 million, according to real-estate agent Richard Ellis of Ellis Sotheby's International Realty. The four-bedroom midcentury modern measures about 4,000 square feet, and sits on roughly 2 acres on the aptly named.
        .row.offset-top-60
          .col-sm-12
            .text-center.text-md-left
              h2 2 Comments
              hr
            .media.media-mod-2.comment.flex-column.flex-md-row
              .media-left.round
                img.round(src="images/post_page-4.jpg" alt="" width="70" height="70")
              .media-body
                blockquote.quote
                  p
                    cite.h6 Mark Johnson
                  time(datetime="2017").fa-calendar May 10, 2017 at 10:48 am
                  p
                   q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
                a(href="#").fa-mail-reply.icon
            .media.media-mod-2.comment.comment-repost.flex-column.flex-md-row
              .media-left.round
                img.round(src="images/post_page-5.jpg" alt="" width="70" height="70")
              .media-body
                blockquote.quote
                  p
                    cite.h6 Olivia Grosh
                  time(datetime="2017").fa-calendar May 10, 2017 at 15:30 am
                  span.fa-reply.text-darker Mark Johnson
                  p
                    q Thank you!
                  a(href="#").fa-mail-reply.icon

            h2 Send a Comment
            hr
            // Rd Mailform result field
            .rd-mailform-validate
            // RD Mailform
            form.rd-mailform.rd-mailform-mod-4(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .row.row-20
                .col-sm-12.col-md-6
                  .form-wrap
                    input#contact-first-name.form-input(type='text' name='name' data-constraints='@Required')
                    label.form-label(for='contact-first-name') Your First Name

                .col-sm-12.col-md-6
                  .form-wrap
                    input#contact-last-name.form-input(type='text' name='name' data-constraints='@Required')
                    label.form-label(for='contact-last-name') Your Last Name
                .col-12
                  .form-wrap
                    label.form-label(for='contact-message') Message
                    textarea#contact-message.form-input(name='message' data-constraints='@Required')

                .col-12
                  button.btn.btn-primary.btn-md(type='submit') send message

      .col-sm-12.col-lg-4
        include ../../elements/_section_sidebar