//Section Timeline
section.section-md
  .container.timeline
    .row.row-45.row-md-60.justify-content-center.justify-content-xl-start.column-even-offset
      .col-sm-12.text-left.text-lg-center
        time(datetime="2017").h4.position-transform May 2017
      .col-sm-12.col-lg-4.inset-2
        +thumbnail-2("images/two-column-blog-1.jpg","570", "385",  "May 10, 2017", "Being a magnet for your, Berlin's Housing Problems Boil Over", "2")
          p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest.
      .col-sm-12.col-lg-4.inset-1.timeline-right
        +thumbnail-2("images/two-column-blog-2.jpg","570", "385", "May 16, 2017", "Angelina Jolie Pitt's Childhood Home Lists for $2 Million", "4")
          p A childhood home of actress Angelina Jolie Pitt is listing for $2.049 million, according to real-estate agent Richard Ellis of Ellis Sotheby's International Realty. The four-bedroom midcentury modern measures about 4,000 square feet, and sits on roughly 2 acres on the aptly named.
      .col-sm-12.bg-white.z-index.text-left.text-lg-center
        time(datetime="2017").h4.position-transform June 2017
      .col-sm-12.col-lg-4.inset-2
        +thumbnail-2("images/two-column-blog-3.jpg","570", "385", "May 24, 2017", "Moshe Silagi Sells 24-Property Portfolio for $224 Million", "6")
          p An Israeli immigrant who built a vast real-estate empire after moving to the U.S. in 1976 has sold a 24-property portfolio in 12 states to a venture of Northstar Commercial Partners and Real Estate funds for $224 million.
      .col-sm-12.col-lg-4.inset-1.timeline-right
        +thumbnail-2("images/two-column-blog-4.jpg","570", "385", "May 27, 2017", "Sam Nazarian Has Agreed to Sell Stake in SLS Las Vegas Hotel", "1")
          p Hotelier Sam Nazarian has agreed to sell his minority stake in the SLS Las Vegas hotel and for his company to give up management of the money-losing property on the Las Vegas Strip. Stockbridge Capital Partners, the San Francisco-based real-estate investor that owns 90% of the hotel.