//Section 2 Columns Blog
section.section-md
  .container
    .row.row-45.row-md-60.justify-content-center.clearleft-custom-2
      .col-sm-12.col-md-10.col-lg-6
        +thumbnail-2("images/two-column-blog-1.jpg","570", "385",  "May 10, 2017", "Being a magnet for your, Berlin's Housing Problems Boil Over", "4")
          p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest. The demonstrators were protesting soaring apartment rents and the increasing gentrification of the leafy working-class neighborhood of the area.
          p "It will change a lot of the area-we are afraid," said Tom Brown, an artist who leases space for his art gallery nearby and brought a large fake pig to register his disgust. "
      .col-sm-12.col-md-10.col-lg-6
        +thumbnail-2("images/two-column-blog-2.jpg","570", "385", "May 16, 2017", "Angelina Jolie Pitt's Childhood Home Lists for $2 Million", "5")
          p A childhood home of actress Angelina Jolie Pitt is listing for $2.049 million, according to real-estate agent Richard Ellis of Ellis Sotheby's International Realty. The four-bedroom midcentury modern measures about 4,000 square feet, and sits on roughly 2 acres on the aptly named Woods Road in the rural enclave of Snedens Landing in Rockland County, New York, according to Mr. Ellis, who is listing the property with Brandon Wagner, also of Ellis Sotheby's.
      .col-sm-12.col-md-10.col-lg-6
        +thumbnail-2("images/two-column-blog-3.jpg","570", "385", "May 24, 2017", "Moshe Silagi Sells 24-Property Portfolio for $224 Million", "3")
          p An Israeli immigrant who built a vast real-estate empire after moving to the U.S. in 1976 has sold a 24-property portfolio in 12 states to a venture of Northstar Commercial Partners and Real Estate funds for $224 million. Moshe Silagi, 69 years old, said he is greatly reducing his property holdings as part of his plan to "be debt free and enjoy life." He also made big portfolio sales in 1998 and 2007 and estimates that over his career he has sold $1 billion worth of property.
          p Denver-based Northstar, a 16-year-old investment firm, that invests capital raised in Israel, see upside in the portfolio they are buying from Mr. Silagi.
      .col-sm-12.col-md-10.col-lg-6
        +thumbnail-2("images/two-column-blog-4.jpg","570", "385", "May 27, 2017", "Sam Nazarian Has Agreed to Sell Stake in SLS Las Vegas Hotel", "1")
          p Hotelier Sam Nazarian has agreed to sell his minority stake in the SLS Las Vegas hotel and for his company to give up management of the money-losing property on the Las Vegas Strip. Stockbridge Capital Partners, the San Francisco-based real-estate investor that owns 90% of the hotel, has agreed to buy the remaining 10% owned by Mr. Nazarian and his family, according to people familiar with the matter.
      .col-sm-12.col-md-10.col-lg-12
        +pagination("")