//Section Enter Your Question or Subject
section.section-sm
  .container
    h2 Enter Your Question or Subject
    hr
    .row
      .col-sm-12.col-lg-8
        // RD Navbar Search
        .rd-navbar-search.text-center.text-md-left
          form.rd-form.rd-search.rd-navbar-search-form(action='search-results.html' data-search-live='rd-search-results-live' method='GET')
            .form-wrap
              label.form-label(for='rd-search-form-input') Search
              input.form-input(id='rd-search-form-input' type='text' name='s' autocomplete='off')
              #rd-search-results-live.rd-search-results-live
            button.btn.btn-primary.btn-md(type='submit') Search
          span.rd-navbar-live-search-results
        h4.offset-8 Why should I work with real estate agent?
        p There are three main reasons which agent is absolutely necessary.
         | First off is the knowledge of juridical laws and regulations. Laws regulate who can operate on the real estate market and who can take part in the mediation, and who not. Therefore it's clear, that you should choose a legitimate agent, instead one who operates outside of the laws and regulations.
         | Second is the expertise of a licensed real estate agent. Every legitimate real estate agent, apart from his professional education, has expertise, wich allows him to operate professionally and diligently on the real estate market to your benefit. With his help all legal regulations are adhered to.
         | The third reason is security. Through the mediation of a real estate agent, the resulting contract will protect all your rights and interests.
        h4.offset-8 What is property tax?
        p Property tax is a statutory levy, which is levied from the legal or natural person who owns or occupies the property, except those properties which are explicitly freed from this levy.
        h4.offset-8 How is the market value determined?
        p Market value is determined by a communal commission by standards installed by the government. These standards for marketprice evaluation offer grounds to define the value via value of the buildings on the property, microlocation and makrolocation.
        h4.offset-8 Who pays the property tax?
        p If the owner of the property is unknown or unavailable, the occupant of the property is responsible. If the ownership of the property is shared amongst multiple persons, each person is responsible to pay according to its share. The person responsible for the property tax is a natural and legal person at the same time, user of communal and state property.







