//Section Some of your questions
section.section-sm
  .container
    .row
      .col-sm-12.col-lg-8
        h2 Frequently Asked Questions
        hr
        p If you need help, we have a list of frequently asked questions and answers. We strive to give you the best buying experience possible. Click a question below to view the answer.
        // Responsive-tabs
        .responsive-tabs(data-type="accordion")
          ul.resp-tabs-list
            li Why should I work with real estate agent?
            li What is property tax?
            li How is the market value determined?
            li Who pays the property tax?
          .resp-tabs-container
            div There are three main reasons which agent is absolutely necessary.
              |First off is the knowledge of juridical laws and regulations. Laws regulate who can operate on the real estate market and who can take part in the mediation, and who not. Therefore it's clear, that you should choose a legitimate agent, instead one who operates outside of the laws and regulations. Second is the expertise of a licensed real estate agent. Every legitimate real estate agent, apart from his professional education, has expertise, which allows him to operate professionally and diligently on the real estate market to your benefit. With his help all legal regulations are adhered to. The third reason is security. Through the mediation of a real estate agent, the resulting contract will protect all your rights and interests.
            div Property tax is a statutory levy, which is levied from the legal or natural person who owns or occupies the property, except those properties which are explicitly freed from this levy.
            div Market value is determined by a communal commission by standards installed by the government. These standards for marketprice evaluation offer grounds to define the value via value of the buildings on the property, microlocation and makrolocation.
            div If the owner of the property is unknown or unavailable, the occupant of the property is responsible. If the ownership of the property is shared amongst multiple persons, each person is responsible to pay according to its share. The person responsible for the property tax is a natural and legal person at the same time, user of communal and state property.




