/*
* Fixed Layout
*/

$navbar-fixed-height: $navbar-min-height;
$navbar-fixed-line-height: $navbar-min-line-height;
$navbar-fixed-font-size: $navbar-min-font-size;

$navbar-fixed-panel-color: $navbar-panel-color;
$navbar-fixed-panel-background: $gray;
$navbar-fixed-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.17);

.rd-navbar-fixed {
  display: block;

  // RD Navbar Brand
  .rd-navbar-brand {
    position: relative;
    @include display-flex();
    @include justify-content(center);
    //padding-left: ($navbar-fixed-height - $navbar-fixed-line-height)/2;
    width: calc(100% - #{$navbar-fixed-line-height*2 + ($navbar-fixed-height - $navbar-fixed-line-height)/2*2});

    .brand-slogan {
      display: none;
    }
  }

  .rd-navbar-brand {
    display: block;
    text-align: left;
    position: fixed;
    top: 4px;
    left: 56px;
    right: 112px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 17;

    a {
      display: inline-block;
    }
  }

  // RD Navbar Panel
  .rd-navbar-panel {
    @include display-flex();
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: $navbar-fixed-height;
    color: $navbar-fixed-panel-color;
    z-index: 999;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      box-shadow: $navbar-fixed-shadow;
      background: $gray;
    }
  }

  // RD Navbar Toggle
  .rd-navbar-toggle {
    display: inline-block;
  }

  .rd-navbar-nav-wrap {
    @extend %rd-navbar-transition;
    position: fixed;
    top: -56px;
    left: 0;
    width: 232px;
    padding: 112px 0 56px;
    bottom: -56px;
    color: $white;
    background: $navbar-background;
    z-index: 15;
    @include transform(translateX(-120%));

    &.active {
      @include transform(translateX(0));
    }
  }

  .rd-navbar-nav {
    display: block;
    height: 100%;
    overflow: auto;
    font-size: 16px;
    line-height: 26px;
    text-align: left;

    &:before, &:after {
      content: '';
      display: block;
      height: 8px;
    }

    li {
      > a {
        display: block;
        padding: 11px 56px 11px 16px;
        color: $white;
      }

      &.opened > a, a:hover {
        background: lighten($white, 75%);
      }

      &.active {
        .rd-navbar-submenu-toggle {
          &:after {
            color: $white;
          }
        }

        > a {
          color: $white;
          background: $primary;
        }
      }
    }
  }

  .rd-navbar-dropdown,
  .rd-navbar-megamenu {
    display: none;
  }

  .rd-navbar-submenu {
    position: relative;
    @extend %rd-navbar-transition;

    li > a {
      padding-left: 32px;
    }

    .rd-navbar-dropdown li li > a,
    .rd-navbar-megamenu ul li li > a {
      padding-left: 48px;
    }

    &.opened {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        display: block;
      }
    }
  }

  // RD Navbar Search
  .rd-navbar-search {
    display: block;

    form {
      button[type="submit"] {
        display: none;
      }
    }

    &.active {
      .form-group {
        opacity: 1;
        visibility: visible;
      }
    }

    &-form, &-toggle {
      right: 4px;
    }
    &-toggle {
      display: block;
      position: fixed;
      top: 4px;
      right: 56px;
      font-family: 'Material Icons';
      width: 48px;
      height: 48px;
      z-index: 18;
      color: $navbar-color;
    }

    .form-group {
      position: fixed;
      top: 0;
      padding-top: 4px;
      left: 56px;
      right: 112px;
      height: 56px;
      background: $navbar-background;
      z-index: 17;
      @extend %rd-navbar-transition;
      visibility: hidden;
      opacity: 0;

      input {
        width: 100%;
        height: 46px;
        display: block;
        font-size: 22px;
        line-height: 46px;
      }
    }

    &-form, .rd-navbar-live-search-results {
      position: fixed;
      margin-right: 0;
      margin-left: auto;
    }

    .rd-navbar-live-search-results {
      top: $navbar-fixed-height;
    }

    &-form {
      top: 0;
      z-index: 1000;
      left: 50px;
      right: 0;
      height: $navbar-fixed-height;
      label {
        display: none;
      }

      &-input {
        padding: 8px 40px 8px 10px;
        visibility: hidden;
        opacity: 0;
        height: $navbar-fixed-height - 16px;
        border: 1px solid #C3C3C3;
        position: relative;
        top: 8px;
        background: #EAEAEA;
        transition: .3s all ease;
        z-index: 1;
        width: 100%;

        input {
          display: block;
          width: 100%;
          padding: 0 $navbar-fixed-line-height 0 20px;
          height: $navbar-fixed-line-height - 8;
          font-size: 16px;
          line-height: 34px;
          color: $navbar-fixed-panel-color;
          background: darken($navbar-fixed-panel-background, 5%);
        }
      }

      &-submit {
        position: absolute;
        top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
        right: 4px;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
        }

      }
    }

    &-toggle {
      &.active {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.active {
      .rd-navbar-search-form-input,
      .rd-navbar-search-form-submit {
        opacity: 1;
        visibility: visible;
      }
    }

    @include media-breakpoint-up(lg) {
      &-form, .rd-navbar-live-search-results {
        max-width: 340px;
      }

      .rd-navbar-live-search-results {
        right: 4px;
      }
    }

    @include media-breakpoint-up(sm) {
      .rd-navbar-brand {
        .brand-name {
          font-size: $navbar-fixed-font-size;
        }
      }
    }
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    li {
      &:hover,
      &.focus {
        > a, > a:hover {
          color: $navbar-nav-hover-color;
          background: $navbar-nav-active-background;
        }
        > .rd-navbar-submenu-toggle {
          color: #fff;
          &:hover {
            cursor: pointer;
            color: #fff;
          }
        }
      }

      .rd-navbar-dropdown,
      .rd-navbar-megamenu {
        transition: opacity 0.3s, height 0.4s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      &.opened {
        > .rd-navbar-dropdown,
        > .rd-navbar-megamenu {
          opacity: 1;
          height: auto;
        }
        > a {
          background: $navbar-nav-active-background;
          color: $navbar-nav-hover-color;
        }
        > .rd-navbar-submenu-toggle {
          color: #fff;
          &::after {
            @include transform (rotate(180deg));
          }
        }
      }

    }

    .rd-navbar-submenu-toggle {
      width: 270px;
      height: 39px;
      display: inline-block;
      position: absolute;
      top: 0;
      &::after {
        content: '\f078';
        position: absolute;
        top: 22px;
        right: 0;
        margin-top: -22px;
        width: 65px;
        height: 44px;
        font: 400 14px "FontAwesome";
        line-height: 42px;
        text-align: center;
        transition: 0.4s all ease;
        z-index: 2;
        color: $white;
      }
    }
  }

  // Hybrid Styles
  .rd-navbar-collapse,
  .rd-navbar-search-toggle {
    position: fixed;
    top: ($navbar-fixed-height - $navbar-fixed-line-height) / 2;
    height: $navbar-fixed-line-height;
    z-index: 1000;

    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }

  }

  // Rd navbar search
  .rd-navbar-shop {
    position: fixed;
    right: 62px;
    top: 28px;
    z-index: 999;
  }

  // RD Navbar States
  &.active {
    .rd-navbar-nav {
      @include transform(translateX(0));
    }
  }

  &.rd-navbar--on-search {
    @media (max-width: 1199px) {
      .brand-name {
        opacity: 0;
        visibility: hidden;
        @include transform(scale(0.7));
      }
    }
  }

  &.rd-navbar--is-clone {
    display: none;

    .rd-navbar-panel {
      @include transform(translateY(-110%));
    }

    &.rd-navbar--is-stuck {
      .rd-navbar-panel {
        @include transform(translateY(0));
      }
    }
  }

  .rd-navbar-fixed--visible {
    display: block;
  }

  .rd-navbar-fixed--hidden {
    display: none;
  }

  // Link group
  li.link-group {
    display: block;
    &:hover {
      a {
        background-color: inherit;
      }
      .btn {
        background-color: $primary;
        &:hover {
          background-color: transparent;
        }
      }
    }
    a {
      padding: 6px 56px 6px 16px;
      &:hover, &:focus {
        background-color: inherit;
        color: $primary;
      }
      span {
        vertical-align: middle;
      }
    }
    .btn {
      display: inline-block;
      max-width: 240px;
      padding: 11px 26px;
      margin-top: 25px;
      margin-left: 16px;
      &:hover {

      }
    }

  }
  .rd-navbar-nav li + .link-group {
    margin-top: 10px;
  }
  .btn-group {
    display: none;
  }
}

.header_hamburger .rd-navbar-fixed {

  // Large ≥992px
  @include media-breakpoint-up(lg) {
    .rd-navbar-panel {
      top: 25px;
    }
    .rd-navbar-panel::before {
      background-color: transparent;
      box-shadow: none;
    }
    .rd-navbar-top-panel {
      display: none;
    }
    .rd-navbar-nav-wrap {
      @include transform(translateX(-140%));
      &:before {
        content: "";
        display: inline-block;
        position: relative;
        z-index: 999;
        height: 82px;
        width: 320px;
        top: -56px;
        background-color: $white;
      }
      &.active {
        @include transform(translateX(0));
      }
    }

    .rd-navbar-toggle {
      width: 60px;
      height: 60px;
      line-height: 56px;
      background-color: $white;
      transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
      span,
      span:before,
      span:after {
        background-color: $primary;
      }
      &:hover {
        span,
        span:before,
        span:after {
          background-color: $brand-amaranth;
        }
      }
      &.active {
        span,
        span:before,
        span:after {
          background-color: $gray-darker;
        }
        &:hover {
          span,
          span:before,
          span:after {
            background-color: $brand-amaranth;
          }
        }
      }
    }

    .rd-navbar-nav {
      position: absolute;
      width: 320px;
      padding: 140px 0;
      background-color: $white;

      &:before, &:after {
        background-color: $white;
        top: -80px;
      }

      li {

        a {
          position: relative;
          padding: 7px 56px 7px 30px;
          //font-family: $font-family-sec;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $primary;
          //&:hover {
          //  color: $brand-amaranth;
          //}
        }
        &.active,
        &:hover,
        &.focus,
        &.opened {
          a {
            color: $brand-amaranth;
            background: transparent;
          }

          .rd-navbar-submenu-toggle:after {
            display: none;
          }
        }
        .rd-navbar-submenu-toggle {
          width: 320px;
        }
        &.active {

        }
        & + li {
          margin-top: 0;
        }

        &.link-group {
          margin-top: 15px;
          a {
            display: inline-block;
            padding: 4px 0 0 30px;
            font-weight: 400;
            text-transform: none;
            font-family: $font-family-base;
            color: $gray-base;
            .icon {
              color: $gray-darker;
              margin-right: 5px;
            }
            &:hover {
              color: $primary;
            }
            [class*="material-icons-"] {
              font-size: 20px;
            }
          }
          .btn {
            margin-left: 30px;
            margin-top: 30px;
          }
          .btn-sm {
            padding: 10px 20px;
            max-width: 210px;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
          }
          .btn-primary {
            color: $white;
            background-color: $primary;
            &:hover {
              background-color: transparent;
              border-color: $primary;
            }
          }
        }
      }

      .rd-navbar-dropdown,
      .rd-navbar-megamenu {
        padding-left: 20px;
        li a {
          padding: 5px 15px 5px 40px;
          font-size: 18px;
          font-weight: 400;
          //font-family: $font-family-base;
          color: $primary;
          text-transform: none;

          &:hover {
            color: $brand-amaranth;
            &:before {
              @include transform(translateX(3px));
            }
          }
          &:before {
            content: '\f105';
            display: inline-block;
            margin-right: 20px;
            font-family: 'FontAwesome';
            font-size: 18px;
            vertical-align: top;
            color: $gray-darker;
            transition: .3s;
          }
        }
        p {
          padding: 5px 25px;
          color: $primary;
        }
        p + ul {
          margin-top: 0;
        }
      }
    }
    .rd-navbar-panel {
      right: auto;
    }

    .rd-navbar-brand {
      width: 155px;
      top: 27px;
      left: 25px;
      @include transform(translateX(-140%));
      transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .rd-navbar-toggle.active ~ .rd-navbar-brand {
      @include transform(translateX(0));
    }

    .rd-navbar-toggle.active {
      background-color: transparent;
      @include transform(translateX(260px));
    }

    .rd-navbar-nav-wrap {
      bottom: 0;
    }
  }
}