/*
* Navbar components
*/

// RD Navbar
.rd-navbar {
  display: none;
  background: $navbar-background;
  //box-shadow: $navbar-shadow;
  z-index: 2;
}

.rd-navbar-top-panel-wrap {
  padding: 7px 13px 7px 19px;
  @media (min-width: 1300px) {
    padding: 4px 0 4px 10px;
  }
  @include media-breakpoint-between(md, xxxl) {
    max-width: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 1800px) {
    padding: 10px 76px 10px 78px;
  }
}

.tablet, .mobile{
  
  // Large <991px
  @include media-breakpoint-down(md) {
    .rd-navbar-top-panel{
      display: none;
    }
  }
}
.rd-navbar-top-panel {
  display: none;
  font-size: 16px;
  background-color: $gray-dark;
  @include media-breakpoint-up(md) {
    display: block;
  }
  @media (min-width: 1300px) {
    font-size: 18px;
  }

  .login,
  .contact-info,
  .slogan,
  .list-inline {
    display: inline-block;
  }
  .list-inline{
    margin: 0;
    padding-top: 1px;
  }
  .login {
    position: relative;
    a {
      display: inline-block;
      height: 28px;
    }
    span {
      display: inline-block;
      height: 28px;
      margin-right: 3px;
      font-family: $fa;
      font-size: 20px;
      color: $gray-darker;
      vertical-align: middle;
      line-height: 26px;
    }
  }
  .contact-info {
    margin-left: 4%;
    @include media-breakpoint-up(lg) {
      margin-left: 6.5%;
    }
    a {
      position: relative;
      display: inline-block;
      height: 28px;
      span {
        display: inline-block;
        height: 28px;
        margin-right: 3px;
        font-family: $mi;
        font-size: 22px;
        line-height: 26px;
        color: $gray-darker;
        vertical-align: middle;
      }
    }
    a[href*="mailto"] {
      margin-left: 32px;
      @include media-breakpoint-up(lg) {
        margin-left: 59px;
      }
    }
  }
  .slogan {
    margin-left: 11.4%;
    color: $gray-darker;
    display: none;
    @media (min-width: 1800px) {
      display: inline-block;
    }
  }
}

.btn-group {
  min-width: 286px;
  max-width: 500px;
  text-align: left;
  @include media-breakpoint-up(xl) {
    display: table-cell;
  }
  .btn-sm {
    padding: 7px 21px;
    line-height: 1.5;
    @media (min-width: 1300px) {
      padding: 9px 21px;
    }
  }
}

// RD Navbar Toggle
.rd-navbar-toggle {
  @include make-toggle(
                  $navbar-toggle-preset,
                  $navbar-min-line-height,
                  $navbar-min-font-size,
                  $white
  );
  background-color: transparent;
  border: none;
  height: 56px;
  &:focus {
    outline: none;
  }
  display: none;
}

// RD Navbar Brand
.rd-navbar-brand {
  padding-top: 6px;
  display: inline-block;
  .brand-name {
    position: relative;
    text-transform: uppercase;
    text-align: left;
    vertical-align: bottom;
  }
}

.logo-desktop,
.logo-mobile {
  display: none;
}

.rd-navbar-sidebar,
.rd-navbar-static,
.rd-navbar-fullwidth {
  .logo-desktop {
    display: inline-block;
  }
}

.rd-navbar-fixed {
  .logo-mobile {
    display: inline-block;
  }
}

// RD Navbar Nav
.rd-navbar-nav {
}

// RD Navbar Dropdown
.rd-navbar-dropdown {
  display: none;
}

// RD Navbar Search
.rd-navbar-search {
  &-toggle {
    display: inline-block;
    font: 400 18px/36px "FontAwesome";

    &, &:before, &:after {
      text-align: center;
      width: 36px;
      height: 36px;
    }

    &:before, &:after {
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      content: '\f002';
      transition: .3s all ease;
      @include transform(scale(1) rotate(0deg));
    }

    .rd-navbar:not(.rd-navbar-fixed) & {
      &:after {
        content: '\f00d';
        transition: .3s all ease;
        @include transform(scale(0) rotate(-90deg));
      }

      &.active {
        &:before {
          @include transform(scale(0) rotate(90deg));
        }

        &:after {
          @include transform(scale(1) rotate(0deg));
        }
      }
    }

    .rd-navbar-fixed &, .rd-navbar-fixed &:before {
      width: 48px;
      line-height: 48px;
    }
  }

  &-form-submit {
    @include make-toggle(
                    $navbar-search-toggle-preset,
                    $navbar-min-line-height,
                    $navbar-min-font-size,
                    $navbar-panel-color
    );
  }
}

// RD Navbar Live Search Results
.rd-navbar-live-search-results {
  position: absolute;
  left: 15px;
  right: 4px;
  padding: 16px 8px 8px;
  top:3%;
  font-size: 16px;
  line-height: 34px;
  color: #333;
  background: #FFF;
  box-shadow: $navbar-shadow;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  z-index: 998;
  width: 90%;
  @include media-breakpoint-up(sm) {
    width: 96%;
    top:4%;
    @include media-breakpoint-up(md) {
      top:6%;
    }

  }

  @include media-breakpoint-up(xl) {
    width: 67%;
  }

  .search-quick-result {
    padding-left: 8px;
    font-size: 14px;
    line-height: 30px;
    color: #757575;
  }

  .search_list {
    margin-top: 4px;
    font-size: 16px;
    line-height: 30px;

    li + li {
      margin-top: 2px;
      &:last-child{
        margin-left: -40px;
      }
    }

    .search_list li + li:last-child {
      margin-top: 8px;
      border-top: 1px solid #EBEBEB;
      padding-top: 7px;
    }
  }

  .search_link {
    display: block;
    padding: 8px;
    color: #757575;
    border-radius: 2px;

    &:hover {
      background: #F7F7F7;
    }

    p {
      margin-top: 0;
      font-size: 14px;
      display: none;
    }
  }

  .search_title {
    color: #212121;
    font-weight: 400;
  }

  .search_submit {
    display: block;
    text-align: center;
    padding: 8px;
    font-weight: 700;
    color: $primary;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &:hover {
      background: #F7F7F7;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @include media-breakpoint-up(xl) {
    .search_link {
      p {
        display: block;
      }
    }
  }
}

.rd-navbar-live-search-results {
  @include transform(translateY(-100%));

  &.active {
    @include transform(translateY(0));
  }
}

// Rd navbar shop

.rd-navbar-shop {
  display: inline-block;
  font-size: 22px;
  color: $white;
  position: absolute;
  right: 12px;
  @include transform(translateY(-50%));
  top: 50%;
  z-index: 9;
  transition: .3s;
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: 0;
    color: $primary;
  }
}