mixin grid-col(name)
    div(style="height: 40px; background: #f0f0f0; font: 700 11px/40px monospace;") #{name}

mixin section-gmap(obj)
  // RD Google Map
  .rd-google-map.rd-google-map__model(class=obj.gmapClass, data-marker="images/gmap_marker.png", data-marker-active="images/gmap_marker_active.png" data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b4d4e1"},{"visibility":"on"}]}]', data-zoom='14', data-x='-73.9874068', data-y='40.643180')
      ul.map_locations
        li(data-y='40.643180', data-x='-73.9874068')
          p 9870 St Vincent Place, Glasgow, DC 45 Fr 45.