//Section Corporate Clients
section.section-md.text-center.text-md-left
  .container
    .h2 Corporate Clients
    hr
    .row.row-60.clearleft-custom-2
      .col-sm-12.col-lg-6.well-3
        .media.media-mod-4.flex-column.flex-md-row
          .media-left
            img(src="images/clients-2.png" alt="" width="150" height="135")
          .media-body.inset-3
            h4
              a.text-accent(href="#") Tourner
            a(href="#").text-darker www.tourner.com
            p We are awed by human resilience, and believe in the ability of all people to thrive, not just exist.
      .col-sm-12.col-lg-6.well-3
        .media.media-mod-4.flex-column.flex-md-row
          .media-left
            img(src="images/clients-3.png" alt="" width="150" height="101")
          .media-body.inset-3
            h4
              a.text-accent(href="#") Frank's Co.
            a(href="#").text-darker www.franksco.com
            p We are open and transparent about the work we do and how we do it.
      .col-sm-12.col-lg-6.well-3
        .media.media-mod-4.flex-column.flex-md-row
          .media-left
            img(src="images/clients-4.png" alt="" width="150" height="129")
          .media-body.inset-3
            h4
              a.text-accent(href="#") Retro Press
            a(href="#").text-darker www.retropress.com
            p We are awed by human resilience, and believe in the ability of all people to thrive, not just exist.
      .col-sm-12.col-lg-6.well-3
        .media.media-mod-4.flex-column.flex-md-row
          .media-left
            img(src="images/clients-5.png" alt="" width="150" height="101")
          .media-body.inset-3
            h4
              a.text-accent(href="#") Retro Beats
            a(href="#").text-darker www.retrobeats.com
            p We commit to achieving demonstrable impact for our stakeholders, using their feedback to innovate, learn and improve.


