//Section Corporate Clients & Testimonials
section.section-md.text-center.text-md-left.bg-gray-dark
  .container
    .h2 Corporate Clients & Testimonials
    hr
    // Owl Carousel
    .owl-carousel.owl-carousel-mod-1(data-items='1', data-loop='false', data-margin='30', data-dots="true", data-nav='false', data-autoplay="true")
      .owl-item
        .row.row-45.row-md-30
          .col-sm-12.col-lg-3.text-center.img-width-auto
            img(src="images/clients-6.png" alt="" width="180" height="164")
            h4
              a.text-accent(href="#") Tourner
            a(href="#").text-darker www.tourner.com
          .col-sm-12.col-lg-4
            p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
            p Our commitment to supporting and adding value for our customers drives everything we do.
          .col-sm-12.col-lg-5
            blockquote.quote
              .img-wrap
                img(src="images/index-18.jpg" alt="" width="50" height="50")
              cite.h6.text-left Dylan Medina
                span.small.text-darker Manager
              p
                q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!
      .owl-item
        .row.row-45.row-md-30
          .col-sm-12.col-lg-3.text-center.img-width-auto
            img(src="images/clients-6.png" alt="" width="180" height="164")
            h4
              a.text-accent(href="#") Tourner
            a(href="#").text-darker www.tourner.com
          .col-sm-12.col-lg-4
            p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
            p Our commitment to supporting and adding value for our customers drives everything we do.
          .col-sm-12.col-lg-5
            blockquote.quote
              .img-wrap
                img(src="images/clients-1.jpg" alt="" width="50" height="50")
              cite.h6.text-left Madison Reynolds
                span.small.text-darker Manager
              p
                q Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!
      .owl-item
        .row.row-45.row-md-30
          .col-sm-12.col-lg-3.text-center.img-width-auto
            img(src="images/clients-6.png" alt="" width="180" height="164")
            h4
              a.text-accent(href="#") Tourner
            a(href="#").text-darker www.tourner.com
          .col-sm-12.col-lg-4
            p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
            p Our commitment to supporting and adding value for our customers drives everything we do.
          .col-sm-12.col-lg-5
            blockquote.quote
              .img-wrap
                img(src="images/index-16.jpg" alt="" width="50" height="50")
              cite.h6.text-left Laura Russell
               span.small.text-darker Manager
              p
                q Thanks a lot for the quick response. I was really impressed, your solution is excellent!! Your competence is justified!!!